Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*

Added crown for council member
  front-end/src/ui-components/Address.tsx
  front-end/src/ui-components/IdentityBadge.tsx
Due: lint-front-end

both crown and tick
  front-end/src/ui-components/IdentityBadge.tsx
Due: lint-front-end

spacing
  front-end/src/ui-components/Address.tsx
  front-end/src/ui-components/IdentityBadge.tsx
Due: lint-front-end

lint
  front-end/src/ui-components/IdentityBadge.tsx
Due: lint-front-end

Added council member label for council address (#995)
  front-end/src/ui-components/Address.tsx
  front-end/src/ui-components/IdentityBadge.tsx
Due: lint-front-end

Post edit permission fix for polkadot
  hasura/hasura-migrations/metadata/tables.yaml
Due: none

Post edit permission fix for polkadot (#999)
  hasura/hasura-migrations/metadata/tables.yaml
Due: none

cater for redenomination (#987)
  front-end/src/global/networkConstants.ts
Due: lint-front-end

API bump 1.29.1
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

Added support for tagging users
  front-end/src/components/Comment/Comments.tsx
  front-end/src/components/ContentForm.tsx
  front-end/src/ui-components/MarkdownEditor.tsx
Due: lint-front-end

post user
  front-end/src/components/Comment/Comments.tsx
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Added email
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/services/email.ts
  auth-server/src/utils/emailTemplates.ts
  front-end/src/ui-components/MarkdownEditor.tsx
Due: lint-front-end, lint-back-end

get user from username
  auth-server/src/utils/getUserFromUsername.ts
Due: lint-back-end

Added filters for own posts
  front-end/src/components/Filters.tsx
  front-end/src/components/Listings/DiscussionsListing.tsx
  front-end/src/screens/Discussions/Discussions.tsx
  front-end/src/screens/Discussions/index.tsx
Due: lint-front-end

showing own proposals
  front-end/src/components/Listings/ProposalsListing.tsx
  front-end/src/screens/Proposals/ProposalsContainer/index.tsx
  front-end/src/screens/Proposals/index.tsx
Due: lint-front-end

API bump 1.29.1 (#1000)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

kusama node
  kubernetes/node-watcher/values-dashboards-cluster-1.yaml
  kubernetes/node-watcher/values-parity-prod.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

kusama node (#1003)
  kubernetes/node-watcher/values-dashboards-cluster-1.yaml
  kubernetes/node-watcher/values-parity-prod.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

Revert "kusama node (#1003)"
  kubernetes/node-watcher/values-dashboards-cluster-1.yaml
  kubernetes/node-watcher/values-parity-prod.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

Revert "kusama node (#1003)" (#1004)
  kubernetes/node-watcher/values-dashboards-cluster-1.yaml
  kubernetes/node-watcher/values-parity-prod.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

fix
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

fix (#1006)
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Switching LRU mode in redis for keys eviction on max memory usage
  kubernetes/redis/values/dashboards-cluster-1.yaml
  kubernetes/redis/values/parity-prod.yaml
  kubernetes/redis/values/polkadot-prod.yaml
Due: none

fixes
  auth-server/src/controllers/eventsHook.ts
  front-end/src/ui-components/MarkdownEditor.tsx
Due: lint-front-end, lint-back-end

Added support for tagging users (#1001)
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/services/email.ts
  auth-server/src/utils/emailTemplates.ts
  auth-server/src/utils/getUserFromUsername.ts
  front-end/src/components/ContentForm.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/ui-components/MarkdownEditor.tsx
Due: lint-front-end, lint-back-end

Api bump 1.30.1
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

added profile query with username
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/query/profile.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/query/profile.ts
  auth-server/src/types.ts
Due: lint-back-end

Api bump 1.30.1 (#1008)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

user profile query (#1010)
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/query/profile.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/query/profile.ts
  auth-server/src/types.ts
Due: lint-back-end

Added profile query
  front-end/src/App.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/UserProfile/index.tsx
  front-end/src/screens/UserProfile/query.ts
Due: lint-front-end

Added profile page with username (#1011)
  front-end/src/App.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/UserProfile/index.tsx
  front-end/src/screens/UserProfile/query.ts
Due: lint-front-end

Added link to mentions
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/utils/getMentions.ts
  front-end/src/ui-components/MarkdownEditor.tsx
Due: lint-front-end, lint-back-end

Added link to mentions (#1012)
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/utils/getMentions.ts
  front-end/src/ui-components/MarkdownEditor.tsx
Due: lint-front-end, lint-back-end

added username links to email
  auth-server/src/utils/emailTemplates.ts
Due: lint-back-end

added username links to email (#1013)
  auth-server/src/utils/emailTemplates.ts
Due: lint-back-end

Remove redundant info from user profile
  front-end/src/screens/UserProfile/index.tsx
Due: lint-front-end

Remove redundant info from user profile (#1014)
  front-end/src/screens/UserProfile/index.tsx
Due: lint-front-end

Added council votes info for running motions
  front-end/src/components/Post/GovernanceSideBar/Motions/MotionVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Motions/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/Poll/CouncilSignals.tsx
  front-end/src/types.ts
Due: lint-front-end

Added order by dropdown
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Discussions/index.tsx
  front-end/src/screens/Discussions/query.ts
Due: lint-front-end

implementation
  front-end/src/generated/graphql.tsx
  front-end/src/global/sortOptions.ts
  front-end/src/screens/Discussions/Discussions.tsx
  front-end/src/screens/Discussions/index.tsx
  front-end/src/screens/Discussions/query.ts
Due: lint-front-end
