Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-chain-db-watcher:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd chain-db-watcher
  - yarn install
  - yarn lint
  tags:
  - linux-docker

Create validation.test.ts
  front-end/src/util/__tests__/validation.test.ts
Due: lint-front-end

lint
  front-end/src/util/__tests__/validation.test.ts
Due: lint-front-end

helmet
  front-end/package.json
  front-end/src/App.tsx
  front-end/src/components/Head.tsx
  front-end/yarn.lock
Due: lint-front-end

using tsc
  health-monitor/package.json
Due: none

fix
  health-monitor/package.json
Due: none

moved to dev depen
  health-monitor/Dockerfile
  health-monitor/package.json
Due: none

change as per review
  health-monitor/src/index.ts
Due: none

small desktop container width (#772)
  front-end/src/components/Post/Post.tsx
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

grayscale
  front-end/src/ui-components/Address.tsx
Due: lint-front-end

css hacking
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Post/PostContent.tsx
  front-end/src/ui-components/Address.tsx
  front-end/src/ui-components/CreationLabel.tsx
  front-end/src/ui-components/NameLabel.tsx
  front-end/src/ui-components/UpdateLabel.tsx
Due: lint-front-end

Update front-end/src/ui-components/NameLabel.tsx
  front-end/src/ui-components/NameLabel.tsx
Due: lint-front-end

Fix health monitor
  health-monitor/src/index.ts
Due: none

Update validation.test.ts
  front-end/src/util/__tests__/validation.test.ts
Due: lint-front-end

Added check for unique address
  auth-server/src/resolvers/mutation/addressLinkStart.ts
  auth-server/src/utils/messages.ts
  auth-server/test/resolvers/mutation/addressLinkStart.spec.ts
Due: lint-back-end

message change
  auth-server/src/utils/messages.ts
Due: lint-back-end

fix ui glitches (#777)
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Post/PostContent.tsx
  front-end/src/ui-components/Address.tsx
  front-end/src/ui-components/CreationLabel.tsx
  front-end/src/ui-components/NameLabel.tsx
  front-end/src/ui-components/UpdateLabel.tsx
Due: lint-front-end

fix errors
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Comment/Comments.tsx
  front-end/yarn.lock
Due: lint-front-end

chalk >=v4
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

remove chalk>=4
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

mock getNetwork
  front-end/src/util/__tests__/formatBnBalance.test.ts
Due: lint-front-end

getEncoded Address with mocked getNetwork & lint
  front-end/src/util/__tests__/formatBnBalance.test.ts
  front-end/src/util/__tests__/getEncodedAddress.test.ts
Due: lint-front-end

installing ts-jest
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

update @polkadt/api
  health-monitor/package.json
  health-monitor/yarn.lock
Due: none

post id can be null and onchain_referendum is an array
  health-monitor/src/index.ts
Due: none

fix threshold add logs and info
  chain-db-watcher/src/index.ts
  health-monitor/README.md
  health-monitor/src/index.ts
Due: lint-chain-db-watcher

add identity check
  front-end/src/ui-components/Address.tsx
  front-end/src/ui-components/IdentityBadge.tsx
Due: lint-front-end

blockToTime trailing space
  front-end/src/util/__tests__/blockToTime.test.ts
  front-end/src/util/blockToTime.ts
Due: lint-front-end

formatBnBalance trailing space fix
  front-end/src/util/__tests__/formatBnBalance.test.ts
  front-end/src/util/formatBnBalance.ts
Due: lint-front-end

descriptions
  front-end/src/util/__tests__/formatBnBalance.test.ts
  front-end/src/util/__tests__/getEncodedAddress.test.ts
Due: lint-front-end

with popup
  front-end/src/ui-components/IdentityBadge.tsx
  node_modules/.yarn-integrity
  yarn.lock
Due: lint-front-end

cleanup
  node_modules/.yarn-integrity
  yarn.lock
Due: none

Update front-end/src/ui-components/IdentityBadge.tsx
  front-end/src/ui-components/IdentityBadge.tsx
Due: lint-front-end

Bump @polkadot deps (#769)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Comment/Comments.tsx
  front-end/yarn.lock
  util/package.json
  util/yarn.lock
Due: lint-front-end, lint-back-end

Added health monitor (#697)
  auth-server/package.json
  chain-db-watcher/README.md
  chain-db-watcher/package.json
  chain-db-watcher/src/index.ts
  front-end/package.json
  health-monitor/.dockerignore
  health-monitor/.editorconfig
  health-monitor/.eslintignore
  health-monitor/.eslintrc.json
  health-monitor/.gitignore
  health-monitor/Dockerfile
  health-monitor/README.md
  health-monitor/package.json
  health-monitor/src/index.ts
  health-monitor/tsconfig.json
  health-monitor/yarn.lock
  kubernetes/polkassembly/values.yaml
Due: lint-front-end, lint-back-end, lint-chain-db-watcher

Fix address already fixed
  auth-server/test/resolvers/mutation/addressLinkConfirm.spec.ts
  auth-server/test/resolvers/mutation/addressLinkStart.spec.ts
Due: lint-back-end

moved email verify token to redis
  auth-server/src/model/EmailVerificationToken.ts
  auth-server/src/services/auth.ts
  auth-server/src/services/email.ts
  auth-server/src/utils/messages.ts
  auth-server/test/resolvers/mutation/changeEmail.spec.ts
  auth-server/test/resolvers/mutation/resendVerifyEmailToken.spec.ts
  auth-server/test/resolvers/mutation/verifyEmail.spec.ts
  auth-server/test/services/email/email.spec.ts
Due: lint-back-end

Showing linked address without prompting for accounts
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

showing addresses only when available
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

removed user from login/signup response
  auth-server/src/resolvers/mutation/addressLogin.ts
  auth-server/src/resolvers/mutation/addressSignupConfirm.ts
  auth-server/src/resolvers/mutation/login.ts
  auth-server/src/resolvers/mutation/signup.ts
  auth-server/src/schema/type/loginResponse.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  auth-server/test/helpers.ts
  auth-server/test/resolvers/mutation/addressLinkConfirm.spec.ts
  auth-server/test/resolvers/mutation/addressLinkStart.spec.ts
  auth-server/test/resolvers/mutation/addressLogin.spec.ts
  auth-server/test/resolvers/mutation/addressSignup.spec.ts
  auth-server/test/resolvers/mutation/addressUnlink.spec.ts
  auth-server/test/resolvers/mutation/changeEmail.spec.ts
  auth-server/test/resolvers/mutation/changeName.spec.ts
  auth-server/test/resolvers/mutation/changeNotificationPreference.spec.ts
  auth-server/test/resolvers/mutation/changePassword.spec.ts
  auth-server/test/resolvers/mutation/changeUsername.spec.ts
  auth-server/test/resolvers/mutation/login.spec.ts
  auth-server/test/resolvers/mutation/logout.spec.ts
  auth-server/test/resolvers/mutation/postSubscribe.spec.ts
  auth-server/test/resolvers/mutation/postUnsubscribe.spec.ts
  auth-server/test/resolvers/mutation/resendVerifyEmailToken.spec.ts
  auth-server/test/resolvers/mutation/resetPassword.spec.ts
  auth-server/test/resolvers/mutation/signup.spec.ts
  auth-server/test/resolvers/mutation/undoEmailChange.spec.ts
  auth-server/test/resolvers/mutation/verifyEmail.spec.ts
  auth-server/test/resolvers/query/subscription.spec.ts
Due: lint-back-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*
