Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-chain-db-watcher:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd chain-db-watcher
  - yarn install
  - yarn lint
  tags:
  - linux-docker

removed user from login/signup frontend
  front-end/src/components/Login/query.tsx
  front-end/src/components/Signup/query.ts
  front-end/src/generated/graphql.tsx
Due: lint-front-end

removed user
  front-end/src/components/Login/Web2Login.tsx
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/components/Signup/Web2Signup.tsx
Due: lint-front-end

removed unused import
  auth-server/test/resolvers/mutation/changeEmail.spec.ts
  auth-server/test/resolvers/mutation/changeName.spec.ts
  auth-server/test/resolvers/mutation/changeNotificationPreference.spec.ts
  auth-server/test/resolvers/mutation/changePassword.spec.ts
  auth-server/test/resolvers/mutation/changeUsername.spec.ts
  auth-server/test/resolvers/mutation/postUnsubscribe.spec.ts
  auth-server/test/resolvers/mutation/resetPassword.spec.ts
  auth-server/test/resolvers/mutation/undoEmailChange.spec.ts
  auth-server/test/resolvers/mutation/verifyEmail.spec.ts
Due: lint-back-end

fix
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

shorten
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

Added vote tables
  hasura/hasura-migrations/migrations/1589549403527_create_table_public_votes/down.yaml
  hasura/hasura-migrations/migrations/1589549403527_create_table_public_votes/up.yaml
  hasura/hasura-migrations/migrations/1589549502924_table_votes_create_remote_relationship_voter/down.yaml
  hasura/hasura-migrations/migrations/1589549502924_table_votes_create_remote_relationship_voter/up.yaml
Due: none

Added permissions
  hasura/hasura-migrations/migrations/1589549908456_update_permission_anonymous_public_table_votes/down.yaml
  hasura/hasura-migrations/migrations/1589549908456_update_permission_anonymous_public_table_votes/up.yaml
  hasura/hasura-migrations/migrations/1589549939612_update_permission_proposal_bot_public_table_votes/down.yaml
  hasura/hasura-migrations/migrations/1589549939612_update_permission_proposal_bot_public_table_votes/up.yaml
  hasura/hasura-migrations/migrations/1589550038394_update_permission_user_public_table_votes/down.yaml
  hasura/hasura-migrations/migrations/1589550038394_update_permission_user_public_table_votes/up.yaml
  hasura/hasura-migrations/migrations/1589550076113_apply_same_permissions_public_table_votes/down.yaml
  hasura/hasura-migrations/migrations/1589550076113_apply_same_permissions_public_table_votes/up.yaml
  hasura/hasura-migrations/migrations/1589550082808_update_permission_user_public_table_votes/down.yaml
  hasura/hasura-migrations/migrations/1589550082808_update_permission_user_public_table_votes/up.yaml
Due: none

Added votes post relationship
  hasura/hasura-migrations/migrations/1589550785821_add_relationship__table_public_votes/down.yaml
  hasura/hasura-migrations/migrations/1589550785821_add_relationship__table_public_votes/up.yaml
Due: none

padding
  front-end/src/ui-components/IdentityBadge.tsx
Due: lint-front-end

spacing
  front-end/src/ui-components/IdentityBadge.tsx
Due: lint-front-end

Update getEncodedAddress.test.ts
  front-end/src/util/__tests__/getEncodedAddress.test.ts
Due: lint-front-end

fix greyed green check
  front-end/src/ui-components/Address.tsx
Due: lint-front-end

removed stray notification
  auth-server/src/schema/query/notification.ts
Due: lint-back-end

removed stray notification bis
  auth-server/src/schema/index.ts
Due: lint-back-end

Remove unused notification schema (#787)
  auth-server/src/schema/index.ts
  auth-server/src/schema/query/notification.ts
Due: lint-back-end

Added UI
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/Poll/CouncilSignals.tsx
  front-end/src/components/Post/Poll/OffChainSignals.tsx
  front-end/src/components/Post/Poll/index.tsx
  front-end/src/components/Post/Poll/query.ts
  front-end/src/components/Post/Post.tsx
  front-end/src/ui-components/CouncilSignalBar.tsx
  front-end/src/ui-components/OffChainSignalBar.tsx
Due: lint-front-end

Added Offchain Poll
  front-end/src/components/Post/Poll/OffChainSignals.tsx
  front-end/src/components/Post/Poll/index.tsx
  front-end/src/components/Post/Poll/query.ts
  front-end/src/components/Post/Poll/votes.ts
  front-end/src/components/Post/Post.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/ui-components/Card.tsx
  front-end/src/ui-components/OffChainSignalBar.tsx
  hasura/hasura-migrations/migrations/1589549403527_create_table_public_votes/up.yaml
  hasura/hasura-migrations/migrations/1589549939612_update_permission_proposal_bot_public_table_votes/down.yaml
  hasura/hasura-migrations/migrations/1589549939612_update_permission_proposal_bot_public_table_votes/up.yaml
  hasura/hasura-migrations/migrations/1589713322733_create_table_public_post_votes/down.yaml
  hasura/hasura-migrations/migrations/1589713322733_create_table_public_post_votes/up.yaml
  hasura/hasura-migrations/migrations/1589713356426_add_relationship__table_public_post_votes/down.yaml
  hasura/hasura-migrations/migrations/1589713356426_add_relationship__table_public_post_votes/up.yaml
  hasura/hasura-migrations/migrations/1589713396627_table_post_votes_create_remote_relationship_voter/down.yaml
  hasura/hasura-migrations/migrations/1589713396627_table_post_votes_create_remote_relationship_voter/up.yaml
  hasura/hasura-migrations/migrations/1589713424209_add_relationship__table_public_posts/down.yaml
  hasura/hasura-migrations/migrations/1589713424209_add_relationship__table_public_posts/up.yaml
  hasura/hasura-migrations/migrations/1589713763447_update_permission_anonymous_public_table_post_votes/down.yaml
  hasura/hasura-migrations/migrations/1589713763447_update_permission_anonymous_public_table_post_votes/up.yaml
  hasura/hasura-migrations/migrations/1589713783663_update_permission_user_public_table_post_votes/down.yaml
  hasura/hasura-migrations/migrations/1589713783663_update_permission_user_public_table_post_votes/up.yaml
  hasura/hasura-migrations/migrations/1589713825290_update_permission_user_public_table_post_votes/down.yaml
  hasura/hasura-migrations/migrations/1589713825290_update_permission_user_public_table_post_votes/up.yaml
  hasura/hasura-migrations/migrations/1589713857773_apply_same_permissions_public_table_post_votes/down.yaml
  hasura/hasura-migrations/migrations/1589713857773_apply_same_permissions_public_table_post_votes/up.yaml
Due: lint-front-end

Everything works
  front-end/src/components/Post/Poll/CouncilSignals.tsx
  front-end/src/components/Post/Poll/index.tsx
  front-end/src/types.ts
Due: lint-front-end

onchain only
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

removed console
  front-end/src/components/Post/Poll/CouncilSignals.tsx
Due: lint-front-end

tab
  front-end/src/ui-components/IdentityBadge.tsx
Due: lint-front-end

Add identity check next to account's names (#780)
  front-end/src/ui-components/Address.tsx
  front-end/src/ui-components/IdentityBadge.tsx
Due: lint-front-end

blockToTime comments
  front-end/src/util/__tests__/blockToTime.test.ts
  front-end/src/util/blockToTime.ts
Due: lint-front-end

Update front-end/src/util/__tests__/formatBnBalance.test.ts
  front-end/src/util/__tests__/formatBnBalance.test.ts
Due: lint-front-end

Update formatBnBalance.test.ts
  front-end/src/util/__tests__/formatBnBalance.test.ts
Due: lint-front-end

Update validation.test.ts
  front-end/src/util/__tests__/validation.test.ts
Due: lint-front-end

wip: added config
  kubernetes/polkassembly/templates/health-monitor-config.yaml
  kubernetes/polkassembly/values.yaml
Due: none

added health-check deployment
  kubernetes/polkassembly/templates/_helpers.tpl
  kubernetes/polkassembly/templates/chain-db-watcher-service.yaml
  kubernetes/polkassembly/templates/health-monitor-config.yaml
  kubernetes/polkassembly/templates/health-monitor-deployment.yaml
  kubernetes/polkassembly/templates/health-monitor-service.yaml
  kubernetes/polkassembly/values.yaml
Due: none

add heath-monitor to dockerize stage
  .gitlab-ci.yml
Due: none

using default address field
  front-end/src/components/Post/Poll/CouncilSignals.tsx
Due: lint-front-end

removed span
  front-end/src/components/Post/Poll/CouncilSignals.tsx
Due: lint-front-end

sidebar glitch fix
  front-end/src/components/Post/Post.tsx
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

fixes for staging health endpoints
  kubernetes/polkassembly/values.yaml
Due: none

added health-monitor variables for prod env
  kubernetes/polkassembly/values-parity-prod.yaml
Due: none

init
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/utils/getPassingThreshold.ts
  front-end/src/components/Post/GovernanceSideBar/Referenda/utils/index.ts
  front-end/src/components/Post/GovernanceSideBar/Referenda/utils/isPassing.ts
  front-end/src/components/Post/GovernanceSideBar/Referenda/utils/newton-raphson.ts
  front-end/src/components/Post/GovernanceSideBar/Referenda/utils/solveQuadraticEquation.ts
  front-end/src/components/Post/GovernanceSideBar/Referenda/utils/types.ts
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/ui-components/VoteProgress.tsx
  front-end/tsconfig.json
Due: lint-front-end

comment out the prisma 4466 server check
  health-monitor/src/index.ts
Due: none

comment
  health-monitor/src/index.ts
Due: none

Fv add healthcheck to deployement (#791)
  .gitlab-ci.yml
  health-monitor/src/index.ts
  kubernetes/polkassembly/templates/_helpers.tpl
  kubernetes/polkassembly/templates/chain-db-watcher-service.yaml
  kubernetes/polkassembly/templates/health-monitor-config.yaml
  kubernetes/polkassembly/templates/health-monitor-deployment.yaml
  kubernetes/polkassembly/templates/health-monitor-service.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

adding infobox to home for users without a default address
  front-end/src/screens/Home/index.tsx
  front-end/src/ui-components/GlobalStyle.tsx
  front-end/src/ui-components/InfoBox.tsx
Due: lint-front-end

hide on mobile
  front-end/src/screens/Home/index.tsx
Due: lint-front-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*
