Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*

docker v1.3.1 with polkassembly tasks only
  node-watcher/kubernetes/nomidotwatcher-chain-tip.yaml
  node-watcher/package.json
  node-watcher/src/tasks/index.ts
Due: none

use v1.3.1 and remove changlogs and @substrate names
  chain-db-open-server/CHANGELOG.md
  chain-db-open-server/package.json
  node-watcher/CHANGELOG.md
  node-watcher/kubernetes/nomidotwatcher-chain-tip.yaml
  node-watcher/kubernetes/nomidotwatcher-job.yaml
  node-watcher/kubernetes/nomidotwatcher-last-50k-job.yaml
  node-watcher/kubernetes/v1.5/nodewatcher-deployment-staging.yaml
  node-watcher/kubernetes/v1.5/nodewatcher-service.yaml
  node-watcher/kubernetes/v1.5/nomidotwatcher-job.yaml
  node-watcher/kubernetes/v1.5/nomidotwatcher-last-50k-job.yaml
  node-watcher/package.json
Due: none

rewrite readme and headers
  chain-db-open-server/README.md
  chain-db-open-server/src/index.ts
  chain-db-open-server/src/resolvers/query.ts
  chain-db-open-server/src/resolvers/subscription.ts
  chain-db-open-server/src/types.ts
  hasura/README.md
  node-watcher/README.md
  node-watcher/src/index.ts
  node-watcher/src/nodeWatcher.ts
  node-watcher/src/tasks/createBlockNumber.ts
  node-watcher/src/tasks/createCouncil.ts
  node-watcher/src/tasks/createEra.ts
  node-watcher/src/tasks/createHeartbeat.ts
  node-watcher/src/tasks/createMotion.ts
  node-watcher/src/tasks/createMotionStatus.ts
  node-watcher/src/tasks/createNominationAndValidators.ts
  node-watcher/src/tasks/createOfflineValidator.ts
  node-watcher/src/tasks/createPreimage.ts
  node-watcher/src/tasks/createProposal.ts
  node-watcher/src/tasks/createProposalStatus.ts
  node-watcher/src/tasks/createReferendum.ts
  node-watcher/src/tasks/createReferendumStatus.ts
  node-watcher/src/tasks/createReward.ts
  node-watcher/src/tasks/createSession.ts
  node-watcher/src/tasks/createSlashing.ts
  node-watcher/src/tasks/createStake.ts
  node-watcher/src/tasks/createTotalIssuance.ts
  node-watcher/src/tasks/createTreasury.ts
  node-watcher/src/tasks/index.ts
  node-watcher/src/tasks/types.ts
  node-watcher/src/util/filterEvents.ts
  node-watcher/src/util/getReferendumStatus.ts
  node-watcher/src/util/statuses.ts
Due: none

add prisma to launch script
  launch.sh
  node-watcher.log
  node-watcher/package.json
  test.sh
Due: none

clean up
  node-watcher.log
  test.sh
Due: none

with help
  launch.sh
Due: none

with tab
  launch.sh
Due: none

use dir and remove help I cannot get that to work
  launch.sh
  node-watcher.log
Due: none

remove stray log
  node-watcher.log
Due: none

Update launch.sh
  launch.sh
Due: none

remove apiReady and revert AyeNayButtons
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/ui-components/AyeNayButtons.tsx
Due: lint-front-end

ownVote css styling
  front-end/src/components/Post/Poll/GeneralSignals.tsx
Due: lint-front-end

space
  front-end/src/ui-components/AyeNayButtons.tsx
Due: lint-front-end

Fix ayes nays
  front-end/src/ui-components/CouncilSignalBar.tsx
Due: lint-front-end

Use ButtonLink
  front-end/src/components/Post/Poll/GeneralSignals.tsx
Due: lint-front-end

fix percentage decimal display
  front-end/src/ui-components/GeneralChainSignalBar.tsx
Due: lint-front-end

api check
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
Due: lint-front-end

Fix email footer
  auth-server/src/utils/emailTemplates.ts
Due: lint-back-end

Added container to email
  auth-server/src/services/email.ts
  auth-server/src/utils/emailTemplates.ts
Due: lint-back-end

Added markdown to comment content
  auth-server/package.json
  auth-server/src/services/email.ts
  auth-server/src/utils/emailTemplates.ts
  auth-server/yarn.lock
Due: lint-back-end

Cancel poll vote interaction (#815)
  front-end/src/components/Post/Poll/GeneralSignals.tsx
  front-end/src/ui-components/AyeNayButtons.tsx
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/GeneralChainSignalBar.tsx
Due: lint-front-end

Limit threshold position
  front-end/src/ui-components/VoteProgress.tsx
Due: lint-front-end

fix threshold
  front-end/src/ui-components/VoteProgress.tsx
Due: lint-front-end

the other way around
  front-end/src/ui-components/VoteProgress.tsx
Due: lint-front-end

lint
  front-end/src/ui-components/VoteProgress.tsx
Due: lint-front-end

Fix threshold outside of screen (#823)
  front-end/src/ui-components/VoteProgress.tsx
Due: lint-front-end

Added anchor to comments
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Comment/Comments.tsx
  front-end/src/components/Comment/EditableCommentContent.tsx
Due: lint-front-end

added copy to clipboard util
  front-end/src/util/copyToClipboard.ts
Due: lint-front-end

Added comment link in email
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/types.ts
  auth-server/src/utils/getPostCommentLink.ts
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Comment/Comments.tsx
Due: lint-front-end, lint-back-end

Fix load in view on navigation
  front-end/src/components/Comment/Comment.tsx
Due: lint-front-end

Added button to scroll to top or bottom
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Comment/Comments.tsx
Due: lint-front-end

Update front-end/src/components/Comment/EditableCommentContent.tsx
  front-end/src/components/Comment/EditableCommentContent.tsx
Due: lint-front-end

Fix scroll button
  front-end/src/components/Comment/Comments.tsx
  front-end/src/components/Footer/index.tsx
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Add prisma to launch script (#818)
  launch.sh
  node-watcher/package.json
Due: none

use type guard and avoid over fetching
  front-end/src/components/Post/Post.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/MotionPost/query.ts
  front-end/src/screens/ProposalPost/query.ts
  front-end/src/screens/ReferendumPost/query.ts
  front-end/src/screens/TreasuryPost/query.ts
Due: lint-front-end

comment out Poll
  front-end/src/components/Post/Post.tsx
Due: lint-front-end
