Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

.gitlab-ci.yml:

image: parity/kubetools:latest
variables:
  KUBE_NAMESPACE:                  "polkassembly"
  CI_REGISTRY:                     "gcr.io/test-installations-222013"
  DOCKER_TAG:                      $CI_COMMIT_REF_SLUG
  GIT_STRATEGY:                    fetch
  GIT_DEPTH:                       3

stages:
  - test
  - dockerize
  - deploy

cache:
  key:                             '${CI_JOB_NAME}'
  paths:
    - node_modules/
    - packages/*/node_modules/

#### stage:                        test

lint-front-end:
  stage: test
  image: node:12
  interruptible:                   true
  dependencies:                    []
  script:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - cd front-end
    - yarn install
    - yarn lint
  rules:
    - changes:
      - "front-end/**/*"
  tags:
    - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible:                   true
  dependencies:                    []
  script:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - cd auth-server
    - yarn install
    - yarn lint
  rules:
    - changes:
      - "auth-server/**/*"
  tags:
    - linux-docker

#### stage:                        dockerize

.build_and_push:                   &build_and_push
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  tags:
    - kubernetes-parity-build
  image: docker:git
  services:
    - docker:dind
  script:
    - POD_NAME=$(echo ${CI_JOB_NAME} | sed -E 's/^[[:alnum:]]+-//')
    - export DOCKER_IMAGE="${CI_REGISTRY}/${KUBE_NAMESPACE}-${POD_NAME}"
    - export DOCKER_IMAGE_FULL_NAME=$DOCKER_IMAGE:$DOCKER_TAG
    - echo "$BUILD_ARGS"
    - echo "$DOCKER_REGISTRY_JSON" | docker login -u _json_key --password-stdin https://gcr.io
    - docker build -t "$DOCKER_IMAGE_FULL_NAME" $(echo -E $BUILD_ARGS) $POD_NAME
    - docker push "$DOCKER_IMAGE_FULL_NAME"

dockerize-front-end:
  stage: dockerize
  environment:
    name: parity-build
  before_script:
    - export BUILD_ARGS="--build-arg REACT_APP_HASURA_GRAPHQL_URL=${REACT_APP_HASURA_GRAPHQL_URL} --build-arg REACT_APP_JWT_PUBLIC_KEY=${REACT_APP_JWT_PUBLIC_KEY}"
  only:
      - master
      - /^fv-.*/
  <<: *build_and_push

dockerize-auth-server:
  stage: dockerize
  environment:
    name: parity-build
  only:
      - master
      - /^fv-.*/
  <<: *build_and_push

#### stage:                        deploy

deploy:
  stage: deploy
  variables:
    http_upgrade: '$http_upgrade' # hack, to make nginx conf work with envsubst
  environment:
    name: dashboards-cluster-1
  tags:
    - kubernetes-parity-build
  only:
    - master
  script:
    # check syntax
    - for f in kubernetes/polkassembly/*yaml; do echo $f; cat $f | envsubst | kubectl --dry-run --validate -n polkassembly apply -f -; done
    # print rendered yaml
    - for f in kubernetes/polkassembly/*yaml; do echo $f; cat $f | envsubst; echo '---'; done
    # deploy yaml to cluster
    - for f in kubernetes/polkassembly/*yaml; do cat $f | envsubst | kubectl -n polkassembly apply -f -; done

Update chain-db-watcher-deployment.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
Due: none

Update chain-db-watcher-deployment.yaml (#334)
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
Due: none

fix server name
  kubernetes/polkassembly/front-end-nginx-config.yaml
Due: none

fix server name (#336)
  kubernetes/polkassembly/front-end-nginx-config.yaml
Due: none

watching-mode
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/queries/chain-db.queries.ts
Due: none

nits
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/queries/chain-db.queries.ts
Due: none

sync
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/sync/getter.ts
  chain-db-watcher/src/sync/queries/chain-db.queries.ts
Due: none

k8s
  kubernetes/polkassembly/chain-db-watcher-config.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
Due: none

readme
  chain-db-watcher/README.md
Due: none

Added nginx conf in folder
  front-end/Dockerfile
  front-end/nginx.conf
  kubernetes/polkassembly/front-end-deployment.yaml
  kubernetes/polkassembly/front-end-nginx-config.yaml
Due: lint-front-end

Added nginx conf in folder (#338)
  front-end/Dockerfile
  front-end/nginx.conf
  kubernetes/polkassembly/front-end-deployment.yaml
  kubernetes/polkassembly/front-end-nginx-config.yaml
Due: lint-front-end

added environment variables for chain stuff
  front-end/Dockerfile
Due: lint-front-end

Hiding vote and second card on mobile screens
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

added environment variables for chain stuff (#339)
  front-end/Dockerfile
Due: lint-front-end

Hiding vote and second card on mobile screens (#340)
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Update front-end/src/screens/SignupForm/index.tsx
  front-end/src/screens/SignupForm/index.tsx
Due: lint-front-end

Update front-end/src/App.tsx
  front-end/src/App.tsx
Due: lint-front-end

Update front-end/src/screens/Footer/index.tsx
  front-end/src/screens/Footer/index.tsx
Due: lint-front-end

Implement start block to import/sync from a certain block (#337)
  chain-db-watcher/README.md
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/queries/chain-db.queries.ts
  chain-db-watcher/src/sync/getter.ts
  chain-db-watcher/src/sync/queries/chain-db.queries.ts
  kubernetes/polkassembly/chain-db-watcher-config.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
Due: none

fix
  front-end/src/components/Post/PostMotionInfo.tsx
  front-end/src/components/Post/PostProposalInfo.tsx
  front-end/src/components/Post/PostReferendumInfo.tsx
Due: lint-front-end

fix (#341)
  front-end/src/components/Post/PostMotionInfo.tsx
  front-end/src/components/Post/PostProposalInfo.tsx
  front-end/src/components/Post/PostReferendumInfo.tsx
Due: lint-front-end

Asking user to install appropriate browser to use vote and seconding
  front-end/src/components/Post/Democracy.tsx
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

md as ts
  front-end/src/assets/privacy-policy.ts
  front-end/src/assets/terms-and-conditions.ts
  front-end/src/screens/Footer/index.tsx
  front-end/src/screens/PrivacyPolicy/index.tsx
  front-end/src/screens/TermsAndConditions/index.tsx
  front-end/src/themes/theme.ts
Due: lint-front-end

Using domain name and domain protocol env vars
  auth-server/src/services/email.ts
Due: lint-back-end

footer at bottom
  front-end/src/App.tsx
  front-end/src/screens/Footer/index.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

fixed domain_name and domain_protocol
  auth-server/README.md
Due: lint-back-end

Delete GlobalStyle.tsx
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

Create GlobalStyle.tsx
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

Using domain name and domain protocol env vars (#346)
  auth-server/README.md
  auth-server/src/services/email.ts
Due: lint-back-end

smaller footer
  front-end/src/screens/Footer/index.tsx
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

using reusable code
  front-end/src/components/Post/Democracy.tsx
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

using reusable code
  front-end/src/components/ExtensionNotDetected.tsx
Due: lint-front-end

#348 fix
  front-end/src/screens/LoginForm/index.tsx
  front-end/src/screens/SignupForm/index.tsx
Due: lint-front-end

#342 fix
  front-end/src/components/Post/PostContent.tsx
Due: lint-front-end

Update front-end/src/ui-components/GlobalStyle.tsx
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

Footer (#347)
  front-end/src/App.tsx
  front-end/src/screens/Footer/index.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

Asking user to install appropriate browser to use vote and seconding (#343)
  front-end/src/components/ExtensionNotDetected.tsx
  front-end/src/components/Post/Democracy.tsx
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

UI breakpoint fixes #342 and #348 (#351)
  front-end/src/components/Post/PostContent.tsx
  front-end/src/screens/LoginForm/index.tsx
  front-end/src/screens/SignupForm/index.tsx
Due: lint-front-end

Added address component
  front-end/src/components/Address.tsx
  front-end/src/components/Post/PostMotionInfo.tsx
  front-end/src/components/Post/PostProposalInfo.tsx
  front-end/src/components/Post/PostReferendumInfo.tsx
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end
