Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

.gitlab-ci.yml:

image: parity/kubetools:latest
variables:
  KUBE_NAMESPACE:                  "polkassembly"
  CI_REGISTRY:                     "gcr.io/test-installations-222013"
  DOCKER_TAG:                      $CI_COMMIT_REF_SLUG
  GIT_STRATEGY:                    fetch
  GIT_DEPTH:                       3

stages:
  - test
  - dockerize
  - deploy

cache:
  key:                             '${CI_JOB_NAME}'
  paths:
    - node_modules/
    - packages/*/node_modules/

#### stage:                        test

lint-front-end:
  stage: test
  image: node:12
  interruptible:                   true
  dependencies:                    []
  script:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - cd front-end
    - yarn install
    - yarn lint
  rules:
    - changes:
      - "front-end/**/*"
  tags:
    - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible:                   true
  dependencies:                    []
  script:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - cd auth-server
    - yarn install
    - yarn lint
  rules:
    - changes:
      - "auth-server/**/*"
  tags:
    - linux-docker

#### stage:                        dockerize

.build_and_push:                   &build_and_push
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  tags:
    - kubernetes-parity-build
  image: docker:git
  services:
    - docker:dind
  script:
    - POD_NAME=$(echo ${CI_JOB_NAME} | sed -E 's/^[[:alnum:]]+-//')
    - export DOCKER_IMAGE="${CI_REGISTRY}/${KUBE_NAMESPACE}-${POD_NAME}"
    - export DOCKER_IMAGE_FULL_NAME=$DOCKER_IMAGE:$DOCKER_TAG
    - echo "$BUILD_ARGS"
    - echo "$DOCKER_REGISTRY_JSON" | docker login -u _json_key --password-stdin https://gcr.io
    - docker build -t "$DOCKER_IMAGE_FULL_NAME" $(echo -E $BUILD_ARGS) $POD_NAME
    - docker push "$DOCKER_IMAGE_FULL_NAME"

dockerize-front-end:
  stage: dockerize
  environment:
    name: parity-build
  before_script:
    - export BUILD_ARGS="--build-arg REACT_APP_HASURA_GRAPHQL_URL=${REACT_APP_HASURA_GRAPHQL_URL} --build-arg REACT_APP_JWT_PUBLIC_KEY=${REACT_APP_JWT_PUBLIC_KEY}"
  only:
      - master
      - /^fv-.*/
  <<: *build_and_push

dockerize-auth-server:
  stage: dockerize
  environment:
    name: parity-build
  only:
      - master
      - /^fv-.*/
  <<: *build_and_push

#### stage:                        deploy

deploy:
  stage: deploy
  variables:
    http_upgrade: '$http_upgrade' # hack, to make nginx conf work with envsubst
  environment:
    name: dashboards-cluster-1
  tags:
    - kubernetes-parity-build
  only:
    - master
  script:
    # check syntax
    - for f in kubernetes/polkassembly/*yaml; do echo $f; cat $f | envsubst | kubectl --dry-run --validate -n polkassembly apply -f -; done
    # print rendered yaml
    - for f in kubernetes/polkassembly/*yaml; do echo $f; cat $f | envsubst; echo '---'; done
    # deploy yaml to cluster
    - for f in kubernetes/polkassembly/*yaml; do cat $f | envsubst | kubectl -n polkassembly apply -f -; done

Update front-end/src/screens/SignupForm/index.tsx
  front-end/src/screens/SignupForm/index.tsx
Due: lint-front-end

checkbox adjustments
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

in between
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

remove package etc in root
  node_modules/.yarn-integrity
  package.json
  yarn.lock
Due: none

T&C and Privacy Policy pages, basic footer (#324)
  front-end/src/App.tsx
  front-end/src/assets/privacy-policy.ts
  front-end/src/assets/terms-and-conditions.ts
  front-end/src/screens/Footer/index.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/PrivacyPolicy/index.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/screens/TermsAndConditions/index.tsx
  front-end/src/themes/theme.ts
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

kasuma -> kusama
  auth-server/migrations/20200113102520_address.js
  auth-server/src/services/auth.ts
  auth-server/test/resolvers/mutation/addressLinkConfirm.spec.ts
  auth-server/test/resolvers/mutation/addressLinkStart.spec.ts
  auth-server/test/resolvers/mutation/addressUnlink.spec.ts
Due: lint-back-end

change in front-end
  front-end/Dockerfile
  front-end/README.md
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

kasuma renamed to kusama (#355)
  auth-server/migrations/20200113102520_address.js
  auth-server/src/services/auth.ts
  auth-server/test/resolvers/mutation/addressLinkConfirm.spec.ts
  auth-server/test/resolvers/mutation/addressLinkStart.spec.ts
  auth-server/test/resolvers/mutation/addressUnlink.spec.ts
  front-end/Dockerfile
  front-end/README.md
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end, lint-back-end

removed {proposerAddress}
  front-end/src/components/Post/PostMotionInfo.tsx
Due: lint-front-end

Added address component (#352)
  front-end/src/components/Address.tsx
  front-end/src/components/Post/PostMotionInfo.tsx
  front-end/src/components/Post/PostProposalInfo.tsx
  front-end/src/components/Post/PostReferendumInfo.tsx
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

front
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Comment/Comments.tsx
  front-end/src/fragments/comments.ts
  front-end/src/generated/graphql.tsx
  front-end/src/screens/DiscussionPost/query.ts
  front-end/src/screens/MotionPost/query.ts
  front-end/src/screens/ProposalPost/query.ts
  front-end/src/screens/ReferendumPost/query.ts
Due: lint-front-end

remove parent_comment_id column
  hasura/hasura-migrations/migrations/1581963155466_update_permission_user_public_table_comments/down.yaml
  hasura/hasura-migrations/migrations/1581963155466_update_permission_user_public_table_comments/up.yaml
  hasura/hasura-migrations/migrations/1581963163194_update_permission_anonymous_public_table_comments/down.yaml
  hasura/hasura-migrations/migrations/1581963163194_update_permission_anonymous_public_table_comments/up.yaml
  hasura/hasura-migrations/migrations/1581963179201_update_permission_user_public_table_comments/down.yaml
  hasura/hasura-migrations/migrations/1581963179201_update_permission_user_public_table_comments/up.yaml
  hasura/hasura-migrations/migrations/1581963205483_drop_relationship_comment_public_table_comments/down.yaml
  hasura/hasura-migrations/migrations/1581963205483_drop_relationship_comment_public_table_comments/up.yaml
  hasura/hasura-migrations/migrations/1581963279778_drop_relationship_comments_public_table_comments/down.yaml
  hasura/hasura-migrations/migrations/1581963279778_drop_relationship_comments_public_table_comments/up.yaml
  hasura/hasura-migrations/migrations/1581963288889_delete_fk_public_comments_comments_parent_message_fkey/down.yaml
  hasura/hasura-migrations/migrations/1581963288889_delete_fk_public_comments_comments_parent_message_fkey/up.yaml
  hasura/hasura-migrations/migrations/1581963300572_alter_table_public_comments_drop_column_parent_comment_id/down.yaml
  hasura/hasura-migrations/migrations/1581963300572_alter_table_public_comments_drop_column_parent_comment_id/up.yaml
Due: none

clean up
  front-end/src/generated/graphql.tsx
  front-end/src/screens/DiscussionPost/query.ts
  front-end/src/screens/MotionPost/query.ts
  front-end/src/screens/ProposalPost/query.ts
  front-end/src/screens/ReferendumPost/query.ts
Due: lint-front-end

Remove recursive comments (#356)
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Comment/Comments.tsx
  front-end/src/fragments/comments.ts
  front-end/src/generated/graphql.tsx
  front-end/src/screens/DiscussionPost/query.ts
  front-end/src/screens/MotionPost/query.ts
  front-end/src/screens/ProposalPost/query.ts
  front-end/src/screens/ReferendumPost/query.ts
  hasura/hasura-migrations/migrations/1581963155466_update_permission_user_public_table_comments/down.yaml
  hasura/hasura-migrations/migrations/1581963155466_update_permission_user_public_table_comments/up.yaml
  hasura/hasura-migrations/migrations/1581963163194_update_permission_anonymous_public_table_comments/down.yaml
  hasura/hasura-migrations/migrations/1581963163194_update_permission_anonymous_public_table_comments/up.yaml
  hasura/hasura-migrations/migrations/1581963179201_update_permission_user_public_table_comments/down.yaml
  hasura/hasura-migrations/migrations/1581963179201_update_permission_user_public_table_comments/up.yaml
  hasura/hasura-migrations/migrations/1581963205483_drop_relationship_comment_public_table_comments/down.yaml
  hasura/hasura-migrations/migrations/1581963205483_drop_relationship_comment_public_table_comments/up.yaml
  hasura/hasura-migrations/migrations/1581963279778_drop_relationship_comments_public_table_comments/down.yaml
  hasura/hasura-migrations/migrations/1581963279778_drop_relationship_comments_public_table_comments/up.yaml
  hasura/hasura-migrations/migrations/1581963288889_delete_fk_public_comments_comments_parent_message_fkey/down.yaml
  hasura/hasura-migrations/migrations/1581963288889_delete_fk_public_comments_comments_parent_message_fkey/up.yaml
  hasura/hasura-migrations/migrations/1581963300572_alter_table_public_comments_drop_column_parent_comment_id/down.yaml
  hasura/hasura-migrations/migrations/1581963300572_alter_table_public_comments_drop_column_parent_comment_id/up.yaml
Due: lint-front-end

Added Available KSM balance to vote card
  front-end/src/components/Post/Democracy.tsx
  front-end/src/components/Post/VoteRefrendum.tsx
Due: lint-front-end

Added Available KSM balance to vote card
  front-end/src/util/parseBalance.ts
Due: lint-front-end

lint
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

env
  kubernetes/polkassembly/chain-db-watcher-config.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
Due: none

network type and encoding util
  chain-db-watcher/README.md
  chain-db-watcher/package.json
  chain-db-watcher/src/constants.ts
  chain-db-watcher/src/sync/utils.ts
  chain-db-watcher/src/types.ts
  chain-db-watcher/yarn.lock
Due: none

encode proposer address
  chain-db-watcher/src/graphql_helpers.ts
Due: none

proper typing for network variable
  front-end/src/global/chainProperties.ts
  front-end/src/global/networkConstants.ts
  front-end/src/types.ts
  front-end/src/util/getEncodedAddress.ts
  front-end/src/util/getNetwork.ts
Due: lint-front-end

fix import
  front-end/src/components/Post/PostMotionInfo.tsx
  front-end/src/components/Post/PostProposalInfo.tsx
  front-end/src/components/Post/PostReferendumInfo.tsx
Due: lint-front-end

Show and force addresses kusama encoded in settings (#354)
  front-end/src/components/Post/PostMotionInfo.tsx
  front-end/src/components/Post/PostProposalInfo.tsx
  front-end/src/components/Post/PostReferendumInfo.tsx
  front-end/src/global/chainProperties.ts
  front-end/src/global/networkConstants.ts
  front-end/src/screens/Settings/address.tsx
  front-end/src/types.ts
  front-end/src/util/getEncodedAddress.ts
  front-end/src/util/getNetwork.ts
Due: lint-front-end

eval build-args
  .gitlab-ci.yml
Due: none

eval build-args 2nd try
  .gitlab-ci.yml
Due: none

overflow fix
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Comment/Comments.tsx
  front-end/src/components/Post/PostContent.tsx
Due: lint-front-end

grey hues + cards
  front-end/src/components/DiscussionCard.tsx
  front-end/src/components/GovernanceCard.tsx
  front-end/src/themes/theme.ts
Due: lint-front-end

text area preview overflow
  front-end/src/ui-components/TextArea.tsx
Due: lint-front-end

Comment overflow fix (#364)
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Comment/Comments.tsx
  front-end/src/components/Post/PostContent.tsx
  front-end/src/ui-components/TextArea.tsx
Due: lint-front-end

grey hues + cards (#365)
  front-end/src/components/DiscussionCard.tsx
  front-end/src/components/GovernanceCard.tsx
  front-end/src/themes/theme.ts
Due: lint-front-end

quoting JWT_KEY
  .gitlab-ci.yml
Due: none

Added index to governance-auth tables
  auth-server/migrations/20200219104712_users_index.js
  auth-server/migrations/20200219105704_refresh_tokens_index.js
  auth-server/migrations/20200219105905_email_verification_token_index.js
  auth-server/migrations/20200219110001_password_reset_token_index.js
  auth-server/migrations/20200219110123_post_subscription_index.js
  auth-server/migrations/20200219110317_undo_email_change_token_index.js
Due: lint-back-end

Added index for hasura
  hasura/README.md
Due: none

new stage: post-deploy
  .gitlab-ci.yml
Due: none

removed my test branched
  .gitlab-ci.yml
Due: none

propperly escaped BUILD-ARGS
  .gitlab-ci.yml
Due: none

added healthcheck apis for auth service and frontend
  auth-server/src/routes.ts
  front-end/nginx.conf
Due: lint-front-end, lint-back-end

added healthcheck apis for auth service and frontend (#378)
  auth-server/src/routes.ts
  front-end/nginx.conf
Due: lint-front-end, lint-back-end
