Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*

open-server-replica 1
  chain-db-open-server/kubernetes/server-deployment.yaml
  kubernetes/node-watcher/values.yaml
Due: none

open-server-replica 1 (#948)
  chain-db-open-server/kubernetes/server-deployment.yaml
  kubernetes/node-watcher/values.yaml
Due: none

auth-server
  auth-server/package.json
  auth-server/yarn.lock
Due: lint-back-end

front
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

node-watcher
  node-watcher/package.json
  node-watcher/yarn.lock
Due: none

help scripts
  auth-server/package.json
  front-end/package.json
  node-watcher/package.json
Due: lint-front-end, lint-back-end

Bum polkadot deps to 1.22 (#949)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

remove useless users mention
  hasura/hasura-migrations/migrations/1593523732824_squashed/down.sql
  hasura/hasura-migrations/migrations/1593523732824_squashed/up.sql
Due: none

remove first useless proposals table creation
  hasura/hasura-migrations/migrations/1593523732824_squashed/down.sql
  hasura/hasura-migrations/migrations/1593523732824_squashed/up.sql
Due: none

delete consecutive add drop column proposal_id
  hasura/hasura-migrations/migrations/1593523732824_squashed/down.sql
  hasura/hasura-migrations/migrations/1593523732824_squashed/up.sql
Due: none

delete consecutive add drop creation and modification_date
  hasura/hasura-migrations/migrations/1593523732824_squashed/down.sql
  hasura/hasura-migrations/migrations/1593523732824_squashed/up.sql
Due: none

delete consecutive add drop on reply
  hasura/hasura-migrations/migrations/1593523732824_squashed/down.sql
  hasura/hasura-migrations/migrations/1593523732824_squashed/up.sql
Due: none

delete consecutive add drop on public.reactions
  hasura/hasura-migrations/migrations/1593523732824_squashed/down.sql
  hasura/hasura-migrations/migrations/1593523732824_squashed/up.sql
Due: none

delete consecutive add drop on public.post_votes
  hasura/hasura-migrations/migrations/1593523732824_squashed/down.sql
  hasura/hasura-migrations/migrations/1593523732824_squashed/up.sql
Due: none

delete consecutive add drop on public.post.poll_id and public.post.has_poll
  hasura/hasura-migrations/migrations/1593523732824_squashed/down.sql
  hasura/hasura-migrations/migrations/1593523732824_squashed/up.sql
Due: none

delete consecutive add drop updated at public.poll and poll_votes
  hasura/hasura-migrations/migrations/1593523732824_squashed/down.sql
  hasura/hasura-migrations/migrations/1593523732824_squashed/up.sql
Due: none

fix tons of nits to make migration sucessful
  hasura/hasura-migrations/migrations/1593523732824_squashed/down.sql
  hasura/hasura-migrations/migrations/1593523732824_squashed/up.sql
Due: none

fix wrong uppercase
  hasura/hasura-migrations/migrations/1593523732824_squashed/up.sql
Due: none

remove auto-migration (not-working) and update readme
  hasura/README.md
  hasura/docker-compose.yaml.example
  kubernetes/polkassembly/values.yaml
Due: none

add poll end time
  front-end/src/components/BlockCountdown.tsx
  front-end/src/components/Post/Poll/GeneralSignals.tsx
Due: lint-front-end

styling
  front-end/src/components/Post/Poll/GeneralSignals.tsx
Due: lint-front-end

indent
  front-end/src/components/Post/Poll/GeneralSignals.tsx
Due: lint-front-end

Update front-end/src/components/Post/Poll/GeneralSignals.tsx
  front-end/src/components/Post/Poll/GeneralSignals.tsx
Due: lint-front-end

internal ingress for chain-db-open-server
  kubernetes/node-watcher/templates/chain-db-open-server-backend-config.yaml
  kubernetes/node-watcher/templates/chain-db-open-server-ingress.yaml
  kubernetes/node-watcher/templates/chain-db-open-server-service.yaml
Due: none

fix
  node-watcher/src/tasks/createTipStatus.ts
Due: none

align properly
  front-end/src/components/Post/Poll/GeneralSignals.tsx
Due: lint-front-end

Show poll end time (#952)
  front-end/src/components/BlockCountdown.tsx
  front-end/src/components/Post/Poll/GeneralSignals.tsx
Due: lint-front-end

verify email check for subscription
  front-end/src/components/SubscriptionButton/SubscriptionButton.tsx
  front-end/src/screens/CreatePost/index.tsx
Due: lint-front-end

disable on no email verified
  front-end/src/screens/NotificationSettings/index.tsx
Due: lint-front-end

add links and styling
  front-end/src/components/SubscriptionButton/SubscriptionButton.tsx
  front-end/src/screens/NotificationSettings/index.tsx
Due: lint-front-end

Showing error on subscribing to post if email is not verified (#925)
  auth-server/src/resolvers/mutation/postSubscribe.ts
  auth-server/src/utils/messages.ts
  auth-server/test/resolvers/mutation/postSubscribe.spec.ts
  auth-server/test/resolvers/mutation/postUnsubscribe.spec.ts
  front-end/src/components/SubscriptionButton/SubscriptionButton.tsx
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/screens/NotificationSettings/index.tsx
Due: lint-front-end, lint-back-end

added tip closes
  node-watcher/package.json
  node-watcher/src/tasks/createTipStatus.ts
  node-watcher/src/tasks/types.ts
Due: none

fix finder
  node-watcher/src/tasks/createTip.ts
Due: none

show only open ones
  front-end/src/components/Listings/TipListing.tsx
Due: lint-front-end

ugly hack
  front-end/src/components/Post/PostGovernanceInfo/PostTipInfo.tsx
  node-watcher/src/tasks/createTip.ts
  node-watcher/src/tasks/types.ts
Due: lint-front-end

proper closing and closed display
  front-end/src/components/Post/PostGovernanceInfo/PostTipInfo.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/OnChain/Tips/query.ts
  front-end/src/screens/TipPost/query.ts
Due: lint-front-end

Added check for closing
  node-watcher/src/tasks/createTipStatus.ts
Due: none
