Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*

fix
  front-end/src/components/Post/GovernanceSideBar/EndorseTip.tsx
Due: lint-front-end

fix
  front-end/src/components/Post/GovernanceSideBar/Motions/VoteMotion.tsx
Due: lint-front-end

Infinite loop fix (#1095)
  front-end/src/components/Post/GovernanceSideBar/EndorseTip.tsx
  front-end/src/components/Post/GovernanceSideBar/Motions/VoteMotion.tsx
Due: lint-front-end

API Bum 3.8.1
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

API Bum 3.8.1 (#1097)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

Added poll feature
  front-end/src/components/OptionPoll/CreateOptionPoll.tsx
  front-end/src/components/OptionPoll/OptionPoll.tsx
  front-end/src/components/OptionPoll/index.tsx
  front-end/src/components/OptionPoll/query.ts
  front-end/src/components/Post/Post.tsx
  front-end/src/generated/graphql.tsx
  front-end/tsconfig.json
  hasura/hasura-migrations/metadata/tables.yaml
  hasura/hasura-migrations/migrations/1612721658997_create_table_public_option_poll/down.sql
  hasura/hasura-migrations/migrations/1612721658997_create_table_public_option_poll/up.sql
  hasura/hasura-migrations/migrations/1612721932728_create_table_public_option_poll_votes/down.sql
  hasura/hasura-migrations/migrations/1612721932728_create_table_public_option_poll_votes/up.sql
  hasura/hasura-migrations/migrations/1612722737654_alter_table_public_option_poll_add_column_end_at/down.sql
  hasura/hasura-migrations/migrations/1612722737654_alter_table_public_option_poll_add_column_end_at/up.sql
Due: lint-front-end

Added poll
  front-end/src/components/OptionPoll/CreateOptionPoll.tsx
  front-end/src/components/OptionPoll/OptionPoll.tsx
Due: lint-front-end

Added poll feature (#1099)
  front-end/src/components/OptionPoll/CreateOptionPoll.tsx
  front-end/src/components/OptionPoll/OptionPoll.tsx
  front-end/src/components/OptionPoll/index.tsx
  front-end/src/components/OptionPoll/query.ts
  front-end/src/components/Post/Post.tsx
  front-end/src/generated/graphql.tsx
  front-end/tsconfig.json
  hasura/hasura-migrations/metadata/tables.yaml
  hasura/hasura-migrations/migrations/1612721658997_create_table_public_option_poll/down.sql
  hasura/hasura-migrations/migrations/1612721658997_create_table_public_option_poll/up.sql
  hasura/hasura-migrations/migrations/1612721932728_create_table_public_option_poll_votes/down.sql
  hasura/hasura-migrations/migrations/1612721932728_create_table_public_option_poll_votes/up.sql
  hasura/hasura-migrations/migrations/1612722737654_alter_table_public_option_poll_add_column_end_at/down.sql
  hasura/hasura-migrations/migrations/1612722737654_alter_table_public_option_poll_add_column_end_at/up.sql
Due: lint-front-end

Fix
  front-end/tsconfig.json
Due: lint-front-end

Search for polkassembly
  front-end/package.json
  front-end/src/App.tsx
  front-end/src/components/MenuBar/index.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Search/index.tsx
  front-end/src/screens/Search/query.ts
  front-end/yarn.lock
Due: lint-front-end

fix
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Search for polkassembly (#1100)
  front-end/package.json
  front-end/src/App.tsx
  front-end/src/components/MenuBar/index.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Search/index.tsx
  front-end/src/screens/Search/query.ts
  front-end/yarn.lock
Due: lint-front-end

Enabled web3 login on mobile
  front-end/src/components/Login/Web2Login.tsx
  front-end/src/components/Signup/Web2Signup.tsx
Due: lint-front-end

Enabled web3 login on mobile (#1101)
  front-end/src/components/Login/Web2Login.tsx
  front-end/src/components/Signup/Web2Signup.tsx
Due: lint-front-end

Added brand vote page
  front-end/src/App.tsx
  front-end/src/screens/BrandVote/index.tsx
Due: lint-front-end

Tip fix and API bump
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/src/tasks/createTip.ts
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

Tip fix and API bump (#1102)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/src/tasks/createTip.ts
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

fix
  node-watcher/src/tasks/createBounty.ts
  node-watcher/src/tasks/createBountyStatus.ts
Due: none

fix (#1107)
  node-watcher/src/tasks/createBounty.ts
  node-watcher/src/tasks/createBountyStatus.ts
Due: none

api bump 3.10.2
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

api bump 3.10.2 (#1108)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

nits in readmes
  auth-server/docker-compose.yaml.example
  chain-db-watcher/README.md
  front-end/README.md
  hasura/README.md
Due: lint-front-end, lint-back-end, lint-chain-db-watcher

api v4.0.2
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

api v4.0.2 (#1109)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

Update chain-db-watcher/README.md
  chain-db-watcher/README.md
Due: lint-chain-db-watcher

Fix some nits in readmes (#1110)
  auth-server/docker-compose.yaml.example
  chain-db-watcher/README.md
  front-end/README.md
  hasura/README.md
Due: lint-front-end, lint-back-end, lint-chain-db-watcher

api bump 4.0.3
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

api bump 4.0.3 (#1112)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

fix
  node-watcher/Dockerfile
Due: none

api 4.1.1
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

api 4.1.1 (#1113)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

v-4.4.1
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

Added blacklist username
  auth-server/src/services/auth.ts
  auth-server/src/utils/messages.ts
  auth-server/src/utils/nameBlacklist.ts
Due: lint-back-end

added test
  auth-server/test/resolvers/mutation/signup.spec.ts
Due: lint-back-end

v-4.4.1 (#1117)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

api bump 4.5.1
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  launch.sh
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

Added username blacklist (#1118)
  auth-server/src/services/auth.ts
  auth-server/src/utils/messages.ts
  auth-server/src/utils/nameBlacklist.ts
  auth-server/test/resolvers/mutation/signup.spec.ts
Due: lint-back-end

api bump 4.5.1 (#1121)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  launch.sh
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

Username security
  auth-server/src/utils/validateUsername.ts
Due: lint-back-end
