Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-chain-db-watcher:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd chain-db-watcher
  - yarn install
  - yarn lint
  tags:
  - linux-docker

sync package.json
  auth-server/package.json
  auth-server/yarn.lock
  chain-db-watcher/package.json
  chain-db-watcher/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
Due: lint-front-end, lint-back-end, lint-chain-db-watcher

fix ts errors
  front-end/src/components/MenuBar/index.tsx
  front-end/src/ui-components/MarkdownEditor.tsx
Due: lint-front-end

move deps to dev
  chain-db-watcher/package.json
Due: lint-chain-db-watcher

fix ts errors
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
Due: lint-chain-db-watcher

Using only one function to return both available address and linked address
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

Split useEffect
  front-end/src/components/Post/Poll/CouncilSignals.tsx
Due: lint-front-end

Using encoded address
  front-end/src/components/Post/Poll/CouncilSignals.tsx
Due: lint-front-end

&& instead of ?
  front-end/src/components/Post/Poll/OffChainSignals.tsx
Due: lint-front-end

Using use callback
  front-end/src/components/Post/Poll/OffChainSignals.tsx
Due: lint-front-end

Box shadow
  front-end/src/ui-components/Card.tsx
Due: lint-front-end

conditional component dispaly
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

comment
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Using enum
  front-end/src/components/Post/Poll/CouncilSignals.tsx
  front-end/src/components/Post/Poll/OffChainSignals.tsx
  front-end/src/components/Post/Poll/index.tsx
  front-end/src/components/Post/Poll/votes.ts
  front-end/src/types.ts
Due: lint-front-end

Added own vote
  front-end/src/components/Post/Poll/OffChainSignals.tsx
  front-end/src/components/Post/Poll/index.tsx
Due: lint-front-end

Upgrade dependancies (#801)
  auth-server/package.json
  auth-server/yarn.lock
  chain-db-watcher/package.json
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/yarn.lock
  front-end/package.json
  front-end/src/components/MenuBar/index.tsx
  front-end/src/ui-components/MarkdownEditor.tsx
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
Due: lint-front-end, lint-back-end, lint-chain-db-watcher

Update front-end/src/ui-components/PassingInfo.tsx
  front-end/src/ui-components/PassingInfo.tsx
Due: lint-front-end

Added check of has_poll on create post itself
  front-end/src/components/Post/Post.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/screens/CreatePost/query.ts
  front-end/src/screens/DiscussionPost/query.ts
  front-end/src/screens/MotionPost/query.ts
  front-end/src/screens/ProposalPost/query.ts
  front-end/src/screens/ReferendumPost/query.ts
  front-end/src/screens/TreasuryPost/query.ts
Due: lint-front-end

Added check of has_poll on create post itself
  hasura/hasura-migrations/migrations/1590394794357_alter_table_public_posts_add_column_has_poll/down.yaml
  hasura/hasura-migrations/migrations/1590394794357_alter_table_public_posts_add_column_has_poll/up.yaml
  hasura/hasura-migrations/migrations/1590398012080_update_permission_anonymous_public_table_posts/down.yaml
  hasura/hasura-migrations/migrations/1590398012080_update_permission_anonymous_public_table_posts/up.yaml
  hasura/hasura-migrations/migrations/1590398036930_update_permission_proposal_bot_public_table_posts/down.yaml
  hasura/hasura-migrations/migrations/1590398036930_update_permission_proposal_bot_public_table_posts/up.yaml
  hasura/hasura-migrations/migrations/1590398042712_update_permission_proposal_bot_public_table_posts/down.yaml
  hasura/hasura-migrations/migrations/1590398042712_update_permission_proposal_bot_public_table_posts/up.yaml
  hasura/hasura-migrations/migrations/1590398048601_update_permission_user_public_table_posts/down.yaml
  hasura/hasura-migrations/migrations/1590398048601_update_permission_user_public_table_posts/up.yaml
  hasura/hasura-migrations/migrations/1590398053786_update_permission_user_public_table_posts/down.yaml
  hasura/hasura-migrations/migrations/1590398053786_update_permission_user_public_table_posts/up.yaml
Due: none

units
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/ui-components/VoteProgress.tsx
Due: lint-front-end

Fix redis prefix
  auth-server/src/services/auth.ts
Due: lint-back-end

Change name to createAndSendEmailVerificationToken
  auth-server/src/services/auth.ts
Due: lint-back-end

yarn
  front-end/yarn.lock
Due: lint-front-end

package.json update
  front-end/package.json
Due: lint-front-end

Refactor threshold calculation and publication of @polkadot/util v0.2 (#799)
  util/CHANGELOG.md
  util/jest.config.js
  util/package.json
  util/src/__test__/getThreshold.test.ts
  util/src/getPassingThreshold.ts
  util/src/getThresholds.ts
  util/src/types.ts
  util/yarn.lock
Due: none

back to api 1.14.1
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

Fix and Feat for progress bar (#796)
  front-end/package.json
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/ui-components/PassingInfo.tsx
  front-end/src/ui-components/VoteProgress.tsx
  front-end/yarn.lock
Due: lint-front-end

removed user from login/signup response (#785)
  auth-server/src/resolvers/mutation/addressLogin.ts
  auth-server/src/resolvers/mutation/addressSignupConfirm.ts
  auth-server/src/resolvers/mutation/login.ts
  auth-server/src/resolvers/mutation/signup.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/query/notification.ts
  auth-server/src/schema/type/loginResponse.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  auth-server/test/helpers.ts
  auth-server/test/resolvers/mutation/addressLinkConfirm.spec.ts
  auth-server/test/resolvers/mutation/addressLinkStart.spec.ts
  auth-server/test/resolvers/mutation/addressLogin.spec.ts
  auth-server/test/resolvers/mutation/addressSignup.spec.ts
  auth-server/test/resolvers/mutation/addressUnlink.spec.ts
  auth-server/test/resolvers/mutation/changeEmail.spec.ts
  auth-server/test/resolvers/mutation/changeName.spec.ts
  auth-server/test/resolvers/mutation/changeNotificationPreference.spec.ts
  auth-server/test/resolvers/mutation/changePassword.spec.ts
  auth-server/test/resolvers/mutation/changeUsername.spec.ts
  auth-server/test/resolvers/mutation/login.spec.ts
  auth-server/test/resolvers/mutation/logout.spec.ts
  auth-server/test/resolvers/mutation/postSubscribe.spec.ts
  auth-server/test/resolvers/mutation/postUnsubscribe.spec.ts
  auth-server/test/resolvers/mutation/resendVerifyEmailToken.spec.ts
  auth-server/test/resolvers/mutation/resetPassword.spec.ts
  auth-server/test/resolvers/mutation/signup.spec.ts
  auth-server/test/resolvers/mutation/undoEmailChange.spec.ts
  auth-server/test/resolvers/mutation/verifyEmail.spec.ts
  auth-server/test/resolvers/query/subscription.spec.ts
  front-end/src/components/Login/Web2Login.tsx
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/components/Login/query.tsx
  front-end/src/components/Signup/Web2Signup.tsx
  front-end/src/components/Signup/query.ts
  front-end/src/generated/graphql.tsx
Due: lint-front-end, lint-back-end

disable unlinking default address
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

adding tooltip
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

box-shadow fix
  front-end/src/themes/theme.ts
  front-end/src/ui-components/Card.tsx
Due: lint-front-end

Added healthmonitor to nginx
  front-end/nginx/default.conf
  health-monitor/src/index.ts
Due: lint-front-end

Added healthmonitor to nginx (#803)
  front-end/nginx/default.conf
  health-monitor/src/index.ts
Due: lint-front-end

Update front-end/src/ui-components/CouncilSignalBar.tsx
  front-end/src/ui-components/CouncilSignalBar.tsx
Due: lint-front-end

Update front-end/src/components/Post/Poll/CouncilSignals.tsx
  front-end/src/components/Post/Poll/CouncilSignals.tsx
Due: lint-front-end

Update front-end/src/ui-components/OffChainSignalBar.tsx
  front-end/src/ui-components/OffChainSignalBar.tsx
Due: lint-front-end

Moved email verify token to redis (#782)
  auth-server/src/model/EmailVerificationToken.ts
  auth-server/src/services/auth.ts
  auth-server/src/services/email.ts
  auth-server/src/utils/messages.ts
  auth-server/test/resolvers/mutation/changeEmail.spec.ts
  auth-server/test/resolvers/mutation/resendVerifyEmailToken.spec.ts
  auth-server/test/resolvers/mutation/verifyEmail.spec.ts
  auth-server/test/services/email/email.spec.ts
Due: lint-back-end

typo fix
  front-end/nginx/default.conf
Due: lint-front-end

typo fix (#804)
  front-end/nginx/default.conf
Due: lint-front-end

Fix service name
  front-end/nginx/default.conf
Due: lint-front-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*
