Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

cleanup
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/sync/index.ts
Due: none

escaping n in pup key
  .gitlab-ci.yml
Due: none

Explanation boxes (#309)
  front-end/src/components/Listings/DiscussionsListing.tsx
  front-end/src/components/Listings/ProposalsListing.tsx
  front-end/src/components/Listings/ReferendaListing.tsx
  front-end/src/components/Post/VoteRefrendum.tsx
  front-end/src/screens/Discussions/index.tsx
  front-end/src/screens/Home/HomeContent.tsx
  front-end/src/screens/OnChain/index.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/themes/theme.ts
  front-end/src/ui-components/InfoBox.tsx
Due: lint-front-end

add env to kubernetes deployment
  kubernetes/polkassembly/chain-db-watcher-config.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
Due: none

change env in kubenetes files
  kubernetes/polkassembly/auth-server-config.yaml
  kubernetes/polkassembly/auth-server-deployment.yaml
  kubernetes/polkassembly/chain-db-watcher-config.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
Due: none

show motion referenda
  front-end/src/components/Listings/ReferendaListing.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Home/LatestReferendum/index.tsx
  front-end/src/screens/OnChain/Referenda/index.tsx
  front-end/src/screens/OnChain/Referenda/query.ts
  front-end/src/ui-components/StatusTag.tsx
Due: lint-front-end

motion post and redirection
  front-end/src/App.tsx
  front-end/src/components/Listings/MotionsListing.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostMotionInfo.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/hooks/index.ts
  front-end/src/hooks/useRedirectReferenda.ts
  front-end/src/screens/MotionPost/index.tsx
  front-end/src/screens/MotionPost/query.ts
  front-end/src/screens/OnChain/Motions/index.tsx
  front-end/src/screens/OnChain/Motions/query.ts
  front-end/src/screens/OnChain/index.tsx
Due: lint-front-end

home
  front-end/src/screens/Home/HomeContent.tsx
  front-end/src/screens/Home/LatestDiscussions/index.tsx
  front-end/src/screens/Home/LatestMotions/index.tsx
  front-end/src/screens/Home/LatestProposals/index.tsx
  front-end/src/screens/Home/LatestReferenda/index.tsx
  front-end/src/screens/Home/index.tsx
Due: lint-front-end

home bis
  front-end/src/screens/Home/LatestMotions/index.tsx
  front-end/src/screens/Home/index.tsx
Due: lint-front-end

new appoach with fprint
  .gitlab-ci.yml
  front-end/Dockerfile
Due: lint-front-end

quoting, quoting, quoting!!
  .gitlab-ci.yml
Due: none

screens
  front-end/src/App.tsx
  front-end/src/screens/PrivacyPolicy/index.tsx
  front-end/src/screens/TermsAndConditions/index.tsx
Due: lint-front-end

Proposal bot consistency and cleanup (#283)
  auth-server/README.md
  auth-server/docker-compose-test.yaml
  auth-server/src/services/auth.ts
  chain-db-watcher/README.md
  chain-db-watcher/src/graphql_helpers.ts
  kubernetes/polkassembly/auth-server-config.yaml
  kubernetes/polkassembly/auth-server-deployment.yaml
  kubernetes/polkassembly/chain-db-watcher-config.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
Due: lint-back-end

sign up links
  front-end/src/screens/SignupForm/index.tsx
Due: lint-front-end

basic footer
  front-end/src/App.tsx
  front-end/src/screens/Footer/index.tsx
Due: lint-front-end

motion info
  front-end/src/components/Post/PostMotionInfo.tsx
  front-end/src/components/Post/PostReferendumInfo.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/MotionPost/query.ts
Due: lint-front-end

container
  front-end/src/screens/Footer/index.tsx
  front-end/src/screens/LoginForm/index.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

checkbox validation
  front-end/src/screens/SignupForm/index.tsx
Due: lint-front-end

fix domain and protocol
  kubernetes/polkassembly/auth-server-config.yaml
Due: none

fix domain and protocol (#323)
  kubernetes/polkassembly/auth-server-config.yaml
Due: none

Chain-db watcher: council motions (#316)
  chain-db-watcher/README.md
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/queries/chain-db.queries.ts
  chain-db-watcher/src/queries/discussions-db.queries.ts
  chain-db-watcher/src/sync/getter.ts
  chain-db-watcher/src/sync/index.ts
  chain-db-watcher/src/sync/queries/chain-db.queries.ts
  chain-db-watcher/src/sync/queries/discussions-db.queries.ts
  chain-db-watcher/src/sync/utils.ts
  chain-db-watcher/src/types.ts
  hasura/hasura-migrations/migrations/1581529252179_alter_table_public_onchain_links_add_column_onchain_motion_id/down.yaml
  hasura/hasura-migrations/migrations/1581529252179_alter_table_public_onchain_links_add_column_onchain_motion_id/up.yaml
  hasura/hasura-migrations/migrations/1581529328961_table_onchain_links_create_remote_relationship_onchain_motion/down.yaml
  hasura/hasura-migrations/migrations/1581529328961_table_onchain_links_create_remote_relationship_onchain_motion/up.yaml
  hasura/hasura-migrations/migrations/1581529350797_update_permission_proposal_bot_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1581529350797_update_permission_proposal_bot_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/1581529362839_update_permission_anonymous_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1581529362839_update_permission_anonymous_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/1581529371808_update_permission_user_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1581529371808_update_permission_user_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/1581529380814_update_permission_proposal_bot_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1581529380814_update_permission_proposal_bot_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/1581529398610_update_permission_proposal_bot_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1581529398610_update_permission_proposal_bot_public_table_onchain_links/up.yaml
  kubernetes/polkassembly/chain-db-watcher-config.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
Due: none

checkbox styling
  front-end/src/screens/SignupForm/index.tsx
Due: lint-front-end

temp app container fix
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

linting
  front-end/src/screens/Footer/index.tsx
  front-end/src/screens/PrivacyPolicy/index.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/screens/TermsAndConditions/index.tsx
Due: lint-front-end

fix
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/queries.ts
Due: none

add failsafe
  chain-db-watcher/src/index.ts
Due: none

basic mobile footer
  front-end/src/screens/Footer/index.tsx
Due: lint-front-end

containerize 📦
  front-end/src/App.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/screens/Discussions/index.tsx
  front-end/src/screens/Home/HomeContent.tsx
  front-end/src/screens/NotFound/index.tsx
  front-end/src/screens/OnChain/index.tsx
  front-end/src/screens/Settings/index.tsx
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

use variables for readability
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Home/LatestMotions/index.tsx
  front-end/src/screens/Home/LatestProposals/index.tsx
  front-end/src/screens/Home/LatestReferenda/index.tsx
  front-end/src/screens/OnChain/Motions/index.tsx
  front-end/src/screens/OnChain/Motions/query.ts
  front-end/src/screens/OnChain/Proposals/index.tsx
  front-end/src/screens/OnChain/Proposals/query.ts
  front-end/src/screens/OnChain/Referenda/index.tsx
  front-end/src/screens/OnChain/Referenda/query.ts
Due: lint-front-end

containerize 📦 (#329)
  front-end/src/App.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/screens/Discussions/index.tsx
  front-end/src/screens/Home/HomeContent.tsx
  front-end/src/screens/NotFound/index.tsx
  front-end/src/screens/OnChain/index.tsx
  front-end/src/screens/Settings/index.tsx
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

remove duplicated
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Motions front (#322)
  front-end/src/App.tsx
  front-end/src/components/Listings/MotionsListing.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostMotionInfo.tsx
  front-end/src/components/Post/PostReferendumInfo.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/hooks/index.ts
  front-end/src/hooks/useRedirectReferenda.ts
  front-end/src/screens/Home/HomeContent.tsx
  front-end/src/screens/Home/LatestDiscussions/index.tsx
  front-end/src/screens/Home/LatestMotions/index.tsx
  front-end/src/screens/Home/LatestProposals/index.tsx
  front-end/src/screens/Home/LatestReferenda/index.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/MotionPost/index.tsx
  front-end/src/screens/MotionPost/query.ts
  front-end/src/screens/OnChain/Motions/index.tsx
  front-end/src/screens/OnChain/Motions/query.ts
  front-end/src/screens/OnChain/Proposals/index.tsx
  front-end/src/screens/OnChain/Proposals/query.ts
  front-end/src/screens/OnChain/Referenda/index.tsx
  front-end/src/screens/OnChain/index.tsx
  front-end/src/ui-components/StatusTag.tsx
Due: lint-front-end

Fix Undefined preimage hash (#327)
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/queries.ts
Due: none

removing containers
  front-end/src/App.tsx
  front-end/src/screens/LoginForm/index.tsx
  front-end/src/screens/PrivacyPolicy/index.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/screens/TermsAndConditions/index.tsx
Due: lint-front-end

Added address dropdown
  front-end/src/components/Post/Democracy.tsx
  front-end/src/components/Post/SecondProposal.tsx
  front-end/src/components/Post/VoteRefrendum.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/util/shortenAddress.ts
Due: lint-front-end

fix
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

fix (#331)
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

fixes
  front-end/src/components/Post/Democracy.tsx
  front-end/src/components/Post/SecondProposal.tsx
  front-end/src/components/Post/VoteRefrendum.tsx
Due: lint-front-end

fix
  front-end/src/components/Post/SecondProposal.tsx
Due: lint-front-end

Added address dropdown for vote and second (#330)
  front-end/src/components/Post/Democracy.tsx
  front-end/src/components/Post/SecondProposal.tsx
  front-end/src/components/Post/VoteRefrendum.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/util/shortenAddress.ts
Due: lint-front-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
