Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*

using uuid instead of uid
  auth-server/package.json
  auth-server/src/resolvers/mutation/addressSignupConfirm.ts
  auth-server/yarn.lock
Due: lint-back-end

small drop down
  front-end/src/ui-components/AddressDropdown.tsx
Due: lint-front-end

removed email and username
  front-end/src/components/Signup/Web3Signup.tsx
Due: lint-front-end

Using only address signature and network
  auth-server/src/resolvers/mutation/addressSignupConfirm.ts
  auth-server/src/schema/mutation/addressSignupConfirm.ts
  auth-server/src/services/auth.ts
Due: lint-back-end

Removed email username name
  front-end/src/components/Signup/query.ts
  front-end/src/generated/graphql.tsx
Due: lint-front-end

code reuse for has and salt
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
Due: lint-back-end

only empty string name
  auth-server/src/utils/validateName.ts
Due: lint-back-end

Test fix
  auth-server/src/types.ts
  auth-server/test/resolvers/mutation/addressSignup.spec.ts
Due: lint-back-end

code reuse
  auth-server/src/services/auth.ts
Due: lint-back-end

Update auth-server/test/resolvers/mutation/addressSignup.spec.ts
  auth-server/test/resolvers/mutation/addressSignup.spec.ts
Due: lint-back-end

Update front-end/src/components/Signup/Web3Signup.tsx
  front-end/src/components/Signup/Web3Signup.tsx
Due: lint-front-end

Update front-end/src/screens/Settings/setCredentials.tsx
  front-end/src/screens/Settings/setCredentials.tsx
Due: lint-front-end

Update front-end/src/screens/SignupForm/index.tsx
  front-end/src/screens/SignupForm/index.tsx
Due: lint-front-end

style setCredential component
  front-end/src/screens/Settings/address.tsx
  front-end/src/screens/Settings/setCredentials.tsx
  front-end/src/ui-components/Button.tsx
  front-end/yarn.lock
Due: lint-front-end

small drop down (#760)
  front-end/src/ui-components/AddressDropdown.tsx
Due: lint-front-end

Added email
  auth-server/src/resolvers/mutation/setCredentialsConfirm.ts
  auth-server/src/schema/mutation/setCredentialsConfirm.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Settings/index.tsx
  front-end/src/screens/Settings/query.ts
  front-end/src/screens/Settings/setCredentials.tsx
Due: lint-front-end, lint-back-end

Added notification; yarn
  front-end/src/screens/Settings/setCredentials.tsx
  front-end/yarn.lock
Due: lint-front-end

Added unlink test
  auth-server/test/resolvers/mutation/addressSignup.spec.ts
Due: lint-back-end

added set credentials test
  auth-server/test/resolvers/mutation/addressSignup.spec.ts
Due: lint-back-end

show default address identity
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/DiscussionCard.tsx
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Listings/DiscussionsListing.tsx
  front-end/src/components/Listings/MotionsListing.tsx
  front-end/src/components/Listings/ProposalsListing.tsx
  front-end/src/components/Listings/ReferendaListing.tsx
  front-end/src/components/Listings/TreasuryListing.tsx
  front-end/src/components/Post/PostContent.tsx
  front-end/src/fragments/author.ts
  front-end/src/generated/graphql.tsx
  front-end/src/screens/DiscussionPost/query.ts
  front-end/src/screens/Discussions/query.ts
  front-end/src/screens/MotionPost/query.ts
  front-end/src/screens/OnChain/Motions/query.ts
  front-end/src/screens/OnChain/Proposals/query.ts
  front-end/src/screens/OnChain/Referenda/query.ts
  front-end/src/screens/OnChain/Treasury/query.ts
  front-end/src/screens/ProposalPost/query.ts
  front-end/src/screens/ReferendumPost/query.ts
  front-end/src/screens/TreasuryPost/query.ts
  front-end/src/ui-components/Address.tsx
  front-end/src/ui-components/CreationLabel.tsx
  front-end/src/ui-components/NameLabel.tsx
  front-end/src/ui-components/OnchainCreationLabel.tsx
  front-end/src/util/getDefaultAddressField.ts
Due: lint-front-end

Apply suggestions from code review
  front-end/src/screens/Settings/setCredentials.tsx
Due: lint-front-end

Use apiPromise from @substrate/context (#753)
  front-end/package.json
  front-end/src/App.tsx
  front-end/src/components/Balance.tsx
  front-end/src/components/BlockCountdown.tsx
  front-end/src/components/BlocksToTime.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/context/ApiContext.tsx
  front-end/src/ui-components/Address.tsx
  front-end/yarn.lock
Due: lint-front-end

remove title in radio buttons
  front-end/src/screens/CreatePost/TopicsRadio.tsx
Due: lint-front-end

with popup
  auth-server/src/schema/type/user.ts
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/DiscussionCard.tsx
  front-end/src/components/Listings/DiscussionsListing.tsx
  front-end/src/components/Post/PostContent.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostTreasuryInfo.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/ui-components/Address.tsx
  front-end/src/ui-components/AddressDropdown.tsx
  front-end/src/ui-components/Avatar.tsx
  front-end/src/ui-components/CreationLabel.tsx
  front-end/src/ui-components/NameLabel.tsx
Due: lint-front-end, lint-back-end

Tag styling fixes (#736)
  front-end/src/screens/CreatePost/TopicsRadio.tsx
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/themes/theme.ts
  front-end/src/ui-components/InlineTag.tsx
  front-end/src/ui-components/StatusTag.tsx
Due: lint-front-end

fix console log
  front-end/src/ui-components/Address.tsx
Due: lint-front-end

fix console log (#765)
  front-end/src/ui-components/Address.tsx
Due: lint-front-end

infoParents
  front-end/src/ui-components/Address.tsx
Due: lint-front-end

show parent/sub if any
  front-end/src/ui-components/Address.tsx
Due: lint-front-end

with comments for future us
  front-end/src/ui-components/Address.tsx
Due: lint-front-end

one more line
  front-end/src/ui-components/Address.tsx
Due: lint-front-end

Fix to show the parent display name first (#768)
  front-end/src/ui-components/Address.tsx
Due: lint-front-end

bump
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  util/package.json
  util/yarn.lock
Due: lint-front-end, lint-back-end

small desktop container width
  front-end/src/components/Post/Post.tsx
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

removing storsyshots test
  front-end/src/test/__snapshots__/storyshots.test.ts.snap
  front-end/src/test/storyshots.test.ts
Due: lint-front-end

Create jest.config.js
  front-end/jest.config.js
Due: lint-front-end

blockToTime & formatBNBalance tests
  front-end/src/util/__tests__/blockToTime.test.ts
  front-end/src/util/__tests__/formatBnBalance.test.ts
Due: lint-front-end
