Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  - yarn build
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  - yarn tsc
  tags:
  - linux-docker

lint-chain-db-watcher:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd chain-db-watcher
  - yarn install
  - yarn lint
  - yarn tsc
  tags:
  - linux-docker

types
  front-end/src/screens/Discussions/Discussions.tsx
Due: lint-front-end

loading
  front-end/src/screens/Discussions/Discussions.tsx
Due: lint-front-end

Added council votes info for running motions (#1016)
  front-end/src/components/Post/GovernanceSideBar/Motions/MotionVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Motions/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/Poll/CouncilSignals.tsx
  front-end/src/types.ts
Due: lint-front-end

Discussion Sort by feature (#1018)
  front-end/src/generated/graphql.tsx
  front-end/src/global/sortOptions.ts
  front-end/src/screens/Discussions/Discussions.tsx
  front-end/src/screens/Discussions/index.tsx
  front-end/src/screens/Discussions/query.ts
Due: lint-front-end

kusama node (#1003)
  kubernetes/node-watcher/values-dashboards-cluster-1.yaml
  kubernetes/node-watcher/values-parity-prod.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

Revert "kusama node (#1003)" (#1004)
  kubernetes/node-watcher/values-dashboards-cluster-1.yaml
  kubernetes/node-watcher/values-parity-prod.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

Added support for tagging users (#1001)
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/services/email.ts
  auth-server/src/utils/emailTemplates.ts
  auth-server/src/utils/getUserFromUsername.ts
  front-end/src/components/ContentForm.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/ui-components/MarkdownEditor.tsx
Due: lint-front-end, lint-back-end

fix (#1006)
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Added profile page with username (#1011)
  front-end/src/App.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/UserProfile/index.tsx
  front-end/src/screens/UserProfile/query.ts
Due: lint-front-end

added username links to email (#1013)
  auth-server/src/utils/emailTemplates.ts
Due: lint-back-end

Post edit permission fix for polkadot (#999)
  hasura/hasura-migrations/metadata/tables.yaml
Due: none

API bump 1.29.1 (#1000)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

Remove redundant info from user profile (#1014)
  front-end/src/screens/UserProfile/index.tsx
Due: lint-front-end

cater for redenomination (#987)
  front-end/src/global/networkConstants.ts
Due: lint-front-end

Api bump 1.30.1 (#1008)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

Added link to mentions (#1012)
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/utils/getMentions.ts
  front-end/src/ui-components/MarkdownEditor.tsx
Due: lint-front-end, lint-back-end

user profile query (#1010)
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/query/profile.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/query/profile.ts
  auth-server/src/types.ts
Due: lint-back-end

env vars logged
  auth-server/src/utils/verifyEnvVariables.ts
  front-end/.firebaserc
  front-end/firebase.json
Due: lint-front-end, lint-back-end

fix
  auth-server/src/index.ts
  front-end/.firebase/hosting.YnVpbGQ.cache
Due: lint-front-end, lint-back-end

fix
  auth-server/src/index.ts
Due: lint-back-end

test
  auth-server/src/services/auth.ts
Due: lint-back-end

fix
  auth-server/src/index.ts
  auth-server/src/services/auth.ts
Due: lint-back-end

checking for council address from account and not extension
  front-end/src/components/Post/GovernanceSideBar/EndorseTip.tsx
  front-end/src/components/Post/GovernanceSideBar/Motions/VoteMotion.tsx
Due: lint-front-end

checking for council address from account and not extension (#1020)
  front-end/src/components/Post/GovernanceSideBar/EndorseTip.tsx
  front-end/src/components/Post/GovernanceSideBar/Motions/VoteMotion.tsx
Due: lint-front-end

Add links to governance info rather than redirecting automatically
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostTreasuryInfo.tsx
  front-end/src/hooks/index.ts
  front-end/src/hooks/useRedirectGovernancePost.ts
  front-end/src/screens/DiscussionPost/index.tsx
  front-end/src/screens/MotionPost/index.tsx
  front-end/src/screens/ProposalPost/index.tsx
  front-end/src/screens/TreasuryPost/index.tsx
Due: lint-front-end

Api bump v1.32.1
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

Api bump v1.32.1 (#1022)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

front-end
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

node-watcher
  node-watcher/package.json
  node-watcher/yarn.lock
Due: none

auth
  auth-server/package.json
  auth-server/yarn.lock
Due: lint-back-end

monitor
  health-monitor/package.json
  health-monitor/yarn.lock
Due: none

clean encode decode
  auth-server/src/utils/getPublicKey.ts
  auth-server/src/utils/verifySignature.ts
  auth-server/test/resolvers/mutation/addressUnlinkKusama.spec.ts
  auth-server/test/resolvers/mutation/addressUnlinkPolkadot.spec.ts
  front-end/src/screens/Settings/index.tsx
  front-end/src/util/getEncodedAddress.ts
Due: lint-front-end, lint-back-end

remove stray logs
  front-end/src/screens/Settings/index.tsx
  front-end/src/util/getEncodedAddress.ts
Due: lint-front-end

fix test path
  auth-server/test/resolvers/mutation/addressUnlinkKusama.spec.ts
  auth-server/test/resolvers/mutation/addressUnlinkPolkadot.spec.ts
Due: lint-back-end

add tests
  auth-server/test/utils/getPublicKey/getPublicKey.spec.ts
Due: lint-back-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*
