Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*

Username security (#1122)
  auth-server/src/utils/validateUsername.ts
Due: lint-back-end

Added substring check for name blacklist
  auth-server/src/services/auth.ts
  auth-server/src/utils/nameBlacklist.ts
Due: lint-back-end

tests
  auth-server/test/resolvers/mutation/signup.spec.ts
Due: lint-back-end

Added substring check for name blacklist (#1123)
  auth-server/src/services/auth.ts
  auth-server/src/utils/nameBlacklist.ts
  auth-server/test/resolvers/mutation/signup.spec.ts
Due: lint-back-end

Added documentation
  docs/api.md
  docs/architecture.md
  docs/schema.md
Due: none

Update architecture.md
  docs/architecture.md
Due: none

added auth schema
  docs/auth_schema.md
Due: none

Update README.md
  README.md
Due: none

Delete api.md
  docs/api.md
Due: none

Update and rename architecture.md to docs.md
  docs/docs.md
Due: none

Add files via upload
  docs/Polkassembly Governance Platform.pptx
Due: none

Update docs.md
  docs/docs.md
Due: none

API bump 4.9.2
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

update
  node-watcher/package.json
  node-watcher/yarn.lock
Due: none

API bump 4.9.2 (#1127)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

node latest version not working
  auth-server/package.json
  auth-server/yarn.lock
Due: lint-back-end

node latest version not working (#1138)
  auth-server/package.json
  auth-server/yarn.lock
Due: lint-back-end

Dockerfile
  front-end/Dockerfile
  health-monitor/Dockerfile
  node-watcher/Dockerfile
Due: lint-front-end

Dockerfile (#1140)
  front-end/Dockerfile
  health-monitor/Dockerfile
  node-watcher/Dockerfile
Due: lint-front-end

eslint disable
  auth-server/src/routes.ts
Due: lint-back-end

fix lint
  .gitlab-ci.yml
Due: none

Dockerfile
  auth-server/Dockerfile
  chain-db-open-server/Dockerfile
  chain-db-watcher/Dockerfile
  front-end/Dockerfile
  health-monitor/Dockerfile
  node-watcher/Dockerfile
Due: lint-front-end, lint-back-end, lint-chain-db-watcher

Dockerfile (#1141)
  auth-server/Dockerfile
  chain-db-open-server/Dockerfile
  chain-db-watcher/Dockerfile
  front-end/Dockerfile
  health-monitor/Dockerfile
  node-watcher/Dockerfile
Due: lint-front-end, lint-back-end, lint-chain-db-watcher

CI: default runners tags
  .gitlab-ci.yml
Due: none

CI: default runners tags (#1142)
  .gitlab-ci.yml
Due: none

delete account id
  front-end/src/screens/Settings/deleteAccount.tsx
Due: lint-front-end

Added tech committee proposals
  node-watcher/datamodel.prisma
  node-watcher/src/generated/prisma-client/index.ts
  node-watcher/src/generated/prisma-client/prisma-schema.ts
  node-watcher/src/tasks/createTechCommitteeProposal.ts
  node-watcher/src/tasks/index.ts
  node-watcher/src/tasks/types.ts
  node-watcher/src/util/statuses.ts
Due: none

status
  node-watcher/src/tasks/createTechCommitteeProposalStatus.ts
  node-watcher/src/tasks/index.ts
  node-watcher/src/tasks/types.ts
  node-watcher/src/util/statuses.ts
Due: none

frontend
  front-end/src/App.tsx
  front-end/src/components/ExternalLinks.tsx
  front-end/src/components/Listings/TechCommitteeProposalsListing.tsx
  front-end/src/components/MenuBar/index.tsx
  front-end/src/components/NoPostFound.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostTechCommitteeProposalInfo.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Home/LatestTechCommitteeProposals/index.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/OnChain/TechCommitteeProposals/index.tsx
  front-end/src/screens/OnChain/TechCommitteeProposals/query.ts
  front-end/src/screens/OnChain/index.tsx
  front-end/src/screens/TechCommitteeProposalPost/index.tsx
  front-end/src/screens/TechCommitteeProposalPost/query.ts
  front-end/src/screens/TechCommitteeProposals/TechCommitteeProposalsContainer/index.tsx
  front-end/src/screens/TechCommitteeProposals/TechCommitteeProposalsContainer/query.ts
  front-end/src/screens/TechCommitteeProposals/index.tsx
  front-end/src/ui-components/TopicTag.tsx
  hasura/hasura-migrations/metadata/tables.yaml
  hasura/hasura-migrations/migrations/1623052227181_alter_table_public_onchain_links_add_column_onchain_tech_committee_proposal_id/down.sql
  hasura/hasura-migrations/migrations/1623052227181_alter_table_public_onchain_links_add_column_onchain_tech_committee_proposal_id/up.sql
  node-watcher/src/tasks/createTechCommitteeProposal.ts
Due: lint-front-end

auth server
  auth-server/src/types.ts
  auth-server/src/utils/getPostId.ts
  auth-server/src/utils/getPostType.ts
Due: lint-back-end
