Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*

removed unused
  node-watcher/src/heads.ts
Due: none

migrate ingress objects to new ingress controller (#1169)
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values-polkadot-prod.yaml
Due: none

Change ci pipeline to use vault secrets
  .gitlab-ci.yml
Due: none

Change Docker Hub variables names
  .gitlab-ci.yml
Due: none

Better titles for update email; api upgrade (#1170)
  auth-server/src/services/email.ts
  node-watcher/package.json
  node-watcher/src/tasks/createBlockNumber.ts
  node-watcher/src/tasks/createMotion.ts
  node-watcher/src/tasks/createPreimage.ts
  node-watcher/src/tasks/createTechCommitteeProposal.ts
  node-watcher/yarn.lock
Due: lint-back-end

Update blank.yml
  .github/workflows/blank.yml
Due: none

Update sendTransferNotice.ts
  auth-server/src/resolvers/mutation/sendTransferNotice.ts
Due: lint-back-end

Header
  front-end/src/components/Listings/TechCommitteeProposalsListing.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostTechCommitteeProposalInfo.tsx
  front-end/src/components/Timeline.tsx
  front-end/src/components/TrackerButton.tsx
  front-end/src/components/TransferNoticeInfoBox.tsx
  front-end/src/screens/Home/LatestTechCommitteeProposals/index.tsx
  front-end/src/screens/OnChain/TechCommitteeProposals/index.tsx
  front-end/src/screens/OnChain/TechCommitteeProposals/query.ts
  front-end/src/screens/TechCommitteeProposalPost/index.tsx
  front-end/src/screens/TechCommitteeProposalPost/query.ts
  front-end/src/screens/TechCommitteeProposals/TechCommitteeProposalsContainer/index.tsx
  front-end/src/screens/TechCommitteeProposals/TechCommitteeProposalsContainer/query.ts
  front-end/src/screens/TechCommitteeProposals/index.tsx
  front-end/src/screens/Tracker/Bounties/index.tsx
  front-end/src/screens/Tracker/Bounties/query.ts
  front-end/src/screens/Tracker/Motions/index.tsx
  front-end/src/screens/Tracker/Motions/query.ts
  front-end/src/screens/Tracker/Proposals/index.tsx
  front-end/src/screens/Tracker/Proposals/query.ts
  front-end/src/screens/Tracker/Referenda/index.tsx
  front-end/src/screens/Tracker/Referenda/query.ts
  front-end/src/screens/Tracker/TechCommitteeProposals/index.tsx
  front-end/src/screens/Tracker/TechCommitteeProposals/query.ts
  front-end/src/screens/Tracker/Tips/index.tsx
  front-end/src/screens/Tracker/Tips/query.ts
  front-end/src/screens/Tracker/Treasury/index.tsx
  front-end/src/screens/Tracker/Treasury/query.ts
  front-end/src/screens/Tracker/index.tsx
Due: lint-front-end

Header
  auth-server/migrations/20210614133714_address_sign_message.js
  auth-server/src/schema/mutation/sendTransferNotice.ts
Due: lint-back-end

workflow
  .github/workflows/blank.yml
Due: none

Front end build
  .github/workflows/blank.yml
Due: none

fix
  chain-db-watcher/src/index.ts
Due: lint-chain-db-watcher

polkadot front end
  .github/workflows/blank.yml
Due: none

kubernetes
  kubernetes/init-polkadot.yml
  kubernetes/node-watcher/values-parity-prod.yaml
  kubernetes/node-watcher/values-polkadot-prod.yaml
  kubernetes/node-watcher/values.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values-polkadot-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

adapt the templates to support the GCE ingress
  kubernetes/polkassembly/templates/frontend-ingress.yaml
  kubernetes/polkassembly/templates/frontend-service.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

fix ingress template to work with networking.k8s.io/v1
  kubernetes/polkassembly/templates/frontend-ingress.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

fix
  kubernetes/polkassembly/templates/frontend-ingress.yaml
Due: none

fix ingress service name
  kubernetes/polkassembly/templates/frontend-ingress.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
Due: none

add google managed certificate
  kubernetes/init-polkadot.yml
  kubernetes/init.yaml
  kubernetes/polkassembly/templates/frontend-ingress.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
Due: none

Ingress fix
  kubernetes/init.yaml
  kubernetes/polkassembly/templates/frontend-ingress.yaml
  kubernetes/polkassembly/templates/frontend-service.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
Due: none

Update index.tsx
  front-end/src/screens/Home/index.tsx
Due: lint-front-end

polkadot service
  kubernetes/init-polkadot.yml
  kubernetes/node-watcher/values-parity-prod.yaml
  kubernetes/node-watcher/values-polkadot-prod.yaml
  kubernetes/node-watcher/values.yaml
  kubernetes/polkassembly/values-polkadot-prod.yaml
Due: none

test
  auth-server/src/services/auth.ts
Due: lint-back-end

jwt expiry fix
  auth-server/src/services/auth.ts
  kubernetes/polkassembly/values.yaml
Due: lint-back-end

kubernetes changes
  kubernetes/init-polkadot.yml
  kubernetes/init.yaml
  kubernetes/polkassembly/templates/auth-server-deployment.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values-polkadot-prod.yaml
Due: none

Legal info changes
  front-end/package.json
  front-end/src/assets/privacy-policy.ts
  front-end/src/assets/terms-and-conditions.ts
  front-end/src/assets/terms-of-website.ts
  front-end/src/components/Footer/index.tsx
  front-end/src/components/TransferNoticeInfoBox.tsx
  front-end/src/screens/Home/index.tsx
Due: lint-front-end

fix
  .gitignore
  front-end/src/components/Footer/index.tsx
Due: lint-front-end

Added scroll to code
  front-end/src/ui-components/Markdown.tsx
  kubernetes/polkassembly/templates/auth-server-deployment.yaml
  kubernetes/polkassembly/templates/frontend-deployment.yaml
Due: lint-front-end

Replace README with a pointer to Premiurly's fork
  README.md
Due: none

Replace README with a pointer to Premiurly's fork (#1186)
  README.md
Due: none
