Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  - yarn build
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  - yarn tsc
  tags:
  - linux-docker

lint-chain-db-watcher:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd chain-db-watcher
  - yarn install
  - yarn lint
  - yarn tsc
  tags:
  - linux-docker

Upgrade deps on front-end (#864)
  front-end/package.json
  front-end/src/components/Apollo.tsx
  front-end/src/components/ContentForm.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/TitleForm.tsx
  front-end/src/ui-components/AddressDropdown.tsx
  front-end/src/ui-components/MarkdownEditor.tsx
  front-end/src/ui-components/NetworkDropdown.tsx
  front-end/src/util/blockToTime.ts
  front-end/src/util/copyToClipboard.ts
  front-end/yarn.lock
Due: lint-front-end

Restyled scroll-to-top button (#869)
  front-end/src/ui-components/ScrollToTop.tsx
Due: lint-front-end

proper timeout
  auth-server/.yarnrc
  chain-db-open-server/.yarnrc
  chain-db-watcher/.yarnrc
  front-end/.yarnrc
  health-monitor/.yarnrc
  node-watcher/.yarnrc
Due: lint-front-end, lint-back-end, lint-chain-db-watcher

proper timeout (#877)
  auth-server/.yarnrc
  chain-db-open-server/.yarnrc
  chain-db-watcher/.yarnrc
  front-end/.yarnrc
  health-monitor/.yarnrc
  node-watcher/.yarnrc
Due: lint-front-end, lint-back-end, lint-chain-db-watcher

set secure flag for cookie (#875)
  auth-server/src/utils/setRefreshTokenCookie.ts
Due: lint-back-end

Upgrade deps to address security alerts (#862)
  chain-db-open-server/package.json
  chain-db-open-server/src/index.ts
  chain-db-open-server/yarn.lock
  kubernetes/node-watcher/node-watcher-harvester.yaml
  node-watcher/package.json
Due: none

use public key instead of address
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/services/auth.ts
  auth-server/src/services/email.ts
  auth-server/src/utils/getPublicKey.ts
  auth-server/test/resolvers/mutation/addressLinkStartPolkadot.spec.ts
Due: lint-back-end

stray log
  auth-server/src/controllers/eventsHook.ts
Due: lint-back-end

Make sure emails are sent to all users willing to be notified (#870)
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/services/auth.ts
  auth-server/src/services/email.ts
  auth-server/src/types.ts
  auth-server/src/utils/getPublicKey.ts
  auth-server/test/resolvers/mutation/addressLinkStartPolkadot.spec.ts
Due: lint-back-end

timestamps and permissions
  hasura/hasura-migrations/migrations/1591783921171_update_permission_user_public_table_poll/down.yaml
  hasura/hasura-migrations/migrations/1591783921171_update_permission_user_public_table_poll/up.yaml
  hasura/hasura-migrations/migrations/1591783928515_delete_permission_user_public_table_poll/down.yaml
  hasura/hasura-migrations/migrations/1591783928515_delete_permission_user_public_table_poll/up.yaml
  hasura/hasura-migrations/migrations/1591784156111_update_permission_anonymous_public_table_poll/down.yaml
  hasura/hasura-migrations/migrations/1591784156111_update_permission_anonymous_public_table_poll/up.yaml
  hasura/hasura-migrations/migrations/1591784203328_update_permission_user_public_table_poll/down.yaml
  hasura/hasura-migrations/migrations/1591784203328_update_permission_user_public_table_poll/up.yaml
  hasura/hasura-migrations/migrations/1591784218585_alter_table_public_poll_drop_column_updated_at/down.yaml
  hasura/hasura-migrations/migrations/1591784218585_alter_table_public_poll_drop_column_updated_at/up.yaml
  hasura/hasura-migrations/migrations/1591784231257_alter_table_public_poll_add_column_updated_at/down.yaml
  hasura/hasura-migrations/migrations/1591784231257_alter_table_public_poll_add_column_updated_at/up.yaml
  hasura/hasura-migrations/migrations/1591784238235_update_permission_anonymous_public_table_poll/down.yaml
  hasura/hasura-migrations/migrations/1591784238235_update_permission_anonymous_public_table_poll/up.yaml
  hasura/hasura-migrations/migrations/1591784245879_update_permission_user_public_table_poll/down.yaml
  hasura/hasura-migrations/migrations/1591784245879_update_permission_user_public_table_poll/up.yaml
  hasura/hasura-migrations/migrations/1591784265460_update_permission_anonymous_public_table_poll_votes/down.yaml
  hasura/hasura-migrations/migrations/1591784265460_update_permission_anonymous_public_table_poll_votes/up.yaml
  hasura/hasura-migrations/migrations/1591784271440_update_permission_user_public_table_poll_votes/down.yaml
  hasura/hasura-migrations/migrations/1591784271440_update_permission_user_public_table_poll_votes/up.yaml
  hasura/hasura-migrations/migrations/1591784279283_alter_table_public_poll_votes_drop_column_updated_at/down.yaml
  hasura/hasura-migrations/migrations/1591784279283_alter_table_public_poll_votes_drop_column_updated_at/up.yaml
  hasura/hasura-migrations/migrations/1591784288149_alter_table_public_poll_votes_add_column_updated_at/down.yaml
  hasura/hasura-migrations/migrations/1591784288149_alter_table_public_poll_votes_add_column_updated_at/up.yaml
Due: none

added relationship
  hasura/hasura-migrations/migrations/1591784363689_drop_relationship_poll_public_table_posts/down.yaml
  hasura/hasura-migrations/migrations/1591784363689_drop_relationship_poll_public_table_posts/up.yaml
  hasura/hasura-migrations/migrations/1591784367682_add_relationship__table_public_posts/down.yaml
  hasura/hasura-migrations/migrations/1591784367682_add_relationship__table_public_posts/up.yaml
Due: none

added @ardatan/graphql-tools
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

added permission
  hasura/hasura-migrations/migrations/1591787142733_update_permission_anonymous_public_table_poll_votes/down.yaml
  hasura/hasura-migrations/migrations/1591787142733_update_permission_anonymous_public_table_poll_votes/up.yaml
  hasura/hasura-migrations/migrations/1591787147722_update_permission_user_public_table_poll_votes/down.yaml
  hasura/hasura-migrations/migrations/1591787147722_update_permission_user_public_table_poll_votes/up.yaml
Due: none

removed unused relationship
  hasura/hasura-migrations/migrations/1591784363689_drop_relationship_poll_public_table_posts/down.yaml
  hasura/hasura-migrations/migrations/1591784363689_drop_relationship_poll_public_table_posts/up.yaml
Due: none

prevent poll vote when finished
  front-end/src/components/BlockCountdown.tsx
  front-end/src/components/Post/Poll/CouncilSignals.tsx
  front-end/src/components/Post/Poll/GeneralSignals.tsx
  front-end/src/components/Post/Poll/Poll.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/hooks/useCurrentBlock.ts
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/screens/CreatePost/query.ts
Due: lint-front-end

add tag:latest & enabled caching
  .gitlab-ci.yml
Due: none

change (ci): new repo for tools and kubetools images; readability
  .gitlab-ci.yml
Due: none

add tag:latest & enabled caching (#879)
  .gitlab-ci.yml
Due: none

prevent poll vote when finished (#878)
  front-end/src/components/BlockCountdown.tsx
  front-end/src/components/Post/Poll/CouncilSignals.tsx
  front-end/src/components/Post/Poll/GeneralSignals.tsx
  front-end/src/components/Post/Poll/Poll.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/hooks/useCurrentBlock.ts
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/screens/CreatePost/query.ts
Due: lint-front-end

Added onchain subcategories
  front-end/src/App.tsx
  front-end/src/components/MenuBar/index.tsx
  front-end/src/components/OnChain/Motions/index.tsx
  front-end/src/components/OnChain/Motions/query.ts
  front-end/src/components/OnChain/Proposals/index.tsx
  front-end/src/components/OnChain/Proposals/query.ts
  front-end/src/components/OnChain/Referenda/index.tsx
  front-end/src/components/OnChain/Referenda/query.ts
  front-end/src/components/OnChain/Treasury/index.tsx
  front-end/src/components/OnChain/Treasury/query.ts
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/Motions/index.tsx
  front-end/src/screens/Proposals/index.tsx
  front-end/src/screens/Referenda/index.tsx
  front-end/src/screens/Treasury/index.tsx
Due: lint-front-end

change (ci): new repo for tools and kubetools images; readability (#880)
  .gitlab-ci.yml
Due: none

Added better default content for onchain post
  chain-db-watcher/src/graphql_helpers.ts
Due: lint-chain-db-watcher

Update chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/graphql_helpers.ts
Due: lint-chain-db-watcher

Update front-end/src/components/MenuBar/index.tsx
  front-end/src/components/MenuBar/index.tsx
Due: lint-front-end

Added better default content for onchain post (#883)
  chain-db-watcher/src/graphql_helpers.ts
Due: lint-chain-db-watcher

update image
  hasura/docker-compose.yaml.example
  kubernetes/polkassembly/values.yaml
Due: none

update image (#886)
  hasura/docker-compose.yaml.example
  kubernetes/polkassembly/values.yaml
Due: none

adding links to onchain overview
  front-end/src/screens/OnChain/index.tsx
Due: lint-front-end

lint
  front-end/src/screens/OnChain/index.tsx
Due: lint-front-end

change classname
  front-end/src/screens/OnChain/index.tsx
Due: lint-front-end

Added sub-category links to on-chain overview page (#887)
  front-end/src/screens/OnChain/index.tsx
Due: lint-front-end

update to 10.1
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

remove hack seconding
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
Due: lint-front-end

update to 10.1 (#888)
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

remove no-extra-parens from eslint rules
  auth-server/.eslintrc.json
  chain-db-watcher/.eslintrc.json
  front-end/.eslintrc.json
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/hooks/useRedirectGovernancePost.ts
  health-monitor/.eslintrc.json
  util/.eslintrc.json
Due: lint-front-end, lint-back-end, lint-chain-db-watcher

changed treasury to treasury-proposals
  front-end/src/App.tsx
  front-end/src/components/MenuBar/index.tsx
Due: lint-front-end

remove no-extra-parens from eslint rules (#890)
  auth-server/.eslintrc.json
  chain-db-watcher/.eslintrc.json
  front-end/.eslintrc.json
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/hooks/useRedirectGovernancePost.ts
  health-monitor/.eslintrc.json
  util/.eslintrc.json
Due: lint-front-end, lint-back-end, lint-chain-db-watcher

remove hack seconding (#889)
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
Due: lint-front-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*
