Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*

Bump api 1.33 (#1027)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

Changed redirection link style
  front-end/src/components/ExternalLinks.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostTreasuryInfo.tsx
Due: lint-front-end

refactor
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

styling to the top
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Style proposal for redirection info (#1031)
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Add links to governance info rather than redirecting automatically (#1021)
  front-end/src/components/ExternalLinks.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/hooks/index.ts
  front-end/src/hooks/useRedirectGovernancePost.ts
  front-end/src/screens/DiscussionPost/index.tsx
  front-end/src/screens/MotionPost/index.tsx
  front-end/src/screens/ProposalPost/index.tsx
  front-end/src/screens/TreasuryPost/index.tsx
Due: lint-front-end

Cleaner encode/decode without Keyring or Buffer (#1028)
  auth-server/src/utils/getPublicKey.ts
  auth-server/src/utils/verifySignature.ts
  auth-server/test/resolvers/mutation/addressUnlinkKusama.spec.ts
  auth-server/test/resolvers/mutation/addressUnlinkPolkadot.spec.ts
  auth-server/test/utils/getPublicKey/getPublicKey.spec.ts
  front-end/src/util/getEncodedAddress.ts
Due: lint-front-end, lint-back-end

support any crypto
  auth-server/src/utils/verifySignature.ts
Due: lint-back-end

support any crypto (#1034)
  auth-server/src/utils/verifySignature.ts
Due: lint-back-end

Fix onchain referendum status filter Canceled -> Cancelled
  front-end/src/generated/graphql.tsx
  front-end/src/screens/OnChain/Referenda/query.ts
Due: lint-front-end

Fix onchain referendum status filter Canceled -> Cancelled (#1035)
  front-end/src/generated/graphql.tsx
  front-end/src/screens/OnChain/Referenda/query.ts
Due: lint-front-end

require node-forge ^0.10
  chain-db-open-server/package.json
  chain-db-open-server/yarn.lock
Due: none

v1.34.1
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

require node-forge ^0.10 (#1036)
  chain-db-open-server/package.json
  chain-db-open-server/yarn.lock
Due: none

green red color for motion's method for approve reject proposal
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
Due: lint-front-end

red bold reject
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
Due: lint-front-end

Update front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
Due: lint-front-end

green red color for motion's method for approve reject proposal (#1039)
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
Due: lint-front-end

v1.34.1 (#1038)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

pin redis helm chart to v10.9.0
  .gitlab-ci.yml
Due: none

pin redis helm chart to v10.9.0 (#1040)
  .gitlab-ci.yml
Due: none

Upgraded to v2.0.1
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

Upgraded to v2.0.1 (#1041)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

fix for motion and treasury 0
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

fix for motion and treasury 0 (#1043)
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Fix typo from-gtilab-vars -> from-gitlab-vars
  kubernetes/polkassembly/values.yaml
Due: none

Fix typo from-gtilab-vars -> from-gitlab-vars (#1045)
  kubernetes/polkassembly/values.yaml
Due: none

api v2.1.0
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

api v2.1.0 (#1048)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

api v2.2.1
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

api v2.2.1 (#1051)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

api v2.3.1
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

api v2.3.1 (#1052)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

bounties
  front-end/src/screens/Bounties/BountyContainer/index.tsx
  front-end/src/screens/Bounties/BountyContainer/query.ts
  front-end/src/screens/Bounties/index.tsx
  front-end/src/screens/BountyPost/index.tsx
  front-end/src/screens/BountyPost/query.ts
Due: lint-front-end

routes
  front-end/src/App.tsx
Due: lint-front-end

bounty
  front-end/src/components/Listings/BountiesListing.tsx
  front-end/src/screens/Bounties/BountyContainer/index.tsx
  front-end/src/screens/Bounties/BountyContainer/query.ts
  front-end/src/screens/Bounties/index.tsx
  front-end/src/screens/BountyPost/query.ts
Due: lint-front-end

bounty
  front-end/src/components/NoPostFound.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostBountyInfo.tsx
Due: lint-front-end

added bounty type
  node-watcher/datamodel.prisma
Due: none

Added bounty to prisma
  node-watcher/datamodel.prisma
  node-watcher/src/generated/prisma-client/index.ts
  node-watcher/src/generated/prisma-client/prisma-schema.ts
Due: none
