Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  - yarn build
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  - yarn tsc
  tags:
  - linux-docker

lint-chain-db-watcher:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd chain-db-watcher
  - yarn install
  - yarn lint
  - yarn tsc
  tags:
  - linux-docker

chain-db-watcher
  chain-db-watcher/README.md
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/queries/discussions-db.queries.ts
  chain-db-watcher/src/sync/getter.ts
  chain-db-watcher/src/sync/index.ts
  chain-db-watcher/src/sync/queries/chain-db.queries.ts
  chain-db-watcher/src/sync/queries/discussions-db.queries.ts
  chain-db-watcher/src/sync/utils.ts
  chain-db-watcher/src/types.ts
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end, lint-chain-db-watcher

chain db open server
  chain-db-open-server/prisma/datamodel.prisma
  chain-db-open-server/src/index.ts
  chain-db-open-server/src/resolvers/query.ts
  chain-db-open-server/src/resolvers/subscription.ts
  chain-db-open-server/src/schema.graphql
Due: none

chain db open server
  chain-db-open-server/src/generated/prisma-client/index.ts
  chain-db-open-server/src/generated/prisma-client/prisma-schema.ts
  chain-db-open-server/src/generated/prisma.graphql
  chain-db-open-server/src/index.ts
Due: none

added TECH_COMMITTEE_PROPOSAL_TOPIC_ID=3
  kubernetes/polkassembly/values.yaml
Due: none

polkadot api typescript fix
  node-watcher/package.json
  node-watcher/src/nodeWatcher.ts
  node-watcher/src/util/wait.ts
  node-watcher/yarn.lock
Due: none

polkadot api typescript fix (#1147)
  node-watcher/package.json
  node-watcher/src/nodeWatcher.ts
  node-watcher/src/util/wait.ts
  node-watcher/yarn.lock
Due: none

Timeline
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Timeline.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/ProposalPost/query.ts
Due: lint-front-end

end
  front-end/src/components/Post/Post.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/global/statuses.ts
  front-end/src/screens/BountyPost/query.ts
  front-end/src/screens/MotionPost/query.ts
  front-end/src/screens/ReferendumPost/query.ts
  front-end/src/screens/TechCommitteeProposalPost/query.ts
  front-end/src/screens/TipPost/query.ts
  front-end/src/screens/TreasuryPost/query.ts
  front-end/src/ui-components/StatusTag.tsx
Due: lint-front-end

Onchain Proposals Timeline (#1150)
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Timeline.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/global/statuses.ts
  front-end/src/screens/BountyPost/query.ts
  front-end/src/screens/MotionPost/query.ts
  front-end/src/screens/ProposalPost/query.ts
  front-end/src/screens/ReferendumPost/query.ts
  front-end/src/screens/TechCommitteeProposalPost/query.ts
  front-end/src/screens/TipPost/query.ts
  front-end/src/screens/TreasuryPost/query.ts
  front-end/src/ui-components/StatusTag.tsx
Due: lint-front-end

fix
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Timeline.tsx
Due: lint-front-end

fix (#1151)
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Timeline.tsx
Due: lint-front-end

Tracker
  front-end/src/App.tsx
  front-end/src/components/MenuBar/index.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/TrackerButton.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Tracker/Bounties/index.tsx
  front-end/src/screens/Tracker/Bounties/query.ts
  front-end/src/screens/Tracker/Motions/index.tsx
  front-end/src/screens/Tracker/Motions/query.ts
  front-end/src/screens/Tracker/Proposals/index.tsx
  front-end/src/screens/Tracker/Proposals/query.ts
  front-end/src/screens/Tracker/Referenda/index.tsx
  front-end/src/screens/Tracker/Referenda/query.ts
  front-end/src/screens/Tracker/TechCommitteeProposals/index.tsx
  front-end/src/screens/Tracker/TechCommitteeProposals/query.ts
  front-end/src/screens/Tracker/Tips/index.tsx
  front-end/src/screens/Tracker/Tips/query.ts
  front-end/src/screens/Tracker/Treasury/index.tsx
  front-end/src/screens/Tracker/Treasury/query.ts
  front-end/src/screens/Tracker/index.tsx
Due: lint-front-end

Tracker (#1152)
  front-end/src/App.tsx
  front-end/src/components/MenuBar/index.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/TrackerButton.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Tracker/Bounties/index.tsx
  front-end/src/screens/Tracker/Bounties/query.ts
  front-end/src/screens/Tracker/Motions/index.tsx
  front-end/src/screens/Tracker/Motions/query.ts
  front-end/src/screens/Tracker/Proposals/index.tsx
  front-end/src/screens/Tracker/Proposals/query.ts
  front-end/src/screens/Tracker/Referenda/index.tsx
  front-end/src/screens/Tracker/Referenda/query.ts
  front-end/src/screens/Tracker/TechCommitteeProposals/index.tsx
  front-end/src/screens/Tracker/TechCommitteeProposals/query.ts
  front-end/src/screens/Tracker/Tips/index.tsx
  front-end/src/screens/Tracker/Tips/query.ts
  front-end/src/screens/Tracker/Treasury/index.tsx
  front-end/src/screens/Tracker/Treasury/query.ts
  front-end/src/screens/Tracker/index.tsx
Due: lint-front-end

Wrapping sign message with <Bytes>for polkadot js extension
  auth-server/src/resolvers/mutation/addressLinkStart.ts
  auth-server/src/services/auth.ts
Due: lint-back-end

Wrapping sign message with <Bytes>for polkadot js extension (#1153)
  auth-server/src/resolvers/mutation/addressLinkStart.ts
  auth-server/src/services/auth.ts
Due: lint-back-end

signmessage fix
  auth-server/migrations/20210614133714_address_sign_message.js
Due: lint-back-end

signmessage fix (#1154)
  auth-server/migrations/20210614133714_address_sign_message.js
Due: lint-back-end

Fix for network in jwt claims
  front-end/src/context/UserDetailsContext.tsx
Due: lint-front-end

Fix for network in jwt claims (#1158)
  front-end/src/context/UserDetailsContext.tsx
Due: lint-front-end

Motion get voted not seconded
  front-end/src/components/Post/GovernanceSideBar/Motions/VoteMotion.tsx
Due: lint-front-end

api bump
  front-end/package.json
  front-end/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end

api bump (#1159)
  front-end/package.json
  front-end/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end

api bump
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: none

api bump (#1161)
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: none

fix
  health-monitor/package.json
Due: none

tip status update fix
  node-watcher/src/tasks/createTipStatus.ts
Due: none

tip status update fix (#1163)
  node-watcher/src/tasks/createTipStatus.ts
Due: none

tips fix
  node-watcher/src/tasks/createTipStatus.ts
Due: none

Polkassembly Transfer Notice
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/sendTransferNotice.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/sendTransferNotice.ts
  auth-server/src/services/email.ts
  auth-server/src/types.ts
  auth-server/src/utils/emailTemplates.ts
  front-end/src/components/TransferNoticeInfoBox.tsx
  front-end/src/screens/Home/index.tsx
Due: lint-front-end, lint-back-end

query email, dates
  front-end/src/components/TransferNoticeInfoBox.tsx
Due: lint-front-end

Moderation
  auth-server/src/services/email.ts
Due: lint-back-end

Moderation (#1165)
  auth-server/src/services/email.ts
Due: lint-back-end

Fix
  front-end/src/components/TransferNoticeInfoBox.tsx
Due: lint-front-end

Polkassembly Transfer Notice (#1164)
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/sendTransferNotice.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/sendTransferNotice.ts
  auth-server/src/services/email.ts
  auth-server/src/types.ts
  auth-server/src/utils/emailTemplates.ts
  front-end/src/components/TransferNoticeInfoBox.tsx
  front-end/src/screens/Home/index.tsx
Due: lint-front-end, lint-back-end

fix
  auth-server/src/utils/emailTemplates.ts
Due: lint-back-end

Acquasition email
  auth-server/src/resolvers/mutation/sendTransferNotice.ts
  auth-server/src/schema/mutation/sendTransferNotice.ts
  auth-server/src/services/email.ts
  auth-server/src/types.ts
  auth-server/src/utils/emailTemplates.ts
Due: lint-back-end

Acquasition email (#1166)
  auth-server/src/resolvers/mutation/sendTransferNotice.ts
  auth-server/src/schema/mutation/sendTransferNotice.ts
  auth-server/src/services/email.ts
  auth-server/src/types.ts
  auth-server/src/utils/emailTemplates.ts
Due: lint-back-end

migrate ingress objects to new ingress controller
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values-polkadot-prod.yaml
Due: none

Better titles for update email; api upgrade
  auth-server/src/services/email.ts
  node-watcher/package.json
  node-watcher/src/heads.ts
  node-watcher/src/tasks/createBlockNumber.ts
  node-watcher/src/tasks/createMotion.ts
  node-watcher/src/tasks/createPreimage.ts
  node-watcher/src/tasks/createTechCommitteeProposal.ts
  node-watcher/yarn.lock
Due: lint-back-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*
