Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

.gitlab-ci.yml:

image: parity/kubetools:latest
variables:
  KUBE_NAMESPACE:                  "polkassembly"
  CI_REGISTRY:                     "gcr.io/test-installations-222013"
  DOCKER_TAG:                      '$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA'
  GIT_STRATEGY:                    fetch
  GIT_DEPTH:                       3

stages:
  - test
  - dockerize
  - deploy
  - post-deploy

cache:
  key:                             '${CI_JOB_NAME}'
  paths:
    - node_modules/
    - packages/*/node_modules/

#### stage:                        test

lint-front-end:
  stage: test
  image: node:12
  interruptible:                   true
  dependencies:                    []
  script:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - cd front-end
    - yarn install
    - yarn lint
  rules:
    - changes:
      - "front-end/**/*"
  tags:
    - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible:                   true
  dependencies:                    []
  script:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - cd auth-server
    - yarn install
    - yarn lint
  rules:
    - changes:
      - "auth-server/**/*"
  tags:
    - linux-docker

#### stage:                        dockerize

.build_and_push:                   &build_and_push
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  tags:
    - kubernetes-parity-build
  image: docker:git
  services:
    - docker:dind
  script:
    - POD_NAME=$(echo ${CI_JOB_NAME} | sed -E 's/^[[:alnum:]:]+-//')
    - export DOCKER_IMAGE="${CI_REGISTRY}/${KUBE_NAMESPACE}-${POD_NAME}"
    - export DOCKER_IMAGE_FULL_NAME=$DOCKER_IMAGE:$DOCKER_TAG
    - echo "$BUILD_ARGS"
    - echo "$DOCKER_REGISTRY_JSON" | docker login -u _json_key --password-stdin https://gcr.io
    - eval "docker build -t" "$DOCKER_IMAGE_FULL_NAME" "$BUILD_ARGS" "$POD_NAME"
    - docker push "$DOCKER_IMAGE_FULL_NAME"

dockerize:staging-front-end:
  stage: dockerize
  environment:
    name: parity-build
  before_script:
    - export BUILD_ARGS="--build-arg REACT_APP_HASURA_GRAPHQL_URL=$(printf \"$STAGING_REACT_APP_HASURA_GRAPHQL_URL\")"
    - export BUILD_ARGS="$BUILD_ARGS --build-arg REACT_APP_JWT_PUBLIC_KEY=$(printf "%s" \'"$STAGING_REACT_APP_JWT_PUBLIC_KEY"\')"
  only:
    - master
  <<: *build_and_push

dockerize:production-front-end:
  stage: dockerize
  environment:
    name: parity-build
  before_script:
    - export BUILD_ARGS="--build-arg REACT_APP_HASURA_GRAPHQL_URL=$(printf \"$PRODUCTION_REACT_APP_HASURA_GRAPHQL_URL\")"
    - export BUILD_ARGS="$BUILD_ARGS --build-arg REACT_APP_JWT_PUBLIC_KEY=$(printf "%s" \'"$PRODUCTION_REACT_APP_JWT_PUBLIC_KEY"\')"
  only:
    - tags
  <<: *build_and_push

dockerize-auth-server:
  stage: dockerize
  environment:
    name: parity-build
  only:
    - master
    - tags
  <<: *build_and_push

dockerize-chain-db-watcher:
  stage: dockerize
  environment:
    name: parity-build
  only:
    - master
    - tags
  <<: *build_and_push

#### stage:                        deploy

.deploy-k8s:                   &deploy-k8s
  script:
    - export DOCKER_TAG=${CI_COMMIT_REF_SLUG}
    # check syntax
    - for f in kubernetes/polkassembly/*yaml; do echo $f; cat $f | envsubst | kubectl --dry-run --validate -n polkassembly apply -f -; done
    # print rendered yaml
    - for f in kubernetes/polkassembly/*yaml; do echo $f; cat $f | envsubst; echo '---'; done
    # deploy yaml to cluster
    - for f in kubernetes/polkassembly/*yaml; do cat $f | envsubst | kubectl -n polkassembly apply -f -; done

deploy-staging:
  stage: deploy
  environment:
    name: dashboards-cluster-1
  tags:
    - kubernetes-parity-build
  only:
    - master
  <<: *deploy-k8s

deploy-production:
  stage: deploy
  environment:
    name: parity-prod
  tags:
    - kubernetes-parity-build
  only:
    - tags
  <<: *deploy-k8s

nickname
  front-end/src/ui-components/Address.tsx
Due: lint-front-end

Fixed contentId type to string to accomodate comment id (#532)
  auth-server/migrations/20200305162755_content_report.js
  auth-server/src/model/ContentReport.ts
  auth-server/src/resolvers/mutation/reportContent.ts
  auth-server/src/schema/mutation/reportContent.ts
  auth-server/src/services/email.ts
  front-end/src/components/Comment/EditableCommentContent.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/ReportButton/index.tsx
  front-end/src/components/ReportButton/query.ts
  front-end/src/generated/graphql.tsx
Due: lint-front-end, lint-back-end

Added ejs template engine (#524)
  auth-server/package.json
  auth-server/src/services/email.ts
  auth-server/src/utils/emailTemplates.ts
  auth-server/yarn.lock
  front-end/src/components/Balance.tsx
Due: lint-front-end, lint-back-end

0 delay
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
Due: lint-front-end

Update README.md
  README.md
Due: none

0 delay (#541)
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
Due: lint-front-end

Added greyscale
  front-end/src/ui-components/Address.tsx
Due: lint-front-end

Add description (#542)
  README.md
Due: none

Added network to content report
  auth-server/migrations/20200313181311_report_content_network.js
  auth-server/src/model/ContentReport.ts
  auth-server/src/resolvers/mutation/reportContent.ts
  auth-server/src/schema/mutation/reportContent.ts
  auth-server/src/services/email.ts
  auth-server/src/utils/emailTemplates.ts
  front-end/src/components/ReportButton/index.tsx
  front-end/src/components/ReportButton/query.ts
  front-end/src/generated/graphql.tsx
Due: lint-front-end, lint-back-end

Not showing author id and creation date on chain posts
  front-end/src/components/Post/PostContent.tsx
Due: lint-front-end

Adding SAST security scanning to Gitlab CI
  .gitlab-ci.yml
Due: none

Enable Gitlab dependencies scanning
  .gitlab-ci.yml
Due: none

Enable Gitlab's license scanning
  .gitlab-ci.yml
Due: none

Added network to content report (#543)
  auth-server/migrations/20200313181311_report_content_network.js
  auth-server/src/model/ContentReport.ts
  auth-server/src/resolvers/mutation/reportContent.ts
  auth-server/src/schema/mutation/reportContent.ts
  auth-server/src/services/email.ts
  auth-server/src/utils/emailTemplates.ts
  front-end/src/components/ReportButton/index.tsx
  front-end/src/components/ReportButton/query.ts
  front-end/src/generated/graphql.tsx
Due: lint-front-end, lint-back-end

Explicitly set path for analyzers
  .gitlab-ci.yml
Due: none

Join all security scanning together
  .gitlab-ci.yml
Due: none

Use root dir for kubesec
  .gitlab-ci.yml
Due: none

Only scan kubernetes folder with a kubernetes scanner
  .gitlab-ci.yml
Due: none

motion and seconding
  front-end/src/components/Post/GovernanceSideBar/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/ui-components/Loader.tsx
Due: lint-front-end

Kirushik/security tools setup (#547)
  .gitlab-ci.yml
Due: none

working frontend skeleton
  kubernetes/polkassembly/.helmignore
  kubernetes/polkassembly/Chart.yaml
  kubernetes/polkassembly/auth-server-config.yaml
  kubernetes/polkassembly/auth-server-deployment.yaml
  kubernetes/polkassembly/auth-server-secrets.yaml
  kubernetes/polkassembly/auth-server-service.yaml
  kubernetes/polkassembly/chain-db-watcher-config.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
  kubernetes/polkassembly/cloudsql-instance-credentials-secret.yaml
  kubernetes/polkassembly/front-end-deployment.yaml
  kubernetes/polkassembly/front-end-ingress.yaml
  kubernetes/polkassembly/front-end-service.yaml
  kubernetes/polkassembly/hasura-config.yaml
  kubernetes/polkassembly/hasura-deployment.yaml
  kubernetes/polkassembly/hasura-secrets.yaml
  kubernetes/polkassembly/hasura-service.yaml
  kubernetes/polkassembly/regcred-secret.yaml
  kubernetes/polkassembly/templates/_helpers.tpl
  kubernetes/polkassembly/templates/frontend-deployment.yaml
  kubernetes/polkassembly/templates/frontend-ingress.yaml
  kubernetes/polkassembly/templates/frontend-service.yaml
  kubernetes/polkassembly/values.yaml
Due: none

all apps in _helpers templ.
  kubernetes/polkassembly/templates/_helpers.tpl
Due: none

wip-1
  kubernetes/polkassembly/templates/_helpers.tpl
  kubernetes/polkassembly/templates/auth-server-config.yaml
  kubernetes/polkassembly/templates/auth-server-deployment.yaml
  kubernetes/polkassembly/templates/auth-server-service.yaml
  kubernetes/polkassembly/templates/chain-db-watcher-deployment.yaml
  kubernetes/polkassembly/templates/cloudsql-instance-credentials-secret.yaml
  kubernetes/polkassembly/templates/frontend-deployment.yaml
  kubernetes/polkassembly/templates/frontend-service.yaml
  kubernetes/polkassembly/templates/hasura-config.yaml
  kubernetes/polkassembly/templates/hasura-deployment.yaml
  kubernetes/polkassembly/templates/hasura-service.yaml
  kubernetes/polkassembly/values.yaml
Due: none

Using latest eslint version
  auth-server/package.json
  auth-server/yarn.lock
Due: lint-back-end

Using latest eslint version (#551)
  auth-server/package.json
  auth-server/yarn.lock
Due: lint-back-end

Added reactions schema
  hasura/hasura-migrations/migrations/1584361903218_create_table_public_post_reactions/down.yaml
  hasura/hasura-migrations/migrations/1584361903218_create_table_public_post_reactions/up.yaml
  hasura/hasura-migrations/migrations/1584362139912_table_post_reactions_create_remote_relationship_reacting_user/down.yaml
  hasura/hasura-migrations/migrations/1584362139912_table_post_reactions_create_remote_relationship_reacting_user/up.yaml
  hasura/hasura-migrations/migrations/1584363956855_update_permission_anonymous_public_table_post_reactions/down.yaml
  hasura/hasura-migrations/migrations/1584363956855_update_permission_anonymous_public_table_post_reactions/up.yaml
  hasura/hasura-migrations/migrations/1584364306868_update_permission_user_public_table_post_reactions/down.yaml
  hasura/hasura-migrations/migrations/1584364306868_update_permission_user_public_table_post_reactions/up.yaml
  hasura/hasura-migrations/migrations/1584364379469_apply_same_permissions_public_table_post_reactions/down.yaml
  hasura/hasura-migrations/migrations/1584364379469_apply_same_permissions_public_table_post_reactions/up.yaml
  hasura/hasura-migrations/migrations/1584364520489_alter_table_public_post_reactions_add_column_created_at/down.yaml
  hasura/hasura-migrations/migrations/1584364520489_alter_table_public_post_reactions_add_column_created_at/up.yaml
  hasura/hasura-migrations/migrations/1584364572728_alter_table_public_post_reactions_add_column_updated_at/down.yaml
  hasura/hasura-migrations/migrations/1584364572728_alter_table_public_post_reactions_add_column_updated_at/up.yaml
  hasura/hasura-migrations/migrations/1584369281245_create_table_public_comment_reactions/down.yaml
  hasura/hasura-migrations/migrations/1584369281245_create_table_public_comment_reactions/up.yaml
  hasura/hasura-migrations/migrations/1584369300421_alter_table_public_comment_reactions_alter_column_created_at/down.yaml
  hasura/hasura-migrations/migrations/1584369300421_alter_table_public_comment_reactions_alter_column_created_at/up.yaml
  hasura/hasura-migrations/migrations/1584369306774_alter_table_public_comment_reactions_alter_column_updated_at/down.yaml
  hasura/hasura-migrations/migrations/1584369306774_alter_table_public_comment_reactions_alter_column_updated_at/up.yaml
  hasura/hasura-migrations/migrations/1584369338859_alter_table_public_post_reactions_drop_column_created_at/down.yaml
  hasura/hasura-migrations/migrations/1584369338859_alter_table_public_post_reactions_drop_column_created_at/up.yaml
  hasura/hasura-migrations/migrations/1584369347682_alter_table_public_post_reactions_drop_column_updated_at/down.yaml
  hasura/hasura-migrations/migrations/1584369347682_alter_table_public_post_reactions_drop_column_updated_at/up.yaml
  hasura/hasura-migrations/migrations/1584369373333_alter_table_public_post_reactions_add_column_created_at/down.yaml
  hasura/hasura-migrations/migrations/1584369373333_alter_table_public_post_reactions_add_column_created_at/up.yaml
  hasura/hasura-migrations/migrations/1584369393830_alter_table_public_post_reactions_add_column_updated_at/down.yaml
  hasura/hasura-migrations/migrations/1584369393830_alter_table_public_post_reactions_add_column_updated_at/up.yaml
  hasura/hasura-migrations/migrations/1584369407343_alter_table_public_post_reactions_alter_column_created_at/down.yaml
  hasura/hasura-migrations/migrations/1584369407343_alter_table_public_post_reactions_alter_column_created_at/up.yaml
  hasura/hasura-migrations/migrations/1584369411472_alter_table_public_post_reactions_alter_column_updated_at/down.yaml
  hasura/hasura-migrations/migrations/1584369411472_alter_table_public_post_reactions_alter_column_updated_at/up.yaml
  hasura/hasura-migrations/migrations/1584369548548_table_comment_reactions_create_remote_relationship_reacting_user/down.yaml
  hasura/hasura-migrations/migrations/1584369548548_table_comment_reactions_create_remote_relationship_reacting_user/up.yaml
Due: none

remove build/types
  chain-db-watcher/build/types.js
Due: none

Added onchain identity display as displayname (#533)
  front-end/src/ui-components/Address.tsx
Due: lint-front-end

Not showing author id and creation date on chain posts (#544)
  front-end/src/components/Post/PostContent.tsx
Due: lint-front-end

wip-2
  kubernetes/polkassembly.bak/auth-server-deployment.yaml
  kubernetes/polkassembly.bak/auth-server-secrets.yaml
  kubernetes/polkassembly.bak/auth-server-service.yaml
  kubernetes/polkassembly.bak/chain-db-watcher-config.yaml
  kubernetes/polkassembly.bak/chain-db-watcher-deployment.yaml
  kubernetes/polkassembly.bak/cloudsql-instance-credentials-secret.yaml
  kubernetes/polkassembly.bak/front-end-deployment.yaml
  kubernetes/polkassembly.bak/front-end-ingress.yaml
  kubernetes/polkassembly.bak/front-end-service.yaml
  kubernetes/polkassembly.bak/hasura-config.yaml
  kubernetes/polkassembly.bak/hasura-deployment.yaml
  kubernetes/polkassembly.bak/hasura-secrets.yaml
  kubernetes/polkassembly.bak/hasura-service.yaml
  kubernetes/polkassembly.bak/regcred-secret.yaml
  kubernetes/polkassembly/values.yaml
Due: none

enforcing ssl on all fontend requests
  kubernetes/polkassembly/front-end-ingress.yaml
Due: none

remove debugging output from deployment stage
  .gitlab-ci.yml
Due: none

Fv improve security (#554)
  .gitlab-ci.yml
  kubernetes/polkassembly/front-end-ingress.yaml
Due: none

Added working version
  front-end/src/App.tsx
  front-end/src/components/Reactionbar/ReactionButton.tsx
  front-end/src/components/Reactionbar/index.tsx
  front-end/src/context/ReactionContext.tsx
  front-end/src/context/query.ts
  front-end/src/generated/graphql.tsx
Due: lint-front-end

refactor
  front-end/src/components/Post/GovernanceSideBar/AccountSelectionForm.tsx
  front-end/src/components/Post/GovernanceSideBar/AyeNayButtons.tsx
  front-end/src/components/Post/GovernanceSideBar/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteReferendum.tsx
  front-end/src/ui-components/AddressDropdown.tsx
Due: lint-front-end

reactions working
  front-end/src/App.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Reactionbar/ReactionButton.tsx
  front-end/src/components/Reactionbar/index.tsx
Due: lint-front-end

identity before nickname
  front-end/src/ui-components/Address.tsx
Due: lint-front-end

identity before nickname (#556)
  front-end/src/ui-components/Address.tsx
Due: lint-front-end
