Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-chain-db-watcher:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd chain-db-watcher
  - yarn install
  - yarn lint
  tags:
  - linux-docker

less readable but remove the as
  chain-db-watcher/src/sync/index.ts
Due: lint-chain-db-watcher

pin docker-in-docker image to version 18, v19 has breaking change
  .gitlab-ci.yml
Due: none

pin docker-in-docker image to version 18, v19 has breaking change (#699)
  .gitlab-ci.yml
Due: none

enhance typing
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/services/email.ts
  auth-server/src/types.ts
  auth-server/src/utils/emailTemplates.ts
  auth-server/src/utils/getPostLink.ts
  auth-server/src/utils/getPostType.ts
  front-end/yarn.lock
Due: lint-front-end, lint-back-end

refactor redirects
  front-end/src/generated/graphql.tsx
  front-end/src/hooks/index.ts
  front-end/src/hooks/useRedirectGovernancePost.ts
  front-end/src/hooks/useRedirectMotion.ts
  front-end/src/hooks/useRedirectReferenda.ts
  front-end/src/screens/DiscussionPost/index.tsx
  front-end/src/screens/DiscussionPost/query.ts
  front-end/src/screens/MotionPost/index.tsx
  front-end/src/screens/ProposalPost/index.tsx
  front-end/src/screens/TreasuryPost/index.tsx
Due: lint-front-end

new yarn.lock
  front-end/yarn.lock
Due: lint-front-end

Check error message type (#695)
  front-end/src/components/Comment/EditableCommentContent.tsx
  front-end/src/components/EditablePostContent.tsx
  front-end/src/components/Login/Web2Login.tsx
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/components/Post/PostCommentForm.tsx
  front-end/src/components/ReportButton/index.tsx
  front-end/src/screens/CreatePost/TopicsRadio.tsx
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/screens/DiscussionPost/index.tsx
  front-end/src/screens/Discussions/Discussions.tsx
  front-end/src/screens/Home/LatestDiscussions/index.tsx
  front-end/src/screens/Home/LatestMotions/index.tsx
  front-end/src/screens/Home/LatestProposals/index.tsx
  front-end/src/screens/Home/LatestReferenda/index.tsx
  front-end/src/screens/Home/LatestTreasury/index.tsx
  front-end/src/screens/MotionPost/index.tsx
  front-end/src/screens/NotificationSettings/index.tsx
  front-end/src/screens/OnChain/Motions/index.tsx
  front-end/src/screens/OnChain/Proposals/index.tsx
  front-end/src/screens/OnChain/Referenda/index.tsx
  front-end/src/screens/OnChain/Treasury/index.tsx
  front-end/src/screens/ProposalPost/index.tsx
  front-end/src/screens/ReferendumPost/index.tsx
  front-end/src/screens/RequestResetPassword/index.tsx
  front-end/src/screens/ResetPassword/index.tsx
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/Settings/fullname.tsx
  front-end/src/screens/Settings/password.tsx
  front-end/src/screens/Settings/username.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/screens/TreasuryPost/index.tsx
  front-end/src/screens/UndoEmailChange/index.tsx
  front-end/src/screens/VerifyEmail/index.tsx
Due: lint-front-end

Update chain-db-watcher/src/types.ts
  chain-db-watcher/src/types.ts
Due: lint-chain-db-watcher

blocktime from api refactor
  front-end/src/components/BlocksToTime.tsx
  front-end/src/global/networkConstants.ts
  front-end/src/util/blockToTime.ts
Due: lint-front-end

Fix bugs on master
  front-end/src/screens/CreatePost/TopicsRadio.tsx
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/screens/DiscussionPost/index.tsx
Due: lint-front-end

Fix bugs on master (#702)
  front-end/src/screens/CreatePost/TopicsRadio.tsx
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/screens/DiscussionPost/index.tsx
Due: lint-front-end

Added build check for front-end auth-server chain-db-watcher
  .gitlab-ci.yml
Due: none

vertical overflow onchain info fix
  front-end/src/ui-components/OnchainInfoWrapper.tsx
Due: lint-front-end

vertical overflow onchain info fix (#705)
  front-end/src/ui-components/OnchainInfoWrapper.tsx
Due: lint-front-end

Fixed warnings. changed a to button element
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/screens/Settings/email.tsx
Due: lint-front-end

Added button link component
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/screens/Settings/email.tsx
Due: lint-front-end

added button link component
  front-end/src/ui-components/ButtonLink.tsx
Due: lint-front-end

Added build check for front-end auth-server chain-db-watcher (#704)
  .gitlab-ci.yml
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/screens/Settings/email.tsx
  front-end/src/ui-components/ButtonLink.tsx
Due: lint-front-end

Update Comment.tsx
  front-end/src/components/Comment/Comment.tsx
Due: lint-front-end

Comment box width fix (#707)
  front-end/src/components/Comment/Comment.tsx
Due: lint-front-end

Fix comment redirection subscriptions (#700)
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/services/email.ts
  auth-server/src/types.ts
  auth-server/src/utils/emailTemplates.ts
  auth-server/src/utils/getPostLink.ts
  auth-server/src/utils/getPostType.ts
  front-end/src/generated/graphql.tsx
  front-end/src/hooks/index.ts
  front-end/src/hooks/useRedirectGovernancePost.ts
  front-end/src/hooks/useRedirectMotion.ts
  front-end/src/hooks/useRedirectReferenda.ts
  front-end/src/screens/DiscussionPost/index.tsx
  front-end/src/screens/DiscussionPost/query.ts
  front-end/src/screens/MotionPost/index.tsx
  front-end/src/screens/ProposalPost/index.tsx
  front-end/src/screens/TreasuryPost/index.tsx
  front-end/yarn.lock
Due: lint-front-end, lint-back-end

Prevent motions following a treasury to be continuously reassigned (#698)
  chain-db-watcher/src/sync/index.ts
  chain-db-watcher/src/types.ts
Due: lint-chain-db-watcher

Fix referenda attributed to wrong motion (#696)
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/queries/chain-db.queries.ts
  chain-db-watcher/src/sync/index.ts
  chain-db-watcher/src/sync/queries/chain-db.queries.ts
  chain-db-watcher/src/sync/utils.ts
  chain-db-watcher/src/types.ts
Due: lint-chain-db-watcher

link underline
  front-end/src/ui-components/ButtonLink.tsx
Due: lint-front-end

link underline (#709)
  front-end/src/ui-components/ButtonLink.tsx
Due: lint-front-end

Added health check for auth server
  chain-db-watcher/README.md
  chain-db-watcher/src/index.ts
  health-monitor/README.md
  health-monitor/package.json
  health-monitor/src/index.ts
  health-monitor/yarn.lock
Due: lint-chain-db-watcher

Added other statuses
  health-monitor/src/index.ts
Due: none

Added post id in email
  auth-server/src/services/email.ts
Due: lint-back-end

Added prisma version and rpc call
  health-monitor/README.md
  health-monitor/package.json
  health-monitor/src/index.ts
  health-monitor/yarn.lock
Due: none

revert border
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

revert border (#723)
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

fixed chain db watcher and front end
  chain-db-watcher/package.json
  front-end/package.json
Due: lint-front-end, lint-chain-db-watcher

Fix
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

Added address web3 signup mutations
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/addressSignupConfirm.ts
  auth-server/src/resolvers/mutation/addressSignupStart.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/addressSignupConfirm.ts
  auth-server/src/schema/mutation/addressSignupStart.ts
  auth-server/src/services/auth.ts
  auth-server/src/services/email.ts
  auth-server/src/types.ts
  auth-server/src/utils/emailTemplates.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end

Added link to issues tracker
  front-end/src/components/Footer/index.tsx
Due: lint-front-end

referendum startDateTime
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/ReferendumPost/query.ts
Due: lint-front-end

typo
  front-end/src/components/BlocksToTime.tsx
Due: lint-front-end

api blocktime in countdown
  front-end/src/components/BlockCountdown.tsx
Due: lint-front-end

lint
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
Due: lint-front-end

Update front-end/src/components/Footer/index.tsx
  front-end/src/components/Footer/index.tsx
Due: lint-front-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*
