Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

Added resendVerifyEmailToken mutation (#307)
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/resendVerifyEmailToken.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/resendVerifyEmailToken.ts
  auth-server/src/services/auth.ts
  auth-server/src/utils/messages.ts
  auth-server/test/resolvers/mutation/resendVerifyEmailToken.spec.ts
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/Settings/query.ts
Due: lint-front-end, lint-back-end

Dismissable info boxes
  front-end/src/screens/Discussions/index.tsx
  front-end/src/screens/OnChain/index.tsx
  front-end/src/ui-components/InfoBox.tsx
Due: lint-front-end

Vote lock popup
  front-end/src/components/Post/VoteRefrendum.tsx
  front-end/src/screens/Discussions/index.tsx
  front-end/src/ui-components/InfoBox.tsx
Due: lint-front-end

removed not working build arg
  .gitlab-ci.yml
Due: none

Fv build args in dockerize (#303)
  .gitlab-ci.yml
  front-end/Dockerfile
Due: lint-front-end

no info object
  front-end/src/screens/Discussions/index.tsx
  front-end/src/screens/OnChain/index.tsx
Due: lint-front-end

Apply suggestions from code review
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

vote lock styling
  front-end/src/components/Post/VoteRefrendum.tsx
  front-end/src/ui-components/Button.tsx
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

showing Show Linked Addresses if addresses in context
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

renaming
  front-end/src/screens/Discussions/index.tsx
  front-end/src/screens/OnChain/index.tsx
Due: lint-front-end

font var + button box-shadow
  front-end/src/components/DiscussionCard.tsx
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Post/VoteRefrendum.tsx
  front-end/src/themes/theme.ts
  front-end/src/ui-components/Button.tsx
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

explanation popup
  front-end/src/components/Post/VoteRefrendum.tsx
Due: lint-front-end

Opening polkadot extesion popup only on button click and not automatically (#301)
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

simple comment avatar
  front-end/src/components/Comment/Comment.tsx
  front-end/src/ui-components/Avatar.tsx
Due: lint-front-end

moving logic
  front-end/src/screens/Discussions/index.tsx
  front-end/src/screens/OnChain/index.tsx
  front-end/src/ui-components/InfoBox.tsx
Due: lint-front-end

simple comment avatar (#313)
  front-end/src/components/Comment/Comment.tsx
  front-end/src/ui-components/Avatar.tsx
Due: lint-front-end

Vote lock styling (#312)
  front-end/src/components/DiscussionCard.tsx
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Post/VoteRefrendum.tsx
  front-end/src/themes/theme.ts
  front-end/src/ui-components/Button.tsx
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

migration for onchain_motion_id
  hasura/hasura-migrations/migrations/1581529252179_alter_table_public_onchain_links_add_column_onchain_motion_id/down.yaml
  hasura/hasura-migrations/migrations/1581529252179_alter_table_public_onchain_links_add_column_onchain_motion_id/up.yaml
  hasura/hasura-migrations/migrations/1581529328961_table_onchain_links_create_remote_relationship_onchain_motion/down.yaml
  hasura/hasura-migrations/migrations/1581529328961_table_onchain_links_create_remote_relationship_onchain_motion/up.yaml
  hasura/hasura-migrations/migrations/1581529350797_update_permission_proposal_bot_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1581529350797_update_permission_proposal_bot_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/1581529362839_update_permission_anonymous_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1581529362839_update_permission_anonymous_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/1581529371808_update_permission_user_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1581529371808_update_permission_user_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/1581529380814_update_permission_proposal_bot_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1581529380814_update_permission_proposal_bot_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/1581529398610_update_permission_proposal_bot_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1581529398610_update_permission_proposal_bot_public_table_onchain_links/up.yaml
Due: none

initializion fix
  front-end/src/ui-components/InfoBox.tsx
Due: lint-front-end

layouting
  front-end/src/components/Listings/DiscussionsListing.tsx
  front-end/src/components/Listings/ProposalsListing.tsx
  front-end/src/components/Listings/ReferendaListing.tsx
  front-end/src/screens/Discussions/index.tsx
  front-end/src/screens/OnChain/index.tsx
  front-end/src/ui-components/InfoBox.tsx
Due: lint-front-end

Update front-end/src/ui-components/InfoBox.tsx
  front-end/src/ui-components/InfoBox.tsx
Due: lint-front-end

tooltip size + buttoncontainer
  front-end/src/components/Post/VoteRefrendum.tsx
  front-end/src/screens/Discussions/index.tsx
  front-end/src/screens/Home/HomeContent.tsx
  front-end/src/screens/OnChain/index.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/ui-components/InfoBox.tsx
Due: lint-front-end

motion creation
  chain-db-watcher/README.md
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/queries/chain-db.queries.ts
  chain-db-watcher/src/queries/discussions-db.queries.ts
Due: none

blue -> mint
  front-end/src/themes/theme.ts
Due: lint-front-end

removed unused dependencies
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

removed unused dependencies (#317)
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

change config for chain db graphql url
  kubernetes/polkassembly/chain-db-watcher-config.yaml
Due: none

change config for chain db graphql url (#318)
  kubernetes/polkassembly/chain-db-watcher-config.yaml
Due: none

Added imagePullPolicy: Always to chain-db-watcher deployment
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
Due: none

fix url
  kubernetes/polkassembly/chain-db-watcher-config.yaml
Due: none

chain db fix url and imagepullpolicy (#319)
  kubernetes/polkassembly/chain-db-watcher-config.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
Due: none

in between
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/queries/chain-db.queries.ts
  chain-db-watcher/src/queries/discussions-db.queries.ts
  chain-db-watcher/src/sync/getter.ts
  chain-db-watcher/src/sync/index.ts
  chain-db-watcher/src/sync/queries/chain-db.queries.ts
  chain-db-watcher/src/sync/queries/discussions-db.queries.ts
  chain-db-watcher/src/types.ts
Due: none

changed proposal bot user id and added yarn migrate
  auth-server/Dockerfile
  kubernetes/polkassembly/auth-server-config.yaml
Due: lint-back-end

changed proposal bot user id and added yarn migrate (#320)
  auth-server/Dockerfile
  kubernetes/polkassembly/auth-server-config.yaml
Due: lint-back-end

fix yarn migrate
  auth-server/Dockerfile
  auth-server/package.json
Due: lint-back-end

fix yarn migrate (#321)
  auth-server/Dockerfile
  auth-server/package.json
Due: lint-back-end

linting
  front-end/src/ui-components/InfoBox.tsx
Due: lint-front-end

Update InfoBox.tsx
  front-end/src/ui-components/InfoBox.tsx
Due: lint-front-end

working :tada:
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/queries/chain-db.queries.ts
  chain-db-watcher/src/sync/index.ts
  chain-db-watcher/src/sync/utils.ts
Due: none

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
