Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  - yarn build
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  - yarn tsc
  tags:
  - linux-docker

lint-chain-db-watcher:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd chain-db-watcher
  - yarn install
  - yarn lint
  - yarn tsc
  tags:
  - linux-docker

remove some more resolutions
  chain-db-open-server/package.json
  chain-db-open-server/yarn.lock
Due: none

remove some more resolutions (#916)
  chain-db-open-server/package.json
  chain-db-open-server/yarn.lock
Due: none

change pullPolicy for always open-server and node-watcher
  kubernetes/node-watcher/values.yaml
Due: none

change pullPolicy for always open-server and node-watcher (#917)
  kubernetes/node-watcher/values.yaml
Due: none

Point hasura and chain-db-watcher to open server in test
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

Point hasura and chain-db-watcher to open server in test (#918)
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

Sort discussion by last update (#896)
  front-end/src/components/Listings/DiscussionsListing.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Discussions/query.ts
  hasura/hasura-migrations/migrations/1591974115375_run_sql_migration/down.yaml
  hasura/hasura-migrations/migrations/1591974115375_run_sql_migration/up.yaml
  hasura/hasura-migrations/migrations/1591974154804_create_relationship_post_public_table_post_last_update/down.yaml
  hasura/hasura-migrations/migrations/1591974154804_create_relationship_post_public_table_post_last_update/up.yaml
  hasura/hasura-migrations/migrations/1591974175368_update_permission_anonymous_public_table_post_last_update/down.yaml
  hasura/hasura-migrations/migrations/1591974175368_update_permission_anonymous_public_table_post_last_update/up.yaml
  hasura/hasura-migrations/migrations/1591974197981_update_permission_user_public_table_post_last_update/down.yaml
  hasura/hasura-migrations/migrations/1591974197981_update_permission_user_public_table_post_last_update/up.yaml
  hasura/hasura-migrations/migrations/1592305332830_drop_relationship_post_public_table_post_last_update/down.yaml
  hasura/hasura-migrations/migrations/1592305332830_drop_relationship_post_public_table_post_last_update/up.yaml
  hasura/hasura-migrations/migrations/1592305755095_create_relationship_last_update_public_table_posts/down.yaml
  hasura/hasura-migrations/migrations/1592305755095_create_relationship_last_update_public_table_posts/up.yaml
  launch.sh
Due: lint-front-end

Showing sidebar in mobile (#900)
  front-end/src/components/ExtensionNotDetected.tsx
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

auth-server
  auth-server/package.json
  auth-server/yarn.lock
Due: lint-back-end

front-end
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

health-monitor
  health-monitor/package.json
  health-monitor/yarn.lock
Due: none

node-watcher
  node-watcher/package.json
  node-watcher/yarn.lock
Due: none

Bump polkadot/api v1.19 (#920)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

add unique keys
  hasura/hasura-migrations/migrations/1592400318046_alter_table_public_poll_votes_add_unique_poll_id_user_id/down.yaml
  hasura/hasura-migrations/migrations/1592400318046_alter_table_public_poll_votes_add_unique_poll_id_user_id/up.yaml
  hasura/hasura-migrations/migrations/1592400359607_alter_table_public_comment_reactions_add_unique_comment_id_user_id_reaction/down.yaml
  hasura/hasura-migrations/migrations/1592400359607_alter_table_public_comment_reactions_add_unique_comment_id_user_id_reaction/up.yaml
  hasura/hasura-migrations/migrations/1592400398659_alter_table_public_post_reactions_add_unique_post_id_user_id_reaction/down.yaml
  hasura/hasura-migrations/migrations/1592400398659_alter_table_public_post_reactions_add_unique_post_id_user_id_reaction/up.yaml
Due: none

kusama stays in parity-prod env for now
  .gitlab-ci.yml
Due: none

use hasura image v1.3.0-beta.2
  hasura/docker-compose.yaml.example
  kubernetes/polkassembly/values.yaml
Due: none

removed values-kusama*yaml files
  kubernetes/node-watcher/values-kusama-prod.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
Due: none

fix: unmerged files
  kubernetes/node-watcher/templates/_helpers.tpl
  kubernetes/node-watcher/templates/node-watcher-harvester.yaml
  kubernetes/node-watcher/values.yaml
Due: none

add REACT_APP_JWT_PUBLIC_KEY
  .gitlab-ci.yml
Due: none

use open-server-service
  hasura/docker-compose.yaml.example
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

use open-server-service (#924)
  hasura/docker-compose.yaml.example
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

added error if email is not verified
  auth-server/src/resolvers/mutation/postSubscribe.ts
  auth-server/src/utils/messages.ts
  front-end/src/components/SubscriptionButton/SubscriptionButton.tsx
Due: lint-front-end, lint-back-end

showing warning text in notifications if email is not verified
  front-end/src/screens/NotificationSettings/index.tsx
Due: lint-front-end

fix test
  auth-server/test/resolvers/mutation/postSubscribe.spec.ts
Due: lint-back-end

fix test
  auth-server/test/resolvers/mutation/postUnsubscribe.spec.ts
Due: lint-back-end

firing verify email mutation only once
  front-end/src/screens/VerifyEmail/index.tsx
Due: lint-front-end

use new open server
  kubernetes/polkassembly/values-parity-prod.yaml
Due: none

add unique keys (#921)
  hasura/hasura-migrations/migrations/1592400318046_alter_table_public_poll_votes_add_unique_poll_id_user_id/down.yaml
  hasura/hasura-migrations/migrations/1592400318046_alter_table_public_poll_votes_add_unique_poll_id_user_id/up.yaml
  hasura/hasura-migrations/migrations/1592400359607_alter_table_public_comment_reactions_add_unique_comment_id_user_id_reaction/down.yaml
  hasura/hasura-migrations/migrations/1592400359607_alter_table_public_comment_reactions_add_unique_comment_id_user_id_reaction/up.yaml
  hasura/hasura-migrations/migrations/1592400398659_alter_table_public_post_reactions_add_unique_post_id_user_id_reaction/down.yaml
  hasura/hasura-migrations/migrations/1592400398659_alter_table_public_post_reactions_add_unique_post_id_user_id_reaction/up.yaml
Due: none

use hasura image v1.3.0-beta.2 (#923)
  hasura/docker-compose.yaml.example
  kubernetes/polkassembly/values.yaml
Due: none

use new open server (#927)
  kubernetes/polkassembly/values-parity-prod.yaml
Due: none

removed all "namespace: polkassembly" from templates
  kubernetes/polkassembly/templates/auth-server-secrets.yaml
  kubernetes/polkassembly/templates/cloudsql-instance-credentials-secret.yaml
  kubernetes/polkassembly/templates/hasura-secret.yaml
Due: none

Add proposal id info into the title
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update kubernetes/polkassembly/values-polkadot-prod.yaml
  kubernetes/polkassembly/values-polkadot-prod.yaml
Due: none

fix: CHAIN_DB value for prod
  kubernetes/polkassembly/values-parity-prod.yaml
Due: none

uncomment chain-db now that it is in prod
  health-monitor/src/index.ts
Due: none

dry-run deployemt for polkadot
  .gitlab-ci.yml
Due: none

Update values-polkadot-prod.yaml
  kubernetes/node-watcher/values-polkadot-prod.yaml
Due: none

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*
