Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*

remove latest and inconsistant casing
  front-end/src/screens/Proposals/index.tsx
Due: lint-front-end

Fv fix harvester deployment (#903)
  kubernetes/node-watcher/templates/node-watcher-harvester.yaml
Due: none

remove yarnrc
  auth-server/.yarnrc
  chain-db-open-server/.yarnrc
  chain-db-watcher/.yarnrc
  front-end/.yarnrc
  health-monitor/.yarnrc
  node-watcher/.yarnrc
Due: lint-front-end, lint-back-end, lint-chain-db-watcher

remove yarnrc (#904)
  auth-server/.yarnrc
  chain-db-open-server/.yarnrc
  chain-db-watcher/.yarnrc
  front-end/.yarnrc
  health-monitor/.yarnrc
  node-watcher/.yarnrc
Due: lint-front-end, lint-back-end, lint-chain-db-watcher

use beta
  node-watcher/package.json
  node-watcher/yarn.lock
Due: none

use beta (#905)
  node-watcher/package.json
  node-watcher/yarn.lock
Due: none

added message
  front-end/src/components/ExtensionNotDetected.tsx
Due: lint-front-end

using grid for sidebar rather than responsive
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Added onchain subcategories (#882)
  front-end/src/App.tsx
  front-end/src/components/MenuBar/index.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/Motions/MotionsContainer/index.tsx
  front-end/src/screens/Motions/MotionsContainer/query.ts
  front-end/src/screens/Motions/index.tsx
  front-end/src/screens/OnChain/Motions/index.tsx
  front-end/src/screens/OnChain/Proposals/index.tsx
  front-end/src/screens/OnChain/Referenda/index.tsx
  front-end/src/screens/OnChain/index.tsx
  front-end/src/screens/Proposals/ProposalsContainer/index.tsx
  front-end/src/screens/Proposals/ProposalsContainer/query.ts
  front-end/src/screens/Proposals/index.tsx
  front-end/src/screens/Referenda/ReferendaContainer/index.tsx
  front-end/src/screens/Referenda/ReferendaContainer/query.ts
  front-end/src/screens/Referenda/index.tsx
  front-end/src/screens/Treasury/TreasuryContainer/index.tsx
  front-end/src/screens/Treasury/TreasuryContainer/query.ts
  front-end/src/screens/Treasury/index.tsx
  front-end/src/ui-components/StatusTag.tsx
Due: lint-front-end

Revert "using grid for sidebar rather than responsive"
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

last update in post
  front-end/src/generated/graphql.tsx
Due: lint-front-end

fix: PRISMA_CONFIG (database)
  kubernetes/node-watcher/templates/_helpers.tpl
Due: none

Fv fix harvester deployment (#906)
  kubernetes/node-watcher/templates/_helpers.tpl
Due: none

Keep title and buttons consistent (#897)
  front-end/src/components/DefaultAddressInfoBox.tsx
  front-end/src/components/Footer/index.tsx
  front-end/src/components/Login/Web2Login.tsx
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/components/MenuBar/index.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostTreasuryInfo.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/screens/Discussions/index.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/OnChain/index.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/screens/Settings/setCredentials.tsx
Due: lint-front-end

wip: node-watcher-service
  kubernetes/node-watcher/nodewatcher-server-ingress.yaml
  kubernetes/node-watcher/nodewatcher-server-service.yaml
  kubernetes/node-watcher/server-deployment.yaml
  kubernetes/node-watcher/templates/_helpers.tpl
  kubernetes/node-watcher/templates/node-watcher-server-deployment.yaml
  kubernetes/node-watcher/values.yaml
Due: none

rpc now uses internal url in prod
  kubernetes/node-watcher/values-parity-prod.yaml
Due: none

removed unused div
  front-end/src/components/Head.tsx
Due: lint-front-end

rpc now uses internal url in prod (#907)
  kubernetes/node-watcher/values-parity-prod.yaml
Due: none

more elegant solution
  front-end/src/components/Listings/DiscussionsListing.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Discussions/query.ts
  hasura/hasura-migrations/migrations/1592305332830_drop_relationship_post_public_table_post_last_update/down.yaml
  hasura/hasura-migrations/migrations/1592305332830_drop_relationship_post_public_table_post_last_update/up.yaml
  hasura/hasura-migrations/migrations/1592305755095_create_relationship_last_update_public_table_posts/down.yaml
  hasura/hasura-migrations/migrations/1592305755095_create_relationship_last_update_public_table_posts/up.yaml
Due: lint-front-end

revert Dockerfile changes
  front-end/Dockerfile
  front-end/Dockerfile-polkadot
Due: lint-front-end

quotes
  front-end/src/assets/privacy-policy.ts
  front-end/src/assets/terms-and-conditions.ts
Due: lint-front-end

fix rest merge conflicts
  front-end/src/components/MenuBar/index.tsx
  front-end/src/services/auth.service.tsx
Due: lint-front-end

open-server depl & service templates added
  kubernetes/node-watcher/nodewatcher-server-ingress.yaml
  kubernetes/node-watcher/templates/_helpers.tpl
  kubernetes/node-watcher/templates/chain-db-open-server-deployment.yaml
  kubernetes/node-watcher/templates/chain-db-open-server-service.yaml
  kubernetes/node-watcher/templates/node-watcher-server-deployment.yaml
  kubernetes/node-watcher/values.yaml
Due: none

open-server dockerize stage
  .gitlab-ci.yml
Due: none

filter out old motions
  front-end/src/components/Listings/MotionsListing.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/OnChain/Motions/query.ts
Due: lint-front-end

removed old k8s files
  kubernetes/node-watcher/nodewatcher-server-service.yaml
  kubernetes/node-watcher/server-deployment.yaml
Due: none

filter out old proposals
  front-end/src/components/Listings/ProposalsListing.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/OnChain/Proposals/query.ts
Due: lint-front-end

filter out old referenda
  front-end/src/components/Listings/MotionsListing.tsx
  front-end/src/components/Listings/ProposalsListing.tsx
  front-end/src/components/Listings/ReferendaListing.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/OnChain/Referenda/query.ts
Due: lint-front-end

Fv node watcher server (#908)
  .gitlab-ci.yml
  kubernetes/node-watcher/templates/_helpers.tpl
  kubernetes/node-watcher/templates/chain-db-open-server-deployment.yaml
  kubernetes/node-watcher/templates/chain-db-open-server-service.yaml
  kubernetes/node-watcher/values.yaml
Due: none

fix: port lable more the 15 chars
  kubernetes/node-watcher/templates/chain-db-open-server-service.yaml
Due: none

fix: port lable more the 15 chars (#910)
  kubernetes/node-watcher/templates/chain-db-open-server-service.yaml
Due: none

fix: missing component in matchLables
  kubernetes/node-watcher/templates/_helpers.tpl
  kubernetes/node-watcher/templates/chain-db-open-server-deployment.yaml
Due: none

fix: port lable more the 15 chars (#911)
  kubernetes/node-watcher/templates/_helpers.tpl
  kubernetes/node-watcher/templates/chain-db-open-server-deployment.yaml
Due: none

limit 10
  front-end/src/screens/OnChain/index.tsx
Due: lint-front-end

fix
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

remove resolutions and change to use node on start
  chain-db-open-server/package.json
  chain-db-open-server/yarn.lock
Due: none

remove resolutions and change to use node on start (#913)
  chain-db-open-server/package.json
  chain-db-open-server/yarn.lock
Due: none

fix
  front-end/src/components/ExtensionNotDetected.tsx
Due: lint-front-end

lint
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Make on-chain screen concise (#909)
  front-end/src/components/Listings/MotionsListing.tsx
  front-end/src/components/Listings/ProposalsListing.tsx
  front-end/src/components/Listings/ReferendaListing.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/OnChain/Motions/query.ts
  front-end/src/screens/OnChain/Proposals/query.ts
  front-end/src/screens/OnChain/Referenda/query.ts
  front-end/src/screens/OnChain/index.tsx
Due: lint-front-end
