Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*

Added validate password function (#982)
  auth-server/src/resolvers/mutation/changePassword.ts
  auth-server/src/resolvers/mutation/resetPassword.ts
  auth-server/src/resolvers/mutation/setCredentialsConfirm.ts
  auth-server/src/resolvers/mutation/signup.ts
  auth-server/src/utils/validatePassword.ts
Due: lint-back-end

reformulation
  auth-server/src/services/email.ts
  auth-server/src/utils/emailTemplates.ts
Due: lint-back-end

sending username in password reset email (#983)
  auth-server/src/services/email.ts
  auth-server/src/utils/emailTemplates.ts
  front-end/src/components/Login/Web2Login.tsx
Due: lint-front-end, lint-back-end

removed time check
  front-end/src/components/Comment/EditableCommentContent.tsx
Due: lint-front-end

has
  hasura/hasura-migrations/metadata/tables.yaml
Due: none

Added pagination
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Discussions/Discussions.tsx
  front-end/src/screens/Discussions/query.ts
Due: lint-front-end

Fix ended countdown
  front-end/src/components/GovernanceCard.tsx
Due: lint-front-end

fix
  front-end/src/components/GovernanceCard.tsx
Due: lint-front-end

Fix ended countdown (#986)
  front-end/src/components/GovernanceCard.tsx
Due: lint-front-end

Added delete comment feature (#984)
  front-end/src/components/Comment/EditableCommentContent.tsx
  front-end/src/components/Comment/query.ts
  front-end/src/generated/graphql.tsx
  hasura/hasura-migrations/metadata/tables.yaml
Due: lint-front-end

cater for redenomination
  front-end/src/global/networkConstants.ts
Due: lint-front-end

Added load more buttons for listings
  front-end/src/screens/Discussions/Discussions.tsx
  front-end/src/screens/Motions/MotionsContainer/index.tsx
  front-end/src/screens/Proposals/ProposalsContainer/index.tsx
  front-end/src/screens/Referenda/ReferendaContainer/index.tsx
  front-end/src/screens/Tips/TipContainer/index.tsx
  front-end/src/screens/Treasury/TreasuryContainer/index.tsx
  front-end/src/ui-components/LoadMore.tsx
Due: lint-front-end

no offset
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Discussions/query.ts
Due: lint-front-end

20
  front-end/src/screens/Discussions/Discussions.tsx
Due: lint-front-end

Added pagination (#985)
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Discussions/Discussions.tsx
  front-end/src/screens/Motions/MotionsContainer/index.tsx
  front-end/src/screens/Proposals/ProposalsContainer/index.tsx
  front-end/src/screens/Referenda/ReferendaContainer/index.tsx
  front-end/src/screens/Tips/TipContainer/index.tsx
  front-end/src/screens/Treasury/TreasuryContainer/index.tsx
  front-end/src/ui-components/LoadMore.tsx
Due: lint-front-end

Not showing load more when more posts are not there
  front-end/src/screens/Discussions/Discussions.tsx
  front-end/src/screens/Motions/MotionsContainer/index.tsx
  front-end/src/screens/Proposals/ProposalsContainer/index.tsx
  front-end/src/screens/Referenda/ReferendaContainer/index.tsx
  front-end/src/screens/Tips/TipContainer/index.tsx
  front-end/src/screens/Treasury/TreasuryContainer/index.tsx
Due: lint-front-end

Not showing load more when more posts are not there (#989)
  front-end/src/screens/Discussions/Discussions.tsx
  front-end/src/screens/Motions/MotionsContainer/index.tsx
  front-end/src/screens/Proposals/ProposalsContainer/index.tsx
  front-end/src/screens/Referenda/ReferendaContainer/index.tsx
  front-end/src/screens/Tips/TipContainer/index.tsx
  front-end/src/screens/Treasury/TreasuryContainer/index.tsx
Due: lint-front-end

added load more spinner
  front-end/src/ui-components/LoadMore.tsx
Due: lint-front-end

added load more spinner (#990)
  front-end/src/ui-components/LoadMore.tsx
Due: lint-front-end

Made tip status more readable
  front-end/src/global/statuses.ts
  front-end/src/ui-components/StatusTag.tsx
Due: lint-front-end

Added dropdown menu
  front-end/src/components/MenuBar/index.tsx
  front-end/src/screens/Home/index.tsx
Due: lint-front-end

Go back to previous page after login signup
  front-end/src/components/Login/Web2Login.tsx
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/components/Signup/Web2Signup.tsx
  front-end/src/components/Signup/Web3Signup.tsx
Due: lint-front-end

Marking own proposals with pink border
  front-end/src/components/GovernanceCard.tsx
Due: lint-front-end

Added pink border for own posts
  front-end/src/components/DiscussionCard.tsx
  front-end/src/components/GovernanceCard.tsx
Due: lint-front-end

left border
  front-end/src/components/DiscussionCard.tsx
  front-end/src/components/GovernanceCard.tsx
Due: lint-front-end

Added council member label for council address
  front-end/src/ui-components/Address.tsx
  front-end/src/ui-components/IdentityBadge.tsx
Due: lint-front-end

fix
  front-end/src/ui-components/Address.tsx
Due: lint-front-end

Added slider instead of drop down for referendum vote
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/ui-components/Slider.tsx
Due: lint-front-end

Update blank.yml
  .github/workflows/blank.yml
Due: none

Made tip status more readable (#991)
  front-end/src/global/statuses.ts
  front-end/src/ui-components/StatusTag.tsx
Due: lint-front-end

fix for accordiOn
  front-end/src/components/MenuBar/index.tsx
Due: lint-front-end

Added dropdown menu for on chain item in mobile view (#992)
  front-end/src/components/MenuBar/index.tsx
  front-end/src/screens/Home/index.tsx
Due: lint-front-end

Go back to previous page after login signup (#993)
  front-end/src/components/Login/Web2Login.tsx
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/components/Signup/Web2Signup.tsx
  front-end/src/components/Signup/Web3Signup.tsx
Due: lint-front-end

Highlighting own post/proposals with pink border (#994)
  front-end/src/components/DiscussionCard.tsx
  front-end/src/components/GovernanceCard.tsx
Due: lint-front-end

bump front-end
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

auth-server
  auth-server/package.json
  auth-server/yarn.lock
Due: lint-back-end

node-watcher
  node-watcher/package.json
  node-watcher/yarn.lock
Due: none

health-monitor
  health-monitor/package.json
  health-monitor/yarn.lock
Due: none

Bump to api 1.28 (#997)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end
