Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-chain-db-watcher:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd chain-db-watcher
  - yarn install
  - yarn lint
  tags:
  - linux-docker

fixes
  .maintain/generate_changelog.sh
  .maintain/publish_draft_release.sh
Due: none

gitlab
  .gitlab-ci.yml
Due: none

ci linting
  .gitlab-ci.yml
Due: none

remove publish
  .gitlab-ci.yml
Due: none

and again
  .gitlab-ci.yml
Due: none

post width ratio + input size
  front-end/src/components/Post/Post.tsx
  front-end/src/themes/theme.ts
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

create post cleanup
  front-end/src/components/TitleForm.tsx
  front-end/src/screens/CreatePost/TopicsRadio.tsx
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

shadow
  front-end/src/components/Post/Post.tsx
  front-end/src/themes/theme.ts
  front-end/src/ui-components/Card.tsx
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/OnchainInfoWrapper.tsx
Due: lint-front-end

remove status tag background colors
  front-end/src/themes/theme.ts
  front-end/src/ui-components/StatusTag.tsx
Due: lint-front-end

box-shadow cards
  front-end/src/components/DiscussionCard.tsx
  front-end/src/components/GovernanceCard.tsx
Due: lint-front-end

inline tag margin fix
  front-end/src/ui-components/InlineTag.tsx
Due: lint-front-end

consistent input styling
  front-end/src/ui-components/AddressDropdown.tsx
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/Input.tsx
Due: lint-front-end

remove duplicated code and cater for ref/mo/tr 0
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/services/email.ts
  auth-server/src/utils/getPostId.ts
  auth-server/src/utils/getPostLink.ts
Due: lint-back-end

Update .maintain/publish_draft_release.sh
  .maintain/publish_draft_release.sh
Due: none

clean up prod and staging
  .gitlab-ci.yml
Due: none

Added post with author query
  health-monitor/src/index.ts
Due: none

Added HEALTH_PORT
  chain-db-watcher/README.md
  chain-db-watcher/src/index.ts
  kubernetes/polkassembly/values.yaml
Due: lint-chain-db-watcher

Update health-monitor/README.md
  health-monitor/README.md
Due: none

license Apache-2.0
  auth-server/package.json
  chain-db-watcher/package.json
  front-end/package.json
  health-monitor/package.json
Due: lint-front-end, lint-back-end, lint-chain-db-watcher

lint
  health-monitor/src/index.ts
Due: none

accumulator
  health-monitor/src/index.ts
Due: none

Getting latest block rather than finalised
  health-monitor/src/index.ts
Due: none

gov sidebar cleanup
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/ui-components/Card.tsx
Due: lint-front-end

info box
  front-end/src/ui-components/InfoBox.tsx
Due: lint-front-end

added referendum delays
  health-monitor/src/index.ts
Due: none

Update front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
Due: lint-front-end

no 0 devider
  front-end/src/ui-components/VoteProgress.tsx
Due: lint-front-end

timeoutText
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/ui-components/Loader.tsx
Due: lint-front-end

Api display error (#656)
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/Loader.tsx
Due: lint-front-end

countdown delay
  front-end/src/components/BlockCountdown.tsx
Due: lint-front-end

Added post id in update email (#720)
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/services/email.ts
  auth-server/src/utils/getPostId.ts
  auth-server/src/utils/getPostLink.ts
Due: lint-back-end

no 0 devider (#734)
  front-end/src/ui-components/VoteProgress.tsx
Due: lint-front-end

blocksRemaining !== endBlock
  front-end/src/components/BlockCountdown.tsx
Due: lint-front-end

Added set credentials with web3 mutation
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/addressSignupStart.ts
  auth-server/src/resolvers/mutation/addressUnlink.ts
  auth-server/src/resolvers/mutation/setCredentialsConfirm.ts
  auth-server/src/resolvers/mutation/setCredentialsStart.ts
  auth-server/src/resolvers/mutation/setDefaultAddress.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/setCredentialsConfirm.ts
  auth-server/src/schema/mutation/setCredentialsStart.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end

Added web3signup boolean in user
  auth-server/migrations/20200504122444_user_web3signup.ts
  auth-server/src/model/User.ts
  auth-server/src/services/auth.ts
Due: lint-back-end

added web3signup
  auth-server/migrations/20200504122444_user_web3signup.js
Due: lint-back-end

Added web3signup to boolean
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
Due: lint-back-end

lint
  front-end/src/themes/theme.ts
Due: lint-front-end

tag styling
  front-end/src/screens/CreatePost/TopicsRadio.tsx
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/themes/theme.ts
  front-end/src/ui-components/InlineTag.tsx
  front-end/src/ui-components/StatusTag.tsx
Due: lint-front-end

post columns
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*
