Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*

coherent input styling
  front-end/src/themes/theme.ts
  front-end/src/ui-components/AddressDropdown.tsx
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/Input.tsx
Due: lint-front-end

round input
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/Input.tsx
Due: lint-front-end

dropown size
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

removing overview
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
Due: lint-front-end

Automate draft release publication (#731)
  .gitlab-ci.yml
  .maintain/generate_changelog.sh
  .maintain/lib.sh
  .maintain/publish_draft_release.sh
Due: none

Added set credentials form
  auth-server/src/schema/mutation/setCredentialsConfirm.ts
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/components/ReportButton/index.tsx
  front-end/src/context/UserDetailsContext.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Settings/fullname.tsx
  front-end/src/screens/Settings/index.tsx
  front-end/src/screens/Settings/query.ts
  front-end/src/screens/Settings/setCredentials.tsx
  front-end/src/types.ts
  front-end/src/ui-components/Address.tsx
Due: lint-front-end, lint-back-end

use older tag regex
  .gitlab-ci.yml
Due: none

Added web3signup
  auth-server/src/schema/type/user.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  front-end/src/components/Login/query.tsx
  front-end/src/components/Signup/query.ts
  front-end/src/generated/graphql.tsx
  front-end/src/services/auth.service.tsx
Due: lint-front-end, lint-back-end

setting default address
  front-end/src/components/Signup/Web3Signup.tsx
Due: lint-front-end

fix
  front-end/src/screens/Settings/setCredentials.tsx
Due: lint-front-end

existing check
  auth-server/src/services/auth.ts
Due: lint-back-end

address unlink not allowed
  auth-server/src/utils/messages.ts
Due: lint-back-end

fix
  auth-server/src/services/auth.ts
Due: lint-back-end

setting new default true
  auth-server/src/services/auth.ts
Due: lint-back-end

update modal styling
  front-end/src/themes/theme.ts
  front-end/src/ui-components/GlobalStyle.tsx
  front-end/src/ui-components/Modal.tsx
Due: lint-front-end

proper path and comments
  .maintain/publish_draft_release.sh
Due: none

proper path and comments (#741)
  .maintain/publish_draft_release.sh
Due: none

Fix overlapping title and status
  front-end/src/components/Post/PostContent.tsx
Due: lint-front-end

server url
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
Due: none

with https
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
Due: none

Using the new server url in prod and test. (#743)
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
Due: none

Added refetch in useEffect to reload page on react navigation
  front-end/src/screens/Discussions/Discussions.tsx
  front-end/src/screens/Home/LatestDiscussions/index.tsx
  front-end/src/screens/Home/LatestMotions/index.tsx
  front-end/src/screens/Home/LatestProposals/index.tsx
  front-end/src/screens/Home/LatestReferenda/index.tsx
  front-end/src/screens/Home/LatestTreasury/index.tsx
  front-end/src/screens/OnChain/Motions/index.tsx
  front-end/src/screens/OnChain/Proposals/index.tsx
  front-end/src/screens/OnChain/Referenda/index.tsx
  front-end/src/screens/OnChain/Treasury/index.tsx
Due: lint-front-end

Update chain-db-watcher/src/index.ts
  chain-db-watcher/src/index.ts
Due: lint-chain-db-watcher

Update health-monitor/src/index.ts
  health-monitor/src/index.ts
Due: none

use local url
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
Due: none

use local url (#746)
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
Due: none

set -e
  .maintain/generate_changelog.sh
Due: none

depth 100
  .gitlab-ci.yml
Due: none

Fix overlapping title and status (#742)
  front-end/src/components/Post/PostContent.tsx
Due: lint-front-end

Fix release automation script not getting all commits (#747)
  .gitlab-ci.yml
  .maintain/generate_changelog.sh
Due: none

Using token as single source of truth for userDetails context
  auth-server/src/services/auth.ts
  front-end/src/components/Apollo.tsx
  front-end/src/components/Login/Web2Login.tsx
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/components/Signup/Web2Signup.tsx
  front-end/src/components/Signup/Web3Signup.tsx
  front-end/src/context/UserDetailsContext.tsx
  front-end/src/screens/NotificationSettings/index.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/Settings/fullname.tsx
  front-end/src/screens/Settings/setCredentials.tsx
  front-end/src/screens/Settings/username.tsx
  front-end/src/screens/UndoEmailChange/index.tsx
  front-end/src/screens/VerifyEmail/index.tsx
  front-end/src/services/auth.service.tsx
Due: lint-front-end, lint-back-end

timeout 30s
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
Due: lint-front-end

remove transition
  front-end/src/screens/CreatePost/TopicsRadio.tsx
Due: lint-front-end

timeout 30s (#749)
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
Due: lint-front-end

Added refetch in useEffect to reload page on react navigation (#744)
  front-end/src/screens/Discussions/Discussions.tsx
  front-end/src/screens/Home/LatestDiscussions/index.tsx
  front-end/src/screens/Home/LatestMotions/index.tsx
  front-end/src/screens/Home/LatestProposals/index.tsx
  front-end/src/screens/Home/LatestReferenda/index.tsx
  front-end/src/screens/Home/LatestTreasury/index.tsx
  front-end/src/screens/OnChain/Motions/index.tsx
  front-end/src/screens/OnChain/Proposals/index.tsx
  front-end/src/screens/OnChain/Referenda/index.tsx
  front-end/src/screens/OnChain/Treasury/index.tsx
Due: lint-front-end

use api everywhere
  front-end/package.json
  front-end/src/App.tsx
  front-end/src/components/Balance.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/ui-components/Address.tsx
  front-end/yarn.lock
Due: lint-front-end

default address
  auth-server/src/model/Address.ts
  auth-server/src/resolvers/query/user.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  auth-server/src/utils/getAddressesFromUserId.ts
  auth-server/src/utils/getDefaultAddressFromAddressArray.ts
  auth-server/test/resolvers/mutation/addressLinkConfirm.spec.ts
  auth-server/test/resolvers/mutation/addressLinkStart.spec.ts
  auth-server/test/resolvers/mutation/addressLogin.spec.ts
  auth-server/test/resolvers/mutation/addressUnlink.spec.ts
Due: lint-back-end

Removed unused user query
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/query/users.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/query/users.ts
  auth-server/test/resolvers/query/users.spec.ts
Due: lint-back-end

Added kusama and polkadot addresses
  front-end/src/services/auth.service.tsx
  front-end/src/types.ts
Due: lint-front-end
