Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*

lint
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

added logs to debug email
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/services/email.ts
Due: lint-back-end

added more logs
  auth-server/src/services/email.ts
Due: lint-back-end

Update auth-server/src/controllers/eventsHook.ts
  auth-server/src/controllers/eventsHook.ts
Due: lint-back-end

Update auth-server/src/services/email.ts
  auth-server/src/services/email.ts
Due: lint-back-end

Added isReferendum
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

type to dev deps
  auth-server/package.json
Due: lint-back-end

Added logs for hooks and email to debug email not being sent (#827)
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/services/email.ts
Due: lint-back-end

Email Fixes (#819)
  auth-server/package.json
  auth-server/src/services/email.ts
  auth-server/src/utils/emailTemplates.ts
  auth-server/yarn.lock
Due: lint-back-end

Update README.md
  hasura/README.md
Due: none

Update README.md (#828)
  hasura/README.md
Due: none

create harvester
  node-watcher/kubernetes/node-watcher-harvester.yaml
Due: none

remove chain tip
  node-watcher/kubernetes/nomidotwatcher-chain-tip.yaml
Due: none

use polkadot tests and getter network
  auth-server/test/resolvers/mutation/addressLinkConfirm.spec.ts
  auth-server/test/resolvers/mutation/addressLinkStartKusama.spec.ts
  auth-server/test/resolvers/mutation/addressLinkStartPolkadot.spec.ts
  auth-server/test/resolvers/mutation/addressLoginKusama.spec.ts
  auth-server/test/resolvers/mutation/addressLoginPolkadot.spec.ts
  auth-server/test/resolvers/mutation/addressSignupKusama.spec.ts
  auth-server/test/resolvers/mutation/addressSignupPolkadot.spec.ts
  auth-server/test/resolvers/mutation/addressUnlinkKusama.spec.ts
  auth-server/test/resolvers/mutation/addressUnlinkPolkadot.spec.ts
  front-end/Dockerfile-polkadot
  front-end/README.md
  front-end/nginx/polkassembly.conf
  front-end/src/App.tsx
  front-end/src/assets/privacy-policy.ts
  front-end/src/assets/terms-and-conditions.ts
  front-end/src/components/ReportButton/index.tsx
  front-end/src/components/Signup/Web3Signup.tsx
  front-end/src/screens/Discussions/index.tsx
  front-end/src/services/auth.service.tsx
  front-end/src/util/getNetwork.ts
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
Due: lint-front-end, lint-back-end

remove env
  front-end/Dockerfile
  front-end/README.md
Due: lint-front-end

remove env
  front-end/Dockerfile-kusama
  front-end/Dockerfile-polkadot
Due: lint-front-end

add polkadot tests
  auth-server/test/resolvers/mutation/addressLinkConfirm.spec.ts
  auth-server/test/resolvers/mutation/addressLinkStartKusama.spec.ts
  auth-server/test/resolvers/mutation/addressLinkStartPolkadot.spec.ts
  auth-server/test/resolvers/mutation/addressLoginKusama.spec.ts
  auth-server/test/resolvers/mutation/addressLoginPolkadot.spec.ts
  auth-server/test/resolvers/mutation/addressSignupKusama.spec.ts
  auth-server/test/resolvers/mutation/addressSignupPolkadot.spec.ts
  auth-server/test/resolvers/mutation/addressUnlinkKusama.spec.ts
  auth-server/test/resolvers/mutation/addressUnlinkPolkadot.spec.ts
Due: lint-back-end

remove env (#830)
  front-end/Dockerfile
  front-end/README.md
Due: lint-front-end

use network getter on front end
  front-end/src/App.tsx
  front-end/src/assets/privacy-policy.ts
  front-end/src/assets/terms-and-conditions.ts
  front-end/src/components/ReportButton/index.tsx
  front-end/src/components/Signup/Web3Signup.tsx
  front-end/src/screens/Discussions/index.tsx
  front-end/src/services/auth.service.tsx
  front-end/src/util/getNetwork.ts
Due: lint-front-end

lint
  front-end/src/components/Signup/Web3Signup.tsx
Due: lint-front-end

lint
  front-end/src/assets/privacy-policy.ts
  front-end/src/assets/terms-and-conditions.ts
  front-end/src/components/ReportButton/index.tsx
  front-end/src/components/Signup/Web3Signup.tsx
  front-end/src/screens/Discussions/index.tsx
  front-end/src/services/auth.service.tsx
Due: lint-front-end

Update front-end/src/App.tsx
  front-end/src/App.tsx
Due: lint-front-end

add polkadot tests (#832)
  auth-server/test/resolvers/mutation/addressLinkConfirm.spec.ts
  auth-server/test/resolvers/mutation/addressLinkStartKusama.spec.ts
  auth-server/test/resolvers/mutation/addressLinkStartPolkadot.spec.ts
  auth-server/test/resolvers/mutation/addressLoginKusama.spec.ts
  auth-server/test/resolvers/mutation/addressLoginPolkadot.spec.ts
  auth-server/test/resolvers/mutation/addressSignupKusama.spec.ts
  auth-server/test/resolvers/mutation/addressSignupPolkadot.spec.ts
  auth-server/test/resolvers/mutation/addressUnlinkKusama.spec.ts
  auth-server/test/resolvers/mutation/addressUnlinkPolkadot.spec.ts
Due: lint-back-end

menu color
  front-end/src/App.tsx
  front-end/src/components/MenuBar/index.tsx
Due: lint-front-end

Added domain name and protocol test
  auth-server/src/utils/getPostCommentLink.ts
Due: lint-back-end

Copy link
  front-end/src/components/Comment/EditableCommentContent.tsx
Due: lint-front-end

Create node-watcher harvester job (#829)
  node-watcher/kubernetes/node-watcher-harvester.yaml
Due: none

move app name to global const
  front-end/Dockerfile
  front-end/README.md
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Signup/Web3Signup.tsx
  front-end/src/global/appName.ts
  front-end/src/screens/Settings/address.tsx
  front-end/src/screens/Settings/setCredentials.tsx
Due: lint-front-end

Update front-end/src/global/appName.ts
  front-end/src/global/appName.ts
Due: lint-front-end

Move app name to global const instead of env variable (#835)
  front-end/Dockerfile
  front-end/README.md
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Signup/Web3Signup.tsx
  front-end/src/global/appName.ts
  front-end/src/screens/Settings/address.tsx
  front-end/src/screens/Settings/setCredentials.tsx
Due: lint-front-end

added dockerize for node-watcher
  .gitlab-ci.yml
  kubernetes/node-watcher/node-watcher-harvester.yaml
  kubernetes/node-watcher/nodewatcher-deployment-staging.yaml
  kubernetes/node-watcher/nodewatcher-service.yaml
Due: none

rename to node-watcher
  kubernetes/node-watcher/node-watcher-deployment-staging.yaml
  kubernetes/node-watcher/node-watcher-service.yaml
Due: none

added dockerize for node-watcher (#836)
  .gitlab-ci.yml
  kubernetes/node-watcher/node-watcher-deployment-staging.yaml
  kubernetes/node-watcher/node-watcher-harvester.yaml
  kubernetes/node-watcher/node-watcher-service.yaml
Due: none

HASURA_CHAIN_DB_REMOTE_SCHEMA
  kubernetes/polkassembly/values.yaml
Due: none

set NODE_ENV=production
  kubernetes/polkassembly/values.yaml
Due: none

set STAGING_REACT_APP_HASURA_GRAPHQL_URL and PRODUCTION_REACT_APP_HASURA_GRAPHQL_URL
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
Due: none
