Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  - yarn build
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  - yarn tsc
  tags:
  - linux-docker

lint-chain-db-watcher:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd chain-db-watcher
  - yarn install
  - yarn lint
  - yarn tsc
  tags:
  - linux-docker

fix
  front-end/src/components/Post/ExternalLinks.tsx
Due: lint-front-end

Bump polkadot api 1.25
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

Bump polkadot api 1.25 (#970)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

fix for null email
  auth-server/src/services/auth.ts
Due: lint-back-end

fix for null email (#971)
  auth-server/src/services/auth.ts
Due: lint-back-end

Added links instead of buttons
  front-end/src/components/ExternalLinks.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostTreasuryInfo.tsx
Due: lint-front-end

removed image
  front-end/public/polkascan.png
  front-end/public/subscan.png
Due: lint-front-end

removed unused css
  front-end/src/ui-components/Button.tsx
Due: lint-front-end

Added external links to subscan and polkascan (#960)
  front-end/src/components/ExternalLinks.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostTreasuryInfo.tsx
  front-end/src/ui-components/Button.tsx
Due: lint-front-end

api bump v1.26
  api-bump.sh
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

added firebase hosting
  front-end/.firebaserc
  front-end/.gitignore
  front-end/firebase.json
Due: lint-front-end

Fixed ordering for tips
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Motions/index.tsx
  front-end/src/screens/OnChain/Tips/query.ts
  front-end/src/screens/Proposals/index.tsx
  front-end/src/screens/Referenda/index.tsx
  front-end/src/screens/Tips/TipContainer/query.ts
  front-end/src/screens/Tips/index.tsx
  front-end/src/screens/Treasury/index.tsx
Due: lint-front-end

Fixed ordering for tips (#976)
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Motions/index.tsx
  front-end/src/screens/OnChain/Tips/query.ts
  front-end/src/screens/Proposals/index.tsx
  front-end/src/screens/Referenda/index.tsx
  front-end/src/screens/Tips/TipContainer/query.ts
  front-end/src/screens/Tips/index.tsx
  front-end/src/screens/Treasury/index.tsx
Due: lint-front-end

Added extend poll feature
  front-end/src/components/Post/Poll/GeneralSignals.tsx
  front-end/src/components/Post/Poll/Poll.tsx
  front-end/src/components/Post/Poll/index.tsx
  front-end/src/components/Post/Poll/query.ts
  front-end/src/components/Post/Post.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/hooks/index.ts
  front-end/src/hooks/usePollEndBlock.ts
  front-end/src/screens/CreatePost/index.tsx
Due: lint-front-end

Added remaining time on referenda listing
  front-end/src/components/BlockCountdown.tsx
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Listings/ReferendaListing.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/OnChain/Referenda/query.ts
  front-end/src/screens/Referenda/ReferendaContainer/query.ts
Due: lint-front-end

Showing last comment
  front-end/src/components/DiscussionCard.tsx
  front-end/src/components/Listings/DiscussionsListing.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Discussions/query.ts
Due: lint-front-end

Added loading indicator on reply button
  front-end/src/components/Post/PostCommentForm.tsx
Due: lint-front-end

Create blank.yml
  .github/workflows/blank.yml
Due: none

build
  .github/workflows/blank.yml
Due: none

fix
  .github/workflows/blank.yml
Due: none

Update blank.yml
  .github/workflows/blank.yml
Due: none

Update README.md
  README.md
Due: none

api bump v1.26 (#974)
  api-bump.sh
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

bump front
  node-watcher/package.json
  node-watcher/yarn.lock
Due: none

bump rest
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
Due: lint-front-end, lint-back-end

Added extend poll feature (#977)
  front-end/src/components/Post/Poll/GeneralSignals.tsx
  front-end/src/components/Post/Poll/Poll.tsx
  front-end/src/components/Post/Poll/index.tsx
  front-end/src/components/Post/Poll/query.ts
  front-end/src/components/Post/Post.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/hooks/index.ts
  front-end/src/hooks/usePollEndBlock.ts
  front-end/src/screens/CreatePost/index.tsx
Due: lint-front-end

add icon an put at the front
  front-end/src/components/GovernanceCard.tsx
Due: lint-front-end

place first, prevent flashing and added icon
  front-end/src/components/GovernanceCard.tsx
Due: lint-front-end

Bump polkadot api to 1.27 (#981)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

lint
  front-end/src/components/GovernanceCard.tsx
Due: lint-front-end

dont show if no comment
  front-end/src/components/DiscussionCard.tsx
Due: lint-front-end

Added validate password function
  auth-server/src/resolvers/mutation/changePassword.ts
  auth-server/src/resolvers/mutation/resetPassword.ts
  auth-server/src/resolvers/mutation/setCredentialsConfirm.ts
  auth-server/src/resolvers/mutation/signup.ts
  auth-server/src/utils/validatePassword.ts
Due: lint-back-end

Showing last comment (#979)
  front-end/src/components/DiscussionCard.tsx
  front-end/src/components/Listings/DiscussionsListing.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Discussions/query.ts
Due: lint-front-end

add to post creation and comment edition
  front-end/src/components/Comment/EditableCommentContent.tsx
  front-end/src/screens/CreatePost/index.tsx
Due: lint-front-end

Added remaining time on referenda listing (#978)
  front-end/src/components/BlockCountdown.tsx
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Listings/ReferendaListing.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/OnChain/Referenda/query.ts
  front-end/src/screens/Referenda/ReferendaContainer/query.ts
Due: lint-front-end

Added loading indicator on reply button (#980)
  front-end/src/components/Comment/EditableCommentContent.tsx
  front-end/src/components/Post/PostCommentForm.tsx
  front-end/src/screens/CreatePost/index.tsx
Due: lint-front-end

sending username in password reset email
  auth-server/src/utils/emailTemplates.ts
  front-end/src/components/Login/Web2Login.tsx
Due: lint-front-end, lint-back-end

Added delete comment feature
  front-end/src/components/Comment/EditableCommentContent.tsx
  front-end/src/components/Comment/query.ts
  front-end/src/generated/graphql.tsx
  hasura/hasura-migrations/metadata/tables.yaml
Due: lint-front-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*
