Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-chain-db-watcher:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd chain-db-watcher
  - yarn install
  - yarn lint
  tags:
  - linux-docker

revert STAGING_REACT_APP_HASURA_GRAPHQL_URL and PRODUCTION_REACT_APP_HASURA_GRAPHQL_URL
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
Due: none

set REACT_APP_HASURA_GRAPHQL_URL
  .gitlab-ci.yml
Due: none

fix non null exception
  front-end/src/screens/CreatePost/index.tsx
Due: lint-front-end

fix non null exception (#837)
  front-end/src/screens/CreatePost/index.tsx
Due: lint-front-end

Revert "added dockerize for node-watcher (#836)"
  .gitlab-ci.yml
  node-watcher/kubernetes/node-watcher-harvester.yaml
  node-watcher/kubernetes/nodewatcher-deployment-staging.yaml
  node-watcher/kubernetes/nodewatcher-service.yaml
Due: none

Revert "added dockerize for node-watcher (#836)" (#838)
  .gitlab-ci.yml
  node-watcher/kubernetes/node-watcher-harvester.yaml
  node-watcher/kubernetes/nodewatcher-deployment-staging.yaml
  node-watcher/kubernetes/nodewatcher-service.yaml
Due: none

Fv add node watcher deployment (#839)
  .gitlab-ci.yml
  kubernetes/node-watcher/node-watcher-deployment-staging.yaml
  kubernetes/node-watcher/node-watcher-harvester.yaml
  kubernetes/node-watcher/node-watcher-service.yaml
Due: none

quotes
  kubernetes/polkassembly/values.yaml
Due: none

Use network getter on front end (#833)
  front-end/src/App.tsx
  front-end/src/assets/privacy-policy.ts
  front-end/src/assets/terms-and-conditions.ts
  front-end/src/components/ReportButton/index.tsx
  front-end/src/components/Signup/Web3Signup.tsx
  front-end/src/screens/Discussions/index.tsx
  front-end/src/services/auth.service.tsx
  front-end/src/util/getNetwork.ts
Due: lint-front-end

Using useRef and useLocation
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Comment/EditableCommentContent.tsx
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

init
  front-end/src/components/MenuBar/index.tsx
Due: lint-front-end

add images
  front-end/src/assets/kusama-logo.gif
  front-end/src/assets/polkadot-logo.svg
Due: lint-front-end

using printf
  .gitlab-ci.yml
Due: none

escape for public key
  .gitlab-ci.yml
Due: none

wip: adding node-watcher deplpoyment
  kubernetes/node-watcher/Chart.yaml
  kubernetes/node-watcher/templates/_helpers.tpl
  kubernetes/node-watcher/templates/cloudsql-instance-credentials-secret.yaml
  kubernetes/node-watcher/templates/nodewatcher-deployment.yaml
  kubernetes/node-watcher/templates/nodewatcher-prisma-secret.yaml
  kubernetes/node-watcher/templates/nodewatcher-service.yaml
  kubernetes/node-watcher/values-dashboards-cluster-1.yaml
  kubernetes/node-watcher/values.yaml
Due: none

wip: rename all nodewatcher to node-watcher
  kubernetes/node-watcher/Chart.yaml
  kubernetes/node-watcher/templates/_helpers.tpl
  kubernetes/node-watcher/templates/node-watcher-deployment.yaml
  kubernetes/node-watcher/templates/node-watcher-prisma-secret.yaml
  kubernetes/node-watcher/templates/node-watcher-service.yaml
  kubernetes/node-watcher/templates/nodewatcher-prisma-secret.yaml
  kubernetes/node-watcher/templates/nodewatcher-service.yaml
  kubernetes/node-watcher/values-dashboards-cluster-1.yaml
  kubernetes/node-watcher/values.yaml
Due: none

mobile support
  front-end/src/components/MenuBar/index.tsx
  front-end/src/ui-components/NetworkDropdown.tsx
Due: lint-front-end

comment out
  front-end/src/components/MenuBar/index.tsx
Due: lint-front-end

Update auth-server/src/utils/getPostCommentLink.ts
  auth-server/src/utils/getPostCommentLink.ts
Due: lint-back-end

wip: added node-watcher deployemnt to ci
  .gitlab-ci.yml
  kubernetes/node-watcher/nodewatcher-deployment-staging.yaml
  kubernetes/node-watcher/nodewatcher-service.yaml
  kubernetes/node-watcher/templates/cloudsql-instance-credentials-secret.yaml
  kubernetes/node-watcher/values-dashboards-cluster-1.yaml
Due: none

fix: path to values-<stage>.yaml files
  .gitlab-ci.yml
  kubernetes/node-watcher/values-parity-prod.yaml
Due: none

remove border
  front-end/src/components/MenuBar/index.tsx
  front-end/src/ui-components/NetworkDropdown.tsx
Due: lint-front-end

Update front-end/src/components/MenuBar/index.tsx
  front-end/src/components/MenuBar/index.tsx
Due: lint-front-end

Update front-end/src/ui-components/NetworkDropdown.tsx
  front-end/src/ui-components/NetworkDropdown.tsx
Due: lint-front-end

init
  node-watcher/src/tasks/createReferendumStatus.ts
  node-watcher/src/util/statuses.ts
Due: none

Added anchor to comments (#824)
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/types.ts
  auth-server/src/utils/getPostCommentLink.ts
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Comment/Comments.tsx
  front-end/src/components/Comment/EditableCommentContent.tsx
  front-end/src/components/Footer/index.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/util/copyToClipboard.ts
Due: lint-front-end, lint-back-end

change order
  front-end/src/components/MenuBar/index.tsx
Due: lint-front-end

margin
  front-end/src/ui-components/NetworkDropdown.tsx
Due: lint-front-end

use non global variables
  .gitlab-ci.yml
  front-end/Dockerfile
Due: lint-front-end

comment dropdown
  front-end/src/components/MenuBar/index.tsx
Due: lint-front-end

clear non tabled propoals previous to the clearProposals call
  node-watcher/src/tasks/createReferendumStatus.ts
Due: none

generic function
  node-watcher/package.json
  node-watcher/src/tasks/createProposalStatus.ts
  node-watcher/src/tasks/createReferendumStatus.ts
  node-watcher/src/util/newProposalStatus.ts
Due: none

Add dropdown menu to switch network (#841)
  front-end/src/assets/kusama-logo.gif
  front-end/src/assets/polkadot-logo.svg
  front-end/src/components/MenuBar/index.tsx
  front-end/src/ui-components/NetworkDropdown.tsx
Due: lint-front-end

Remove non secret variables from Gitlab (#840)
  .gitlab-ci.yml
  front-end/Dockerfile
  kubernetes/polkassembly/values.yaml
Due: lint-front-end

front-end
  front-end/src/components/Post/Post.tsx
  front-end/src/global/statuses.ts
  front-end/src/ui-components/StatusTag.tsx
Due: lint-front-end

stray log
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

test
  .gitlab-ci.yml
Due: none

print build args
  .gitlab-ci.yml
Due: none

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*
