Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  - yarn build
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  - yarn tsc
  tags:
  - linux-docker

lint-chain-db-watcher:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd chain-db-watcher
  - yarn install
  - yarn lint
  - yarn tsc
  tags:
  - linux-docker

lint
  .gitlab-ci.yml
Due: none

Markdown target _blank for opening link in new tab
  front-end/src/ui-components/Markdown.tsx
Due: lint-front-end

Revert "Remove non secret variables from Gitlab (#840)"
  .gitlab-ci.yml
  front-end/Dockerfile
  kubernetes/polkassembly/values.yaml
Due: lint-front-end

Revert "Remove non secret variables from Gitlab (#840)" (#846)
  .gitlab-ci.yml
  front-end/Dockerfile
  kubernetes/polkassembly/values.yaml
Due: lint-front-end

Markdown target _blank for opening link in new tab (#844)
  front-end/src/ui-components/Markdown.tsx
Due: lint-front-end

remove footer link
  front-end/src/components/Footer/index.tsx
Due: lint-front-end

remove go-to-bottom, add dynamic go-to-top button
  front-end/src/components/Post/Post.tsx
  front-end/src/ui-components/ScrollToTopButton.tsx
Due: lint-front-end

remove end comment logic
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Comment/Comments.tsx
Due: lint-front-end

changed block_number to poll_block_number_end
  front-end/src/components/Post/Poll/CouncilSignals.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/screens/CreatePost/query.ts
  front-end/src/screens/DiscussionPost/query.ts
  front-end/src/screens/MotionPost/query.ts
  front-end/src/screens/ProposalPost/query.ts
  front-end/src/screens/ReferendumPost/query.ts
  front-end/src/screens/TreasuryPost/query.ts
  hasura/hasura-migrations/migrations/1591588689454_alter_table_public_posts_alter_column_block_number/down.yaml
  hasura/hasura-migrations/migrations/1591588689454_alter_table_public_posts_alter_column_block_number/up.yaml
Due: lint-front-end

extracted reused code in function
  front-end/src/components/Post/Poll/CouncilSignals.tsx
Due: lint-front-end

Uncommented poll
  front-end/src/components/Post/Poll/CouncilSignals.tsx
  front-end/src/components/Post/Poll/index.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/screens/CreatePost/index.tsx
Due: lint-front-end

removed twoWeekBlocks
  front-end/src/global/networkConstants.ts
  front-end/src/types.ts
Due: lint-front-end

Calculating end block
  front-end/src/screens/CreatePost/index.tsx
Due: lint-front-end

fix
  front-end/src/screens/CreatePost/index.tsx
Due: lint-front-end

use times circle icon for failing status
  front-end/src/ui-components/PassingInfo.tsx
Due: lint-front-end

use times circle icon for failing status (#853)
  front-end/src/ui-components/PassingInfo.tsx
Due: lint-front-end

replace grey border with box-shadow
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/DiscussionCard.tsx
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostCommentForm.tsx
  front-end/src/screens/LegalDocuments/index.tsx
  front-end/src/screens/NotificationSettings/index.tsx
  front-end/src/screens/Settings/index.tsx
  front-end/src/themes/theme.ts
  front-end/src/ui-components/Button.tsx
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/InfoBox.tsx
  front-end/src/ui-components/PassingInfo.tsx
Due: lint-front-end

remove unnecessary styling in reaction bars
  front-end/src/components/Reactionbar/CommentReactionBar.tsx
  front-end/src/components/Reactionbar/PostReactionBar.tsx
Due: lint-front-end

move to global variable
  .gitlab-ci.yml
Due: none

remove --set for chainDbWatcher.config.PROPOSAL_BOT_USERNAME
  .gitlab-ci.yml
Due: none

verify all needed env vars at launch
  chain-db-watcher/src/index.ts
Due: lint-chain-db-watcher

rename and use arrow
  front-end/src/components/Post/Post.tsx
  front-end/src/ui-components/ScrollToTop.tsx
Due: lint-front-end

verify all needed env vars at launch (#855)
  chain-db-watcher/src/index.ts
Due: lint-chain-db-watcher

Use non secret variables in gitlabci.yml (#847)
  .gitlab-ci.yml
  front-end/Dockerfile
  kubernetes/polkassembly/values.yaml
Due: lint-front-end

Dynamic go-to-top button (#852)
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Comment/Comments.tsx
  front-end/src/components/Footer/index.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/ui-components/ScrollToTop.tsx
Due: lint-front-end

add production connection db
  auth-server/knexfile.ts
Due: lint-back-end

add production connection db (#857)
  auth-server/knexfile.ts
Due: lint-back-end

Added blocktime context
  front-end/src/App.tsx
  front-end/src/components/BlockCountdown.tsx
  front-end/src/components/BlocksToTime.tsx
  front-end/src/context/BlockTimeContext.tsx
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/types.ts
Due: lint-front-end

use AddressComponent in preimage arguments
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
Due: lint-front-end

back to development
  auth-server/knexfile.ts
  kubernetes/polkassembly/values.yaml
Due: lint-back-end

back to development (#859)
  auth-server/knexfile.ts
  kubernetes/polkassembly/values.yaml
Due: lint-back-end

using hook instead of context for getting block time
  front-end/src/App.tsx
  front-end/src/components/BlockCountdown.tsx
  front-end/src/components/BlocksToTime.tsx
  front-end/src/context/BlockTimeContext.tsx
  front-end/src/hooks/index.ts
  front-end/src/hooks/useBlockTime.ts
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/types.ts
Due: lint-front-end

not using default 0
  front-end/src/components/Post/Poll/CouncilSignals.tsx
  front-end/src/components/Post/Poll/index.tsx
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

showing error on no block number
  front-end/src/screens/CreatePost/index.tsx
Due: lint-front-end

tabs
  front-end/src/screens/LegalDocuments/index.tsx
Due: lint-front-end

Use box-shadows on all card-like elements (#854)
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/DiscussionCard.tsx
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostCommentForm.tsx
  front-end/src/components/Reactionbar/CommentReactionBar.tsx
  front-end/src/components/Reactionbar/PostReactionBar.tsx
  front-end/src/screens/LegalDocuments/index.tsx
  front-end/src/screens/NotificationSettings/index.tsx
  front-end/src/screens/Settings/index.tsx
  front-end/src/themes/theme.ts
  front-end/src/ui-components/Button.tsx
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/InfoBox.tsx
  front-end/src/ui-components/PassingInfo.tsx
Due: lint-front-end

Update front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
Due: lint-front-end

Update front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
Due: lint-front-end

Update front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
Due: lint-front-end

front-end
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*
