Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  - yarn build
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  - yarn tsc
  tags:
  - linux-docker

lint-chain-db-watcher:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd chain-db-watcher
  - yarn install
  - yarn lint
  - yarn tsc
  tags:
  - linux-docker

some more time for the launch script
  launch.sh
Due: none

auth-server
  auth-server/package.json
  auth-server/yarn.lock
Due: lint-back-end

make tests pass
  auth-server/test/resolvers/mutation/addressLinkConfirm.spec.ts
  auth-server/test/resolvers/mutation/addressLoginKusama.spec.ts
  auth-server/test/resolvers/mutation/addressLoginPolkadot.spec.ts
  auth-server/test/resolvers/mutation/addressSignupKusama.spec.ts
  auth-server/test/resolvers/mutation/addressSignupPolkadot.spec.ts
Due: lint-back-end

node-watcher
  node-watcher/package.json
  node-watcher/yarn.lock
Due: none

health-monitor
  health-monitor/package.json
  health-monitor/yarn.lock
Due: none

use 0x0000..00 for fake signatures
  auth-server/test/resolvers/mutation/addressLinkConfirm.spec.ts
  auth-server/test/resolvers/mutation/addressLoginKusama.spec.ts
  auth-server/test/resolvers/mutation/addressLoginPolkadot.spec.ts
  auth-server/test/resolvers/mutation/addressSignupKusama.spec.ts
  auth-server/test/resolvers/mutation/addressSignupPolkadot.spec.ts
Due: lint-back-end

Use account component in preimage arguments (#858)
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
Due: lint-front-end

remove setter for HASURA_CHAIN_DB_REMOTE_SCHEMA
  .gitlab-ci.yml
Due: none

remove setter for HASURA_CHAIN_DB_REMOTE_SCHEMA (#861)
  .gitlab-ci.yml
Due: none

Make a "Cleared" proposal for the case democracy.clearProposal is called (#843)
  front-end/src/global/statuses.ts
  front-end/src/ui-components/StatusTag.tsx
  node-watcher/package.json
  node-watcher/src/tasks/createProposalStatus.ts
  node-watcher/src/tasks/createReferendumStatus.ts
  node-watcher/src/util/newProposalStatus.ts
  node-watcher/src/util/statuses.ts
Due: lint-front-end

check that referendum is defined
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
Due: lint-front-end

Update @polkadot deps (#860)
  auth-server/package.json
  auth-server/test/resolvers/mutation/addressLinkConfirm.spec.ts
  auth-server/test/resolvers/mutation/addressLoginKusama.spec.ts
  auth-server/test/resolvers/mutation/addressLoginPolkadot.spec.ts
  auth-server/test/resolvers/mutation/addressSignupKusama.spec.ts
  auth-server/test/resolvers/mutation/addressSignupPolkadot.spec.ts
  auth-server/yarn.lock
  front-end/package.json
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  launch.sh
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

security alerts
  chain-db-open-server/package.json
  chain-db-open-server/src/index.ts
  chain-db-open-server/yarn.lock
Due: none

docker 1.3.5 is live with deps upgrades
  kubernetes/node-watcher/node-watcher-harvester.yaml
  node-watcher/package.json
Due: none

upgrade and fix errors
  front-end/package.json
  front-end/src/components/Apollo.tsx
  front-end/src/components/ContentForm.tsx
  front-end/src/components/TitleForm.tsx
  front-end/src/ui-components/MarkdownEditor.tsx
  front-end/yarn.lock
Due: lint-front-end

stray comments
  front-end/src/ui-components/MarkdownEditor.tsx
Due: lint-front-end

lint
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/ui-components/AddressDropdown.tsx
  front-end/src/ui-components/NetworkDropdown.tsx
  front-end/src/util/blockToTime.ts
  front-end/src/util/copyToClipboard.ts
Due: lint-front-end

fix warnings
  front-end/src/ui-components/IdentityBadge.tsx
Due: lint-front-end

added rety & interruptible=true to dockerize
  .gitlab-ci.yml
Due: none

added rety & interruptible=true to dockerize (#867)
  .gitlab-ci.yml
Due: none

better variables readme
  kubernetes/README.md
Due: none

more info
  kubernetes/README.md
Due: none

fix warnings (#866)
  front-end/src/ui-components/IdentityBadge.tsx
Due: lint-front-end

Update ScrollToTop.tsx
  front-end/src/ui-components/ScrollToTop.tsx
Due: lint-front-end

lint
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
Due: lint-front-end

fix and log a little more
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/types.ts
Due: lint-back-end

add some comments and log unexpected behavior
  auth-server/src/controllers/eventsHook.ts
Due: lint-back-end

add yarnrc for 10min timeout
  auth-server/.yarnrc
  chain-db-open-server/.yarnrc
  chain-db-watcher/.yarnrc
  front-end/.yarnrc
  health-monitor/.yarnrc
  node-watcher/.yarnrc
Due: lint-front-end, lint-back-end, lint-chain-db-watcher

docker 1.3.5 is live with deps upgrades (#863)
  kubernetes/node-watcher/node-watcher-harvester.yaml
  node-watcher/package.json
Due: none

Update kubernetes/README.md
  kubernetes/README.md
Due: none

set secure flag for cookie
  auth-server/src/utils/setRefreshTokenCookie.ts
Due: lint-back-end

Add info about CI variables in Kubernetes readme (#868)
  kubernetes/README.md
Due: none

print public env and warn about unset ones
  auth-server/src/index.ts
  auth-server/src/utils/verifyEnvVariables.ts
Due: lint-back-end

typos
  auth-server/src/utils/verifyEnvVariables.ts
Due: lint-back-end

add yarnrc for 10min timeout (#874)
  auth-server/.yarnrc
  chain-db-open-server/.yarnrc
  chain-db-watcher/.yarnrc
  front-end/.yarnrc
  health-monitor/.yarnrc
  node-watcher/.yarnrc
Due: lint-front-end, lint-back-end, lint-chain-db-watcher

Print public env and warn about unset ones (#876)
  auth-server/src/index.ts
  auth-server/src/utils/verifyEnvVariables.ts
Due: lint-back-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*
