Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*

Added caret
  front-end/src/components/MenuBar/index.tsx
Due: lint-front-end

fix url
  auth-server/src/utils/emailTemplates.ts
Due: lint-back-end

fix
  front-end/src/screens/OnChain/index.tsx
Due: lint-front-end

fix url (#892)
  auth-server/src/utils/emailTemplates.ts
Due: lint-back-end

removed icons
  front-end/src/components/MenuBar/index.tsx
Due: lint-front-end

added nodeSelector for prod
  kubernetes/node-watcher/values-parity-prod.yaml
Due: none

merged with master
  .gitlab-ci.yml
Due: none

Moved onchain containers within screen
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Motions/Motions/index.tsx
  front-end/src/screens/Motions/Motions/query.ts
  front-end/src/screens/Motions/index.tsx
  front-end/src/screens/OnChain/Motions/index.tsx
  front-end/src/screens/OnChain/Motions/query.ts
  front-end/src/screens/OnChain/Proposals/index.tsx
  front-end/src/screens/OnChain/Proposals/query.ts
  front-end/src/screens/OnChain/Referenda/index.tsx
  front-end/src/screens/OnChain/Referenda/query.ts
  front-end/src/screens/OnChain/Treasury/index.tsx
  front-end/src/screens/OnChain/Treasury/query.ts
  front-end/src/screens/OnChain/index.tsx
  front-end/src/screens/Proposals/Proposals/index.tsx
  front-end/src/screens/Proposals/Proposals/query.ts
  front-end/src/screens/Proposals/index.tsx
  front-end/src/screens/Referenda/Referenda/index.tsx
  front-end/src/screens/Referenda/Referenda/query.ts
  front-end/src/screens/Referenda/index.tsx
  front-end/src/screens/Treasury/Treasury/index.tsx
  front-end/src/screens/Treasury/Treasury/query.ts
  front-end/src/screens/Treasury/index.tsx
Due: lint-front-end

mde-preview pre>code fix
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Post/PostCommentForm.tsx
  front-end/src/ui-components/Markdown.tsx
Due: lint-front-end

sort by last update
  front-end/src/components/Listings/DiscussionsListing.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Discussions/query.ts
  hasura/hasura-migrations/migrations/1591974115375_run_sql_migration/down.yaml
  hasura/hasura-migrations/migrations/1591974115375_run_sql_migration/up.yaml
  hasura/hasura-migrations/migrations/1591974154804_create_relationship_post_public_table_post_last_update/down.yaml
  hasura/hasura-migrations/migrations/1591974154804_create_relationship_post_public_table_post_last_update/up.yaml
  hasura/hasura-migrations/migrations/1591974175368_update_permission_anonymous_public_table_post_last_update/down.yaml
  hasura/hasura-migrations/migrations/1591974175368_update_permission_anonymous_public_table_post_last_update/up.yaml
  hasura/hasura-migrations/migrations/1591974197981_update_permission_user_public_table_post_last_update/down.yaml
  hasura/hasura-migrations/migrations/1591974197981_update_permission_user_public_table_post_last_update/up.yaml
Due: lint-front-end

added icon to helm chart
  kubernetes/node-watcher/Chart.yaml
  kubernetes/node-watcher/node-watcher-deployment-staging.yaml
  kubernetes/node-watcher/node-watcher-service.yaml
  kubernetes/node-watcher/templates/node-watcher-harvester.yaml
Due: none

added node-wather-harvester job
  kubernetes/node-watcher/templates/_helpers.tpl
  kubernetes/node-watcher/templates/harvester-config.yaml
  kubernetes/node-watcher/templates/node-watcher-harvester.yaml
  kubernetes/node-watcher/values.yaml
Due: none

fix: harvester image configuration
  kubernetes/node-watcher/templates/node-watcher-harvester.yaml
  kubernetes/node-watcher/values.yaml
Due: none

typo
  chain-db-watcher/src/graphql_helpers.ts
Due: lint-chain-db-watcher

typo (#895)
  chain-db-watcher/src/graphql_helpers.ts
Due: lint-chain-db-watcher

overflow auto for mde code
  front-end/src/ui-components/GlobalStyle.tsx
  front-end/src/ui-components/Markdown.tsx
Due: lint-front-end

Update front-end/src/components/MenuBar/index.tsx
  front-end/src/components/MenuBar/index.tsx
Due: lint-front-end

consitency
  front-end/src/App.tsx
  front-end/src/components/Footer/index.tsx
  front-end/src/components/Login/Web2Login.tsx
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/components/MenuBar/index.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/screens/Discussions/index.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/OnChain/index.tsx
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

some more
  front-end/src/components/DefaultAddressInfoBox.tsx
  front-end/src/screens/OnChain/index.tsx
  front-end/src/screens/Settings/setCredentials.tsx
Due: lint-front-end

Renamed container
  front-end/src/screens/Motions/MotionsContainer/index.tsx
  front-end/src/screens/Motions/MotionsContainer/query.ts
  front-end/src/screens/Motions/index.tsx
  front-end/src/screens/Proposals/ProposalsContainer/index.tsx
  front-end/src/screens/Proposals/ProposalsContainer/query.ts
  front-end/src/screens/Proposals/index.tsx
  front-end/src/screens/Referenda/ReferendaContainer/index.tsx
  front-end/src/screens/Referenda/ReferendaContainer/query.ts
  front-end/src/screens/Referenda/index.tsx
  front-end/src/screens/Treasury/TreasuryContainer/index.tsx
  front-end/src/screens/Treasury/TreasuryContainer/query.ts
  front-end/src/screens/Treasury/index.tsx
Due: lint-front-end

Text change
  front-end/src/screens/Motions/index.tsx
Due: lint-front-end

Mde-preview overlap fix when displaying code (#893)
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Post/PostCommentForm.tsx
  front-end/src/ui-components/GlobalStyle.tsx
  front-end/src/ui-components/Markdown.tsx
Due: lint-front-end

rename
  front-end/src/screens/Referenda/index.tsx
Due: lint-front-end

rename
  front-end/src/screens/Treasury/index.tsx
Due: lint-front-end

text
  front-end/src/screens/Treasury/index.tsx
Due: lint-front-end

fix css
  front-end/src/screens/Motions/index.tsx
  front-end/src/screens/Proposals/index.tsx
  front-end/src/screens/Referenda/index.tsx
  front-end/src/screens/Treasury/index.tsx
Due: lint-front-end

rm whitespaces
  .gitlab-ci.yml
Due: none

polkadot build & deploy stage
  .gitlab-ci.yml
Due: none

added values for polkadot prod
  kubernetes/node-watcher/values-kusama-prod.yaml
  kubernetes/node-watcher/values-polkadot-prod.yaml
  kubernetes/polkassembly/values-kusama-prod.yaml
  kubernetes/polkassembly/values-polkadot-prod.yaml
  kubernetes/redis/values/kusama-prod.yaml
  kubernetes/redis/values/polkadot-prod.yaml
Due: none

Fv add node watcher deployment (#894)
  .gitlab-ci.yml
  kubernetes/node-watcher/Chart.yaml
  kubernetes/node-watcher/node-watcher-deployment-staging.yaml
  kubernetes/node-watcher/node-watcher-harvester.yaml
  kubernetes/node-watcher/node-watcher-service.yaml
  kubernetes/node-watcher/templates/_helpers.tpl
  kubernetes/node-watcher/templates/harvester-config.yaml
  kubernetes/node-watcher/templates/node-watcher-deployment.yaml
  kubernetes/node-watcher/templates/node-watcher-harvester.yaml
  kubernetes/node-watcher/templates/node-watcher-prisma-secret.yaml
  kubernetes/node-watcher/templates/node-watcher-service.yaml
  kubernetes/node-watcher/values-dashboards-cluster-1.yaml
  kubernetes/node-watcher/values-parity-prod.yaml
  kubernetes/node-watcher/values.yaml
Due: none

Showing sidebar in mobile
  front-end/src/components/ExtensionNotDetected.tsx
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

link and some more inconsistencies
  front-end/src/App.tsx
  front-end/src/components/MenuBar/index.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostTreasuryInfo.tsx
Due: lint-front-end

Added Responsive sidebar
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

removed unused comment
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Added Poll to sidebar
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

fix: remove "replicas:" from harvester job
  kubernetes/node-watcher/templates/node-watcher-harvester.yaml
Due: none

fix: remove "replicas:" from harvester job (#901)
  kubernetes/node-watcher/templates/node-watcher-harvester.yaml
Due: none

tabled status in green with a check
  front-end/src/ui-components/StatusTag.tsx
Due: lint-front-end

fix: set manualSelector: true
  kubernetes/node-watcher/templates/node-watcher-harvester.yaml
Due: none
