Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*

Added link to issues tracker (#725)
  front-end/src/components/Footer/index.tsx
Due: lint-front-end

font-weight
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

label spacing
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

alphabetical
  auth-server/package.json
  front-end/package.json
Due: lint-front-end, lint-back-end

alphabetical bis
  chain-db-watcher/package.json
Due: lint-chain-db-watcher

Fixed repository fields (#687)
  auth-server/package.json
  chain-db-watcher/package.json
  front-end/package.json
Due: lint-front-end, lint-back-end, lint-chain-db-watcher

Default address frontend (#677)
  front-end/src/context/UserDetailsContext.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/screens/Settings/query.ts
  front-end/src/types.ts
Due: lint-front-end

replace hash with number
  chain-db-watcher/src/queries.ts
Due: lint-chain-db-watcher

clean ups
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/sync/index.ts
Due: lint-chain-db-watcher

Replace hash with number (#726)
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/sync/index.ts
Due: lint-chain-db-watcher

api comments
  front-end/src/components/BlockCountdown.tsx
  front-end/src/components/BlocksToTime.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
Due: lint-front-end

blocktime cleanup
  front-end/src/components/BlockCountdown.tsx
  front-end/src/components/BlocksToTime.tsx
  front-end/src/util/blockToTime.ts
Due: lint-front-end

indentation
  front-end/src/components/Post/GovernanceSideBar/index.tsx
Due: lint-front-end

Ended on timestamp
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
Due: lint-front-end

styled popup
  front-end/src/components/BlockCountdown.tsx
  front-end/src/components/BlocksToTime.tsx
Due: lint-front-end

add retry to getToken
  chain-db-watcher/package.json
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/yarn.lock
Due: lint-chain-db-watcher

Update index.tsx
  front-end/src/components/Footer/index.tsx
Due: lint-front-end

use Aborterror for other errors
  chain-db-watcher/src/graphql_helpers.ts
Due: lint-chain-db-watcher

Added signup with web3 frontend
  auth-server/src/resolvers/mutation/addressSignupConfirm.ts
  auth-server/src/services/auth.ts
  auth-server/src/utils/validateName.ts
  front-end/src/components/Signup/Web2Signup.tsx
  front-end/src/components/Signup/Web3Signup.tsx
  front-end/src/components/Signup/query.ts
  front-end/src/generated/graphql.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/screens/SignupForm/query.ts
Due: lint-front-end, lint-back-end

better errors
  chain-db-watcher/src/graphql_helpers.ts
Due: lint-chain-db-watcher

fix
  auth-server/src/services/auth.ts
  front-end/src/components/Signup/Web3Signup.tsx
Due: lint-front-end, lint-back-end

fix
  front-end/src/components/Signup/Web3Signup.tsx
Due: lint-front-end

margin
  front-end/src/components/Signup/Web3Signup.tsx
Due: lint-front-end

regular link + spaces
  front-end/src/components/Footer/index.tsx
Due: lint-front-end

GH Footer link warning fix (#728)
  front-end/src/components/Footer/index.tsx
Due: lint-front-end

Added identity
  auth-server/package.json
  auth-server/src/resolvers/mutation/addressSignupConfirm.ts
  auth-server/src/schema/mutation/addressSignupConfirm.ts
  auth-server/src/services/auth.ts
  auth-server/src/services/email.ts
  auth-server/src/types.ts
  auth-server/src/utils/emailTemplates.ts
  auth-server/yarn.lock
  front-end/src/components/Footer/index.tsx
  front-end/src/components/Signup/Web3Signup.tsx
  front-end/src/components/Signup/query.ts
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Settings/fullname.tsx
Due: lint-front-end, lint-back-end

use LoadingStatusType
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
Due: lint-front-end

moment
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
Due: lint-front-end

Styling Web3 Signup
  front-end/src/components/Signup/Web2Signup.tsx
  front-end/src/components/Signup/Web3Signup.tsx
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

Add retry mechanism to chain-db-watcher getToken (#727)
  chain-db-watcher/package.json
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/yarn.lock
Due: lint-chain-db-watcher

Styling Web3 Signup (#729)
  front-end/src/components/Signup/Web2Signup.tsx
  front-end/src/components/Signup/Web3Signup.tsx
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

removing redundant checks
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
Due: lint-front-end

Added tests
  auth-server/test/resolvers/mutation/addressLogin.spec.ts
  auth-server/test/resolvers/mutation/addressSignup.spec.ts
Due: lint-back-end

styled div warning fix
  front-end/src/components/BlockCountdown.tsx
  front-end/src/components/BlocksToTime.tsx
Due: lint-front-end

removing redundant wrapper div
  front-end/src/components/BlocksToTime.tsx
Due: lint-front-end

Added id on emails
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/services/email.ts
Due: lint-back-end

Added id on emails
  auth-server/src/utils/getPostId.ts
Due: lint-back-end

loader timeout
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/ui-components/Loader.tsx
Due: lint-front-end

indentation
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
Due: lint-front-end

init
  .maintain/generate_changelog.sh
  .maintain/lib.sh
  .maintain/publish_draft_release.sh
Due: none
