Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

.gitlab-ci.yml:

image: parity/kubetools:latest
variables:
  KUBE_NAMESPACE:                  "polkassembly"
  CI_REGISTRY:                     "gcr.io/test-installations-222013"
  DOCKER_TAG:                      $CI_COMMIT_REF_SLUG
  GIT_STRATEGY:                    fetch
  GIT_DEPTH:                       3

stages:
  - test
  - dockerize
  - deploy

cache:
  key:                             '${CI_JOB_NAME}'
  paths:
    - node_modules/
    - packages/*/node_modules/

#### stage:                        test

lint-front-end:
  stage: test
  image: node:12
  interruptible:                   true
  dependencies:                    []
  script:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - cd front-end
    - yarn install
    - yarn lint
  rules:
    - changes:
      - "front-end/**/*"
  tags:
    - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible:                   true
  dependencies:                    []
  script:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - cd auth-server
    - yarn install
    - yarn lint
  rules:
    - changes:
      - "auth-server/**/*"
  tags:
    - linux-docker

#### stage:                        dockerize

.build_and_push:                   &build_and_push
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  tags:
    - kubernetes-parity-build
  image: docker:git
  services:
    - docker:dind
  script:
    - POD_NAME=$(echo ${CI_JOB_NAME} | sed -E 's/^[[:alnum:]]+-//')
    - export DOCKER_IMAGE="${CI_REGISTRY}/${KUBE_NAMESPACE}-${POD_NAME}"
    - export DOCKER_IMAGE_FULL_NAME=$DOCKER_IMAGE:$DOCKER_TAG
    - echo "$BUILD_ARGS"
    - echo "$DOCKER_REGISTRY_JSON" | docker login -u _json_key --password-stdin https://gcr.io
    - docker build -t "$DOCKER_IMAGE_FULL_NAME" $(echo -E $BUILD_ARGS) $POD_NAME
    - docker push "$DOCKER_IMAGE_FULL_NAME"

dockerize-front-end:
  stage: dockerize
  environment:
    name: parity-build
  before_script:
    - export BUILD_ARGS="--build-arg REACT_APP_HASURA_GRAPHQL_URL=${REACT_APP_HASURA_GRAPHQL_URL} --build-arg REACT_APP_JWT_PUBLIC_KEY=${REACT_APP_JWT_PUBLIC_KEY}"
  only:
      - master
      - /^fv-.*/
  <<: *build_and_push

dockerize-auth-server:
  stage: dockerize
  environment:
    name: parity-build
  only:
      - master
      - /^fv-.*/
  <<: *build_and_push

#### stage:                        deploy

deploy:
  stage: deploy
  variables:
    http_upgrade: '$http_upgrade' # hack, to make nginx conf work with envsubst
  environment:
    name: dashboards-cluster-1
  tags:
    - kubernetes-parity-build
  only:
    - master
  script:
    # check syntax
    - for f in kubernetes/polkassembly/*yaml; do echo $f; cat $f | envsubst | kubectl --dry-run --validate -n polkassembly apply -f -; done
    # print rendered yaml
    - for f in kubernetes/polkassembly/*yaml; do echo $f; cat $f | envsubst; echo '---'; done
    # deploy yaml to cluster
    - for f in kubernetes/polkassembly/*yaml; do cat $f | envsubst | kubectl -n polkassembly apply -f -; done

Added index to governance-auth tables (#373)
  auth-server/migrations/20200219104712_users_index.js
  auth-server/migrations/20200219105704_refresh_tokens_index.js
  auth-server/migrations/20200219105905_email_verification_token_index.js
  auth-server/migrations/20200219110001_password_reset_token_index.js
  auth-server/migrations/20200219110123_post_subscription_index.js
  auth-server/migrations/20200219110317_undo_email_change_token_index.js
  hasura/README.md
Due: lint-back-end

Notify user on proposal
  auth-server/README.md
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/notifyOnProposal.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/notifyOnProposal.ts
  auth-server/src/services/email.ts
  auth-server/src/utils/messages.ts
  chain-db-watcher/README.md
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/queries/discussions-db.queries.ts
Due: lint-back-end

Added notify api secret variables
  kubernetes/polkassembly/auth-server-config.yaml
  kubernetes/polkassembly/chain-db-watcher-config.yaml
Due: none

added NOTIFY_API_SECRET
  kubernetes/polkassembly/auth-server-deployment.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
Due: none

added tests
  auth-server/docker-compose-test.yaml
  auth-server/test/resolvers/mutation/notifyOnProposal.ts.spec.ts
Due: lint-back-end

Styled MD component
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostContent.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/OnChain/index.tsx
  front-end/src/screens/PrivacyPolicy/index.tsx
  front-end/src/screens/Settings/index.tsx
  front-end/src/screens/TermsAndConditions/index.tsx
  front-end/src/ui-components/CreationLabel.tsx
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/GlobalStyle.tsx
  front-end/src/ui-components/MarkdownStyle.tsx
  front-end/src/ui-components/TextArea.tsx
  front-end/src/ui-components/UpdateLabel.tsx
Due: lint-front-end

text area preview styling
  front-end/src/ui-components/GlobalStyle.tsx
  front-end/src/ui-components/TextArea.tsx
Due: lint-front-end

tac
  front-end/src/App.tsx
  front-end/src/assets/privacy-policy.ts
  front-end/src/assets/terms-and-conditions.ts
  front-end/src/assets/terms-of-website.ts
  front-end/src/components/Footer/index.tsx
  front-end/src/components/MenuBar/index.tsx
  front-end/src/components/MenuBar/query.ts
  front-end/src/screens/PrivacyPolicy/index.tsx
  front-end/src/screens/TermsOfWebsite/index.tsx
Due: lint-front-end

refactor
  front-end/src/App.tsx
  front-end/src/assets/privacy-policy.ts
  front-end/src/screens/LegalDocuments/index.tsx
  front-end/src/screens/PrivacyPolicy/index.tsx
  front-end/src/screens/TermsAndConditions/index.tsx
  front-end/src/screens/TermsOfWebsite/index.tsx
  front-end/src/ui-components/Markdown.tsx
Due: lint-front-end

intr. stagin & production depl. stages
  .gitlab-ci.yml
Due: none

just need one checkbox
  front-end/src/screens/SignupForm/index.tsx
Due: lint-front-end

simplify a bit
  front-end/src/ui-components/Markdown.tsx
Due: lint-front-end

formating tacs
  front-end/src/assets/terms-and-conditions.ts
  front-end/src/screens/LegalDocuments/index.tsx
Due: lint-front-end

show proposal deposit when available
  front-end/src/components/Post/PostMotionInfo.tsx
  front-end/src/components/Post/PostProposalInfo.tsx
  front-end/src/components/Post/PostReferendumInfo.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/MotionPost/query.ts
  front-end/src/screens/ProposalPost/query.ts
  front-end/src/screens/ReferendumPost/query.ts
Due: lint-front-end

no need of to show deposit on referenda
  front-end/src/components/Post/PostReferendumInfo.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/ReferendumPost/query.ts
Due: lint-front-end

Show proposal deposit when available (#393)
  front-end/src/components/Post/PostMotionInfo.tsx
  front-end/src/components/Post/PostProposalInfo.tsx
  front-end/src/components/Post/PostReferendumInfo.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/MotionPost/query.ts
  front-end/src/screens/ProposalPost/query.ts
  front-end/src/screens/ReferendumPost/query.ts
Due: lint-front-end

Fv build args again (#375)
  .gitlab-ci.yml
  front-end/Dockerfile
Due: lint-front-end

Update T&Cs and legal requirements (#388)
  front-end/src/App.tsx
  front-end/src/assets/privacy-policy.ts
  front-end/src/assets/terms-and-conditions.ts
  front-end/src/assets/terms-of-website.ts
  front-end/src/components/Footer/index.tsx
  front-end/src/components/MenuBar/index.tsx
  front-end/src/components/MenuBar/query.ts
  front-end/src/screens/LegalDocuments/index.tsx
  front-end/src/screens/PrivacyPolicy/index.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/screens/TermsAndConditions/index.tsx
  front-end/src/ui-components/Markdown.tsx
Due: lint-front-end

new stage: post-deploy (#374)
  .gitlab-ci.yml
Due: none

fix passed border
  front-end/src/ui-components/StatusTag.tsx
Due: lint-front-end

font vars
  front-end/src/components/MenuBar/index.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostContent.tsx
  front-end/src/components/Post/PostMotionInfo.tsx
  front-end/src/components/Post/PostProposalInfo.tsx
  front-end/src/components/Post/PostReferendumInfo.tsx
  front-end/src/screens/CreatePost/TopicsRadio.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/ui-components/Button.tsx
  front-end/src/ui-components/DismissableNotification.tsx
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/InfoBox.tsx
  front-end/src/ui-components/Input.tsx
  front-end/src/ui-components/Markdown.tsx
  front-end/src/ui-components/Modal.tsx
  front-end/src/ui-components/TextArea.tsx
Due: lint-front-end

markdown component
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Comment/EditableCommentContent.tsx
  front-end/src/components/Post/PostContent.tsx
  front-end/src/ui-components/Markdown.tsx
  front-end/src/ui-components/MarkdownStyle.tsx
  front-end/src/ui-components/TextArea.tsx
Due: lint-front-end

fix passed border (#394)
  front-end/src/ui-components/StatusTag.tsx
Due: lint-front-end

Update Markdown.tsx
  front-end/src/ui-components/Markdown.tsx
Due: lint-front-end

h1 mobile home
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/OnChain/index.tsx
Due: lint-front-end

form indendation
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

Update index.tsx
  front-end/src/screens/Home/index.tsx
Due: lint-front-end

color variables
  front-end/src/components/ContentForm.tsx
  front-end/src/components/MenuBar/index.tsx
  front-end/src/components/TitleForm.tsx
  front-end/src/screens/CreatePost/TopicsRadio.tsx
  front-end/src/screens/LoginForm/index.tsx
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/ui-components/Button.tsx
  front-end/src/ui-components/DismissableNotification.tsx
  front-end/src/ui-components/FilteredError.tsx
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/GlobalStyle.tsx
  front-end/src/ui-components/Input.tsx
  front-end/src/ui-components/Modal.tsx
  front-end/src/ui-components/TextArea.tsx
Due: lint-front-end

Helper Tooltip
  front-end/src/components/Post/SecondProposal.tsx
  front-end/src/components/Post/VoteRefrendum.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/ui-components/HelperTooltip.tsx
Due: lint-front-end

clean up
  front-end/src/components/Post/GovernanceSideBar/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteRefrendum.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/ui-components/Address.tsx
Due: lint-front-end

clean up (#397)
  front-end/src/components/Post/GovernanceSideBar/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteRefrendum.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/ui-components/Address.tsx
Due: lint-front-end

Revert "Fv build args again (#375)"
  .gitlab-ci.yml
  front-end/Dockerfile
Due: lint-front-end

enable deploy stage for fv- prefix branhc
  .gitlab-ci.yml
Due: none

test
  kubernetes/polkassembly/hasura-secrets.yaml
Due: none

test
  .gitlab-ci.yml
Due: none

Update front-end/src/components/Post/VoteRefrendum.tsx
  front-end/src/components/Post/VoteRefrendum.tsx
Due: lint-front-end
