Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-chain-db-watcher:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd chain-db-watcher
  - yarn install
  - yarn lint
  tags:
  - linux-docker

addressDdefault renamed to setDefaultAddress
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/setDefaultAddress.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/setDefaultAddress.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
Due: lint-back-end

Added comment
  auth-server/src/services/auth.ts
Due: lint-back-end

no await api
  front-end/src/context/ApiContext.tsx
  front-end/src/ui-components/Address.tsx
Due: lint-front-end

Update front-end/src/context/ApiContext.tsx
  front-end/src/context/ApiContext.tsx
Due: lint-front-end

lower a little api in the tree
  front-end/src/App.tsx
Due: lint-front-end

lint
  front-end/src/context/ApiContext.tsx
Due: lint-front-end

setdefaultAddress
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/screens/Settings/query.ts
Due: lint-front-end

Adding a comma
  front-end/src/screens/Home/index.tsx
Due: lint-front-end

Show button on hover
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

Adding a comma (#680)
  front-end/src/screens/Home/index.tsx
Due: lint-front-end

No await api (#679)
  front-end/src/App.tsx
  front-end/src/context/ApiContext.tsx
  front-end/src/ui-components/Address.tsx
Due: lint-front-end

Fix overflow
  front-end/src/ui-components/OnchainInfoWrapper.tsx
Due: lint-front-end

refactor
  front-end/src/components/BlockCountdown.tsx
  front-end/src/components/BlocksToTime.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumCountdown.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
  front-end/src/util/blockToTime.ts
Due: lint-front-end

yarn clean up
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

remove allowjs
  front-end/tsconfig.json
  front-end/yarn.lock
Due: lint-front-end

resolution bn.js 5.1.1
  front-end/package.json
  front-end/tsconfig.json
  front-end/yarn.lock
Due: lint-front-end

Update front-end/tsconfig.json
  front-end/tsconfig.json
Due: lint-front-end

allojs removed
  front-end/tsconfig.json
Due: lint-front-end

Yarn fixes to further optimise
  front-end/yarn.lock
Due: lint-front-end

Fix overflow (#681)
  front-end/src/ui-components/OnchainInfoWrapper.tsx
Due: lint-front-end

Revert "Yarn fixes to further optimise"
  front-end/yarn.lock
Due: lint-front-end

back to what you had Nikhil
  front-end/yarn.lock
Due: lint-front-end

Reduce bundle size (#682)
  front-end/package.json
  front-end/tsconfig.json
  front-end/yarn.lock
Due: lint-front-end

Fixed repository fields
  auth-server/package.json
Due: lint-back-end

Require password to change email, username (#647)
  auth-server/src/resolvers/mutation/changeEmail.ts
  auth-server/src/resolvers/mutation/changeUsername.ts
  auth-server/src/schema/mutation/changeEmail.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  auth-server/src/utils/messages.ts
  auth-server/test/resolvers/mutation/changeEmail.spec.ts
  auth-server/test/resolvers/mutation/changeUsername.spec.ts
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/Settings/fullname.tsx
  front-end/src/screens/Settings/index.tsx
  front-end/src/screens/Settings/password.tsx
  front-end/src/screens/Settings/query.ts
  front-end/src/screens/Settings/username.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/ui-components/Spacer.tsx
  front-end/src/ui-components/Tag.tsx
  front-end/src/util/validation.ts
Due: lint-front-end, lint-back-end

Update auth-server/src/services/auth.ts
  auth-server/src/services/auth.ts
Due: lint-back-end

using varable
  auth-server/src/services/auth.ts
Due: lint-back-end

Added default address mutation. Added default address in token. (#675)
  auth-server/migrations/20200420130047_address_default.js
  auth-server/src/model/Address.ts
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/setDefaultAddress.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/setDefaultAddress.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end

check error message
  front-end/src/components/Comment/EditableCommentContent.tsx
  front-end/src/components/Login/Web2Login.tsx
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/components/ReportButton/index.tsx
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/screens/NotificationSettings/index.tsx
  front-end/src/screens/RequestResetPassword/index.tsx
  front-end/src/screens/ResetPassword/index.tsx
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/Settings/fullname.tsx
  front-end/src/screens/Settings/password.tsx
  front-end/src/screens/Settings/username.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/screens/UndoEmailChange/index.tsx
  front-end/src/screens/VerifyEmail/index.tsx
Due: lint-front-end

fix motions
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/queries/chain-db.queries.ts
  chain-db-watcher/src/sync/index.ts
  chain-db-watcher/src/sync/queries/chain-db.queries.ts
  chain-db-watcher/src/sync/utils.ts
  chain-db-watcher/src/types.ts
Due: lint-chain-db-watcher

lint
  chain-db-watcher/src/graphql_helpers.ts
Due: lint-chain-db-watcher

Apply suggestions from code review
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/sync/index.ts
Due: lint-chain-db-watcher

Added health monitor
  health-monitor/.dockerignore
  health-monitor/.editorconfig
  health-monitor/.eslintignore
  health-monitor/.eslintrc.json
  health-monitor/.gitignore
  health-monitor/Dockerfile
  health-monitor/package.json
  health-monitor/src/index.ts
  health-monitor/tsconfig.json
  health-monitor/yarn.lock
Due: none

deduplicate treasury
  chain-db-watcher/src/sync/index.ts
  chain-db-watcher/src/types.ts
Due: lint-chain-db-watcher

some more
  front-end/src/components/EditablePostContent.tsx
  front-end/src/components/Post/PostCommentForm.tsx
  front-end/src/screens/CreatePost/TopicsRadio.tsx
  front-end/src/screens/DiscussionPost/index.tsx
  front-end/src/screens/Discussions/Discussions.tsx
  front-end/src/screens/Home/LatestDiscussions/index.tsx
  front-end/src/screens/Home/LatestMotions/index.tsx
  front-end/src/screens/Home/LatestProposals/index.tsx
  front-end/src/screens/Home/LatestReferenda/index.tsx
  front-end/src/screens/Home/LatestTreasury/index.tsx
  front-end/src/screens/MotionPost/index.tsx
  front-end/src/screens/OnChain/Motions/index.tsx
  front-end/src/screens/OnChain/Proposals/index.tsx
  front-end/src/screens/OnChain/Referenda/index.tsx
  front-end/src/screens/OnChain/Treasury/index.tsx
  front-end/src/screens/ProposalPost/index.tsx
  front-end/src/screens/ReferendumPost/index.tsx
  front-end/src/screens/TreasuryPost/index.tsx
Due: lint-front-end

Apply suggestions from code review
  chain-db-watcher/src/sync/index.ts
Due: lint-chain-db-watcher

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*
