Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*

Fix service name (#805)
  front-end/nginx/default.conf
Due: lint-front-end

add chore flag
  .maintain/generate_changelog.sh
Due: none

add chore flag (#806)
  .maintain/generate_changelog.sh
Due: none

fix rpc-node internal hostname
  kubernetes/polkassembly/values-parity-prod.yaml
Due: none

converted args to object
  front-end/src/screens/Settings/address.tsx
  front-end/src/types.ts
Due: lint-front-end

fix rpc-node internal hostname (#807)
  kubernetes/polkassembly/values-parity-prod.yaml
Due: none

using && instead of ?
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

bump api
  front-end/package.json
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/yarn.lock
Due: lint-front-end

refactor
  front-end/src/screens/Settings/address.tsx
  front-end/src/types.ts
Due: lint-front-end

lint
  front-end/src/screens/Settings/address.tsx
  front-end/src/types.ts
Due: lint-front-end

indentation
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

set default as component
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

nit
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

Account link unlink refactoring (#809)
  front-end/src/screens/Settings/address.tsx
  front-end/src/types.ts
Due: lint-front-end

Adding address of council if it exist
  front-end/src/components/Post/Poll/CouncilSignals.tsx
Due: lint-front-end

checking defaultAddress not empty string
  front-end/src/components/Post/Poll/CouncilSignals.tsx
Due: lint-front-end

renamed OffChainSignals -> GeneralSignals
  front-end/src/components/Post/Poll/GeneralSignals.tsx
  front-end/src/components/Post/Poll/index.tsx
  front-end/src/ui-components/GeneralChainSignalBar.tsx
Due: lint-front-end

Commented poll
  front-end/src/components/Post/Post.tsx
  front-end/src/screens/CreatePost/index.tsx
Due: lint-front-end

lint
  front-end/src/components/Post/Post.tsx
  front-end/src/screens/CreatePost/index.tsx
Due: lint-front-end

Show linked addresses right away if anywithout prompting for accounts (#784)
  front-end/src/screens/Settings/address.tsx
  front-end/src/types.ts
Due: lint-front-end

Update front-end/src/ui-components/CouncilSignalBar.tsx
  front-end/src/ui-components/CouncilSignalBar.tsx
Due: lint-front-end

fix table setup
  hasura/hasura-migrations/migrations/1590576328516_run_sql_migration/down.yaml
  hasura/hasura-migrations/migrations/1590576328516_run_sql_migration/up.yaml
  hasura/hasura-migrations/migrations/1590576353167_alter_table_public_post_votes_add_column_updated_at/down.yaml
  hasura/hasura-migrations/migrations/1590576353167_alter_table_public_post_votes_add_column_updated_at/up.yaml
  hasura/hasura-migrations/migrations/1590576386997_update_permission_user_public_table_post_votes/down.yaml
  hasura/hasura-migrations/migrations/1590576386997_update_permission_user_public_table_post_votes/up.yaml
  hasura/hasura-migrations/migrations/1590576430409_update_permission_anonymous_public_table_post_votes/down.yaml
  hasura/hasura-migrations/migrations/1590576430409_update_permission_anonymous_public_table_post_votes/up.yaml
Due: none

Using council members from chain db rather than onchain. Showing old council of poll closing time has passed
  front-end/src/components/Post/Poll/CouncilSignals.tsx
  front-end/src/components/Post/Poll/index.tsx
  front-end/src/components/Post/Poll/query.ts
  front-end/src/components/Post/Post.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/global/networkConstants.ts
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/screens/CreatePost/query.ts
  front-end/src/screens/DiscussionPost/query.ts
  front-end/src/screens/MotionPost/query.ts
  front-end/src/screens/ProposalPost/query.ts
  front-end/src/screens/ReferendumPost/query.ts
  front-end/src/screens/TreasuryPost/query.ts
  front-end/src/types.ts
  hasura/hasura-migrations/migrations/1590551879644_alter_table_public_posts_add_column_block_number/down.yaml
  hasura/hasura-migrations/migrations/1590551879644_alter_table_public_posts_add_column_block_number/up.yaml
  hasura/hasura-migrations/migrations/1590551903082_update_permission_anonymous_public_table_posts/down.yaml
  hasura/hasura-migrations/migrations/1590551903082_update_permission_anonymous_public_table_posts/up.yaml
  hasura/hasura-migrations/migrations/1590551914387_update_permission_proposal_bot_public_table_posts/down.yaml
  hasura/hasura-migrations/migrations/1590551914387_update_permission_proposal_bot_public_table_posts/up.yaml
  hasura/hasura-migrations/migrations/1590551918775_update_permission_proposal_bot_public_table_posts/down.yaml
  hasura/hasura-migrations/migrations/1590551918775_update_permission_proposal_bot_public_table_posts/up.yaml
  hasura/hasura-migrations/migrations/1590551931219_update_permission_user_public_table_posts/down.yaml
  hasura/hasura-migrations/migrations/1590551931219_update_permission_user_public_table_posts/up.yaml
  hasura/hasura-migrations/migrations/1590551936342_update_permission_user_public_table_posts/down.yaml
  hasura/hasura-migrations/migrations/1590551936342_update_permission_user_public_table_posts/up.yaml
Due: lint-front-end

vertical center label and button fix
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

< 2 check
  front-end/src/ui-components/CouncilSignalBar.tsx
Due: lint-front-end

Signal percentage
  front-end/src/ui-components/GeneralChainSignalBar.tsx
Due: lint-front-end

Helpertooltip next to title
  front-end/src/components/Post/Poll/CouncilSignals.tsx
  front-end/src/components/Post/Poll/GeneralSignals.tsx
  front-end/src/ui-components/HelperTooltip.tsx
Due: lint-front-end

vertical center label and button fix (#813)
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

auth server
  auth-server/package.json
  auth-server/yarn.lock
Due: lint-back-end

health monitor
  health-monitor/package.json
  health-monitor/yarn.lock
Due: none

@polkadot deps
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end, lint-back-end

tabs
  auth-server/package.json
Due: lint-back-end

tabs again
  auth-server/package.json
Due: lint-back-end

Update front-end/src/components/Post/Poll/CouncilSignals.tsx
  front-end/src/components/Post/Poll/CouncilSignals.tsx
Due: lint-front-end

Update front-end/src/components/Post/Poll/GeneralSignals.tsx
  front-end/src/components/Post/Poll/GeneralSignals.tsx
Due: lint-front-end

Added checkbox
  front-end/src/screens/CreatePost/index.tsx
Due: lint-front-end

fix
  front-end/src/components/Post/Poll/CouncilSignals.tsx
Due: lint-front-end

refactor to prevent duplication
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/index.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
Due: lint-front-end

Bump @polkadot/api to 1.16 (#808)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/index.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
Due: lint-front-end, lint-back-end

Cancel poll vote interaction
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/Poll/GeneralSignals.tsx
  front-end/src/ui-components/AyeNayButtons.tsx
  front-end/src/ui-components/Form.tsx
Due: lint-front-end
