Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  - yarn build
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  - yarn tsc
  tags:
  - linux-docker

lint-chain-db-watcher:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd chain-db-watcher
  - yarn install
  - yarn lint
  - yarn tsc
  tags:
  - linux-docker

bounty
  hasura/hasura-migrations/metadata/tables.yaml
  hasura/hasura-migrations/migrations/1603643648961_alter_table_public_onchain_links_add_column_onchain_bounty_id/down.sql
  hasura/hasura-migrations/migrations/1603643648961_alter_table_public_onchain_links_add_column_onchain_bounty_id/up.sql
Due: none

Bounties
  front-end/src/components/Listings/BountiesListing.tsx
  front-end/src/components/MenuBar/index.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostBountyInfo.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Bounties/BountyContainer/index.tsx
  front-end/src/screens/BountyPost/index.tsx
  front-end/src/screens/BountyPost/query.ts
  front-end/src/screens/Home/LatestBounties/index.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/OnChain/Bounties/index.tsx
  front-end/src/screens/OnChain/Bounties/query.ts
  front-end/src/screens/OnChain/index.tsx
  node-watcher/datamodel.prisma
  node-watcher/src/generated/prisma-client/index.ts
  node-watcher/src/generated/prisma-client/prisma-schema.ts
Due: lint-front-end

fix
  front-end/src/components/Listings/BountiesListing.tsx
Due: lint-front-end

added types
  auth-server/src/types.ts
  auth-server/src/utils/getPostId.ts
  auth-server/src/utils/getPostLink.ts
  auth-server/src/utils/getPostType.ts
Due: lint-back-end

chain db watcher
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/queries/discussions-db.queries.ts
  chain-db-watcher/src/sync/getter.ts
  chain-db-watcher/src/sync/index.ts
  chain-db-watcher/src/sync/utils.ts
  chain-db-watcher/src/types.ts
Due: lint-chain-db-watcher

chain db watcher
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/queries/discussions-db.queries.ts
  chain-db-watcher/src/sync/queries/chain-db.queries.ts
  chain-db-watcher/src/sync/queries/discussions-db.queries.ts
Due: lint-chain-db-watcher

nomidot
  node-watcher/src/tasks/createBounty.ts
  node-watcher/src/tasks/createBountyStatus.ts
  node-watcher/src/tasks/index.ts
  node-watcher/src/tasks/types.ts
Due: none

api v2.4.1
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

api v2.4.1 (#1058)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

API bump v2.5.1
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

API bump v2.5.1 (#1062)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

added to prisma
  node-watcher/datamodel.prisma
  node-watcher/src/generated/prisma-client/index.ts
  node-watcher/src/generated/prisma-client/prisma-schema.ts
  node-watcher/src/tasks/createBounty.ts
  node-watcher/src/tasks/types.ts
  node-watcher/src/util/statuses.ts
Due: none

fix
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
Due: lint-chain-db-watcher

fix
  front-end/src/generated/graphql.tsx
  front-end/src/screens/BountyPost/query.ts
Due: lint-front-end

added bounty status
  node-watcher/src/tasks/createBountyStatus.ts
  node-watcher/src/tasks/index.ts
  node-watcher/src/tasks/types.ts
  node-watcher/src/util/statuses.ts
Due: none

bounty proposed
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/sync/queries/chain-db.queries.ts
Due: lint-chain-db-watcher

status
  front-end/src/global/statuses.ts
  front-end/src/ui-components/StatusTag.tsx
Due: lint-front-end

fixed
  chain-db-watcher/src/generated/chain-db-graphql.ts
Due: lint-chain-db-watcher

fix
  front-end/src/generated/graphql.tsx
  front-end/src/screens/OnChain/Bounties/query.ts
Due: lint-front-end

fix
  node-watcher/src/tasks/createBountyStatus.ts
Due: none

Fixed pagination for treasury tips
  front-end/src/screens/Tips/TipContainer/index.tsx
  front-end/src/screens/Treasury/TreasuryContainer/index.tsx
Due: lint-front-end

Fixed pagination for treasury tips (#1063)
  front-end/src/screens/Tips/TipContainer/index.tsx
  front-end/src/screens/Treasury/TreasuryContainer/index.tsx
Due: lint-front-end

chain db open server
  chain-db-open-server/prisma/datamodel.prisma
  chain-db-open-server/src/generated/prisma-client/index.ts
  chain-db-open-server/src/generated/prisma-client/prisma-schema.ts
  chain-db-open-server/src/generated/prisma.graphql
  chain-db-open-server/src/resolvers/query.ts
  chain-db-open-server/src/resolvers/subscription.ts
  chain-db-open-server/src/schema.graphql
Due: none

lint
  front-end/src/components/Post/GovernanceSideBar/index.tsx
Due: lint-front-end

lint fix
  chain-db-watcher/src/sync/getter.ts
Due: lint-chain-db-watcher

lint fix (#1064)
  chain-db-watcher/src/sync/getter.ts
Due: lint-chain-db-watcher

added bounty fix
  chain-db-open-server/src/index.ts
Due: none

added bounty fix (#1065)
  chain-db-open-server/src/index.ts
Due: none

moved to kusama rpc as internal rpc node is outdated
  kubernetes/node-watcher/values-parity-prod.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
Due: none

moved to kusama rpc as internal rpc node is outdated (#1066)
  kubernetes/node-watcher/values-parity-prod.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
Due: none

Added deleteAccount mutation
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/deleteAccount.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/deleteAccount.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end

Added delete account frontend
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Settings/deleteAccount.tsx
  front-end/src/screens/Settings/index.tsx
  front-end/src/screens/Settings/query.ts
Due: lint-front-end

Delete Account Feature (#1068)
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/deleteAccount.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/deleteAccount.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  auth-server/src/utils/messages.ts
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Settings/deleteAccount.tsx
  front-end/src/screens/Settings/index.tsx
  front-end/src/screens/Settings/query.ts
Due: lint-front-end, lint-back-end

api bum 2.6.1
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

added exit due to timeout
  node-watcher/src/nodeWatcher.ts
Due: none

added exit due to timeout (#1070)
  node-watcher/src/nodeWatcher.ts
Due: none

increased timeout
  node-watcher/src/nodeWatcher.ts
Due: none

increased timeout (#1071)
  node-watcher/src/nodeWatcher.ts
Due: none

removed timeout
  node-watcher/src/nodeWatcher.ts
Due: none

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*
