Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  - yarn build
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  - yarn tsc
  tags:
  - linux-docker

lint-chain-db-watcher:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd chain-db-watcher
  - yarn install
  - yarn lint
  - yarn tsc
  tags:
  - linux-docker

added chain db watcher and frontend
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/queries/discussions-db.queries.ts
  chain-db-watcher/src/sync/queries/chain-db.queries.ts
  front-end/src/components/Listings/TipListing.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Home/LatestTips/index.tsx
  front-end/src/screens/TipPost/index.tsx
  front-end/src/screens/TipPost/query.ts
  front-end/src/screens/Tips/TipContainer/index.tsx
  front-end/src/screens/Tips/TipContainer/query.ts
  front-end/src/screens/Tips/index.tsx
  hasura/hasura-migrations/migrations/1592761809044_alter_table_public_onchain_links_add_column_onchain_tip_id/down.yaml
  hasura/hasura-migrations/migrations/1592761809044_alter_table_public_onchain_links_add_column_onchain_tip_id/up.yaml
  hasura/hasura-migrations/migrations/1592762073955_table_onchain_links_create_remote_relationship_onchain_tip/down.yaml
  hasura/hasura-migrations/migrations/1592762073955_table_onchain_links_create_remote_relationship_onchain_tip/up.yaml
  hasura/hasura-migrations/migrations/1592762109304_update_permission_anonymous_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1592762109304_update_permission_anonymous_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/1592762123569_update_permission_proposal_bot_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1592762123569_update_permission_proposal_bot_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/1592762132726_update_permission_proposal_bot_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1592762132726_update_permission_proposal_bot_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/1592762166985_update_permission_user_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1592762166985_update_permission_user_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/metadata.yaml
  node-watcher/datamodel.prisma
  node-watcher/src/generated/prisma-client/index.ts
  node-watcher/src/generated/prisma-client/prisma-schema.ts
  node-watcher/src/tasks/createTip.ts
  node-watcher/src/tasks/types.ts
Due: lint-front-end, lint-chain-db-watcher

Update front-end/nginx/polkassembly.conf
  front-end/nginx/polkassembly.conf
Due: lint-front-end

Support Polkadot (#831)
  front-end/README.md
  front-end/src/components/MenuBar/index.tsx
Due: lint-front-end

kusama-prod env
  .gitlab-ci.yml
Due: none

rather rename file
  kubernetes/redis/values/parity-prod.yaml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Fix CI pipeline for Kusama prod (named parity-prod) (#943)
  kubernetes/redis/values/parity-prod.yaml
Due: none

Added tip proposal
  front-end/src/App.tsx
  front-end/src/components/NoPostFound.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/TipPost/query.ts
Due: lint-front-end

Added Tip to frontend
  front-end/src/components/Post/GovernanceSideBar/EndorseTip.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostTipInfo.tsx
  front-end/src/global/statuses.ts
Due: lint-front-end

Added tip section
  front-end/src/components/Listings/TipListing.tsx
  front-end/src/components/MenuBar/index.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Home/LatestTips/index.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/OnChain/Tips/index.tsx
  front-end/src/screens/OnChain/Tips/query.ts
  front-end/src/screens/OnChain/index.tsx
  front-end/src/ui-components/StatusTag.tsx
Due: lint-front-end

Added finder
  node-watcher/src/tasks/createTip.ts
Due: none

Added chain db watcher for tip
  chain-db-watcher/README.md
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/sync/getter.ts
  chain-db-watcher/src/sync/index.ts
  chain-db-watcher/src/sync/queries/chain-db.queries.ts
  chain-db-watcher/src/sync/queries/discussions-db.queries.ts
  chain-db-watcher/src/sync/utils.ts
  chain-db-watcher/src/types.ts
Due: lint-chain-db-watcher

node-watcher
  node-watcher/package.json
  node-watcher/yarn.lock
Due: none

bump to 0.20.1
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
Due: lint-front-end, lint-back-end

Bump @polkadot deps to 0.20.1 (#944)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

remove who
  front-end/src/components/Post/PostGovernanceInfo/PostTipInfo.tsx
Due: lint-front-end

Added types in refetch
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Comment/Comments.tsx
  front-end/src/components/Comment/EditableCommentContent.tsx
  front-end/src/components/EditablePostContent.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostCommentForm.tsx
Due: lint-front-end

Added endorse sidebar
  front-end/src/components/Post/GovernanceSideBar/EndorseTip.tsx
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Added tip type for new proposal emai;
  auth-server/src/types.ts
  auth-server/src/utils/getPostId.ts
  auth-server/src/utils/getPostType.ts
Due: lint-back-end

fix
  node-watcher/docker-compose.yml
Due: none

Update chain-db-watcher/README.md
  chain-db-watcher/README.md
Due: lint-chain-db-watcher

chain db open serve modifications for tip
  chain-db-open-server/prisma/datamodel.prisma
  chain-db-open-server/src/generated/prisma-client/index.ts
  chain-db-open-server/src/generated/prisma-client/prisma-schema.ts
  chain-db-open-server/src/generated/prisma.graphql
  chain-db-open-server/src/index.ts
  chain-db-open-server/src/resolvers/query.ts
  chain-db-open-server/src/resolvers/subscription.ts
  chain-db-open-server/src/schema.graphql
Due: none

removed endorsements
  node-watcher/datamodel.prisma
  node-watcher/src/generated/prisma-client/index.ts
  node-watcher/src/generated/prisma-client/prisma-schema.ts
  node-watcher/src/tasks/createTip.ts
  node-watcher/src/tasks/types.ts
Due: none

removed datamodel
  chain-db-open-server/prisma/datamodel.prisma
Due: none

yarn generate
  chain-db-open-server/src/generated/prisma-client/index.ts
  chain-db-open-server/src/generated/prisma-client/prisma-schema.ts
Due: none

removed endorsements
  chain-db-open-server/src/generated/prisma.graphql
  chain-db-open-server/src/resolvers/query.ts
  chain-db-open-server/src/resolvers/subscription.ts
  chain-db-open-server/src/schema.graphql
Due: none

fix
  chain-db-open-server/src/resolvers/query.ts
Due: none

sidebar component
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

fix
  chain-db-watcher/src/graphql_helpers.ts
Due: lint-chain-db-watcher

removed code
  hasura/hasura-migrations/migrations/metadata.yaml
Due: none

fix graphql codegen
  chain-db-open-server/src/generated/prisma.graphql
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  front-end/src/generated/graphql.tsx
Due: lint-front-end, lint-chain-db-watcher

correct tip reason
  node-watcher/src/tasks/createTip.ts
  node-watcher/src/tasks/types.ts
Due: none

allow numbers
  front-end/src/components/Post/GovernanceSideBar/EndorseTip.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostTipInfo.tsx
  node-watcher/package.json
Due: lint-front-end

Added time to block
  front-end/src/components/Post/PostGovernanceInfo/PostTipInfo.tsx
Due: lint-front-end

added status update for tips
  node-watcher/src/tasks/index.ts
  node-watcher/src/tasks/types.ts
Due: none

create tip status
  node-watcher/src/tasks/createTipStatus.ts
Due: none

showing only opened status
  front-end/src/screens/OnChain/Tips/query.ts
Due: lint-front-end

codegen
  front-end/src/generated/graphql.tsx
  front-end/src/screens/OnChain/Tips/query.ts
Due: lint-front-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*
