Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*

user id numebr
  front-end/src/screens/ResetPassword/index.tsx
Due: lint-front-end

add title not edited
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Listings/DiscussionsListing.tsx
  front-end/src/generated/graphql.tsx
Due: lint-front-end

add title in PostContent
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Post/PostContent.tsx
  front-end/src/global/noTitle.ts
Due: lint-front-end

to dev (#657)
  front-end/package.json
Due: lint-front-end

alphabetical sorting
  auth-server/src/schema/mutation/changeUsername.ts
Due: lint-back-end

Added muted text on no email
  front-end/src/screens/Settings/email.tsx
Due: lint-front-end

Handle default title in the front - make nullable in Discussion db. (#658)
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/queries/discussions-db.queries.ts
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Listings/DiscussionsListing.tsx
  front-end/src/components/Post/PostContent.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/global/noTitle.ts
  hasura/hasura-migrations/migrations/1587052949446_alter_table_public_posts_alter_column_title/down.yaml
  hasura/hasura-migrations/migrations/1587052949446_alter_table_public_posts_alter_column_title/up.yaml
Due: lint-front-end, lint-chain-db-watcher

Moved password reset token to redis (#606)
  auth-server/migrations/20200406182634_password_reset_token_remove.js
  auth-server/package.json
  auth-server/src/model/PasswordResetToken.ts
  auth-server/src/redis.ts
  auth-server/src/resolvers/mutation/resetPassword.ts
  auth-server/src/schema/mutation/resetPassword.ts
  auth-server/src/services/auth.ts
  auth-server/src/services/email.ts
  auth-server/src/types.ts
  auth-server/src/utils/messages.ts
  auth-server/test/resolvers/mutation/resetPassword.spec.ts
  auth-server/test/services/email/email.spec.ts
  auth-server/yarn.lock
  front-end/src/App.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/ResetPassword/index.tsx
  front-end/src/screens/ResetPassword/query.ts
Due: lint-front-end, lint-back-end

added padding top
  front-end/src/screens/Settings/username.tsx
Due: lint-front-end

Added frontend validation to user name with react hook
  front-end/src/screens/Settings/username.tsx
Due: lint-front-end

Added frontend validation to email
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/Settings/username.tsx
Due: lint-front-end

email not required
  front-end/src/screens/Settings/email.tsx
Due: lint-front-end

use url in staging
  .gitlab-ci.yml
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

use url in staging (#660)
  .gitlab-ci.yml
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

blockToTime & countdown
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumCountdown.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/global/networkConstants.ts
  front-end/src/types.ts
  front-end/src/util/blockToTime.ts
Due: lint-front-end

Block Info Popup
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumCountdown.tsx
Due: lint-front-end

NothingFoundCard
  front-end/src/components/Listings/MotionsListing.tsx
  front-end/src/components/Listings/ProposalsListing.tsx
  front-end/src/components/Listings/ReferendaListing.tsx
  front-end/src/components/Listings/TreasuryListing.tsx
  front-end/src/ui-components/NothingFoundCard.tsx
Due: lint-front-end

naming
  front-end/src/ui-components/NothingFoundCard.tsx
Due: lint-front-end

Update front-end/src/components/Listings/MotionsListing.tsx
  front-end/src/components/Listings/MotionsListing.tsx
Due: lint-front-end

Update front-end/src/components/Listings/ProposalsListing.tsx
  front-end/src/components/Listings/ProposalsListing.tsx
Due: lint-front-end

Update front-end/src/components/Listings/ReferendaListing.tsx
  front-end/src/components/Listings/ReferendaListing.tsx
Due: lint-front-end

Update front-end/src/components/Listings/TreasuryListing.tsx
  front-end/src/components/Listings/TreasuryListing.tsx
Due: lint-front-end

Made username case insensitive
  auth-server/src/services/auth.ts
Due: lint-back-end

Case insensitive test
  auth-server/test/resolvers/mutation/signup.spec.ts
Due: lint-back-end

Added default address feature
  auth-server/migrations/20200420130047_address_default.js
  auth-server/src/model/Address.ts
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/addressDefault.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/addressDefault.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end

fix
  auth-server/src/model/Address.ts
Due: lint-back-end

Added default address in token
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
Due: lint-back-end

Added updated jwt in response
  auth-server/src/resolvers/mutation/addressDefault.ts
  auth-server/src/schema/mutation/addressDefault.ts
  auth-server/src/services/auth.ts
Due: lint-back-end

fix
  auth-server/src/services/auth.ts
Due: lint-back-end

Added default address mutation
  front-end/src/context/UserDetailsContext.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/screens/Settings/query.ts
  front-end/src/types.ts
Due: lint-front-end

latest graphql
  front-end/src/generated/graphql.tsx
Due: lint-front-end

Empty queue card (#668)
  front-end/src/components/Listings/MotionsListing.tsx
  front-end/src/components/Listings/ProposalsListing.tsx
  front-end/src/components/Listings/ReferendaListing.tsx
  front-end/src/components/Listings/TreasuryListing.tsx
  front-end/src/ui-components/NothingFoundCard.tsx
Due: lint-front-end

Made username case insensitive (#674)
  auth-server/src/services/auth.ts
  auth-server/test/resolvers/mutation/signup.spec.ts
Due: lint-back-end

Added Spacer div
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/Settings/fullname.tsx
  front-end/src/screens/Settings/password.tsx
  front-end/src/screens/Settings/username.tsx
Due: lint-front-end

added spacer component
  front-end/src/ui-components/Spacer.tsx
Due: lint-front-end

classname
  front-end/src/ui-components/Spacer.tsx
  front-end/src/ui-components/Tag.tsx
Due: lint-front-end

added validation from common file
  front-end/src/screens/Settings/username.tsx
  front-end/src/screens/SignupForm/index.tsx
Due: lint-front-end

added validation from common file
  front-end/src/util/validation.ts
Due: lint-front-end

handling empty email case
  auth-server/src/resolvers/mutation/changeEmail.ts
  auth-server/src/services/auth.ts
Due: lint-back-end

added remove email case
  auth-server/src/resolvers/mutation/changeEmail.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end
