Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*

added more check
  node-watcher/src/tasks/createTipStatus.ts
Due: none

fix
  node-watcher/src/tasks/createTipStatus.ts
Due: none

Change status name
  front-end/src/generated/graphql.tsx
  front-end/src/global/statuses.ts
  front-end/src/screens/OnChain/Tips/query.ts
  node-watcher/src/tasks/createTipStatus.ts
  node-watcher/src/util/statuses.ts
Due: lint-front-end

tip openend
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/sync/queries/chain-db.queries.ts
  front-end/src/global/statuses.ts
  node-watcher/src/util/statuses.ts
Due: lint-front-end, lint-chain-db-watcher

Update chain-db-watcher/src/sync/index.ts
  chain-db-watcher/src/sync/index.ts
Due: lint-chain-db-watcher

Update chain-db-watcher/src/sync/queries/chain-db.queries.ts
  chain-db-watcher/src/sync/queries/chain-db.queries.ts
Due: lint-chain-db-watcher

Update front-end/src/screens/Tips/index.tsx
  front-end/src/screens/Tips/index.tsx
Due: lint-front-end

Update front-end/src/components/Listings/TipListing.tsx
  front-end/src/components/Listings/TipListing.tsx
Due: lint-front-end

Update chain-db-watcher/src/queries.ts
  chain-db-watcher/src/queries.ts
Due: lint-chain-db-watcher

closing shouldnot show negative days
  front-end/src/components/BlockCountdown.tsx
Due: lint-front-end

front end
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

auth-server + fix faling test
  auth-server/package.json
  auth-server/test/resolvers/query/subscription.spec.ts
  auth-server/yarn.lock
Due: lint-back-end

notip banner
  front-end/src/components/Listings/TipListing.tsx
Due: lint-front-end

add at
  node-watcher/src/tasks/createTipStatus.ts
Due: none

node-watcher
  node-watcher/package.json
  node-watcher/src/nodeWatcher.ts
  node-watcher/yarn.lock
Due: none

health-monitor
  health-monitor/package.json
  health-monitor/yarn.lock
Due: none

notip banner (#953)
  front-end/src/components/Listings/TipListing.tsx
Due: lint-front-end

add at (#954)
  node-watcher/src/tasks/createTipStatus.ts
Due: none

Bump @polkadot/api 1.23 (#955)
  auth-server/package.json
  auth-server/test/resolvers/query/subscription.spec.ts
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/src/nodeWatcher.ts
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

onchain_tip_id to text
  hasura/hasura-migrations/metadata/tables.yaml
  hasura/hasura-migrations/migrations/1594645939219_change_onchain_tip_id_to_text/up.sql
Due: none

save tip as hash
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/queries/discussions-db.queries.ts
  chain-db-watcher/src/sync/index.ts
  chain-db-watcher/src/sync/utils.ts
Due: lint-chain-db-watcher

donot show the hash in the front
  front-end/src/App.tsx
  front-end/src/components/EditablePostContent.tsx
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Listings/TipListing.tsx
  front-end/src/components/Post/GovernanceSideBar/EndorseTip.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostContent.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/TipPost/index.tsx
  front-end/src/screens/TipPost/query.ts
Due: lint-front-end

make email subject readable
  auth-server/src/services/email.ts
  auth-server/src/utils/shortenHash.ts
Due: lint-back-end

show reason in the title
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Listings/TipListing.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/OnChain/Tips/query.ts
  front-end/src/screens/Tips/TipContainer/query.ts
Due: lint-front-end

Added external links to subscan and polkascan
  front-end/public/polkascan.png
  front-end/public/subscan.png
  front-end/src/components/Post/ExternalLinks.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/ui-components/Button.tsx
Due: lint-front-end

css fix for long reasons
  front-end/src/components/GovernanceCard.tsx
Due: lint-front-end

Use hash for onchain tips (#959)
  auth-server/src/services/email.ts
  auth-server/src/utils/shortenHash.ts
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/queries/discussions-db.queries.ts
  chain-db-watcher/src/sync/index.ts
  chain-db-watcher/src/sync/utils.ts
  front-end/src/App.tsx
  front-end/src/components/EditablePostContent.tsx
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Listings/TipListing.tsx
  front-end/src/components/Post/GovernanceSideBar/EndorseTip.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostContent.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/OnChain/Tips/query.ts
  front-end/src/screens/TipPost/index.tsx
  front-end/src/screens/TipPost/query.ts
  front-end/src/screens/Tips/TipContainer/query.ts
  hasura/hasura-migrations/metadata/tables.yaml
  hasura/hasura-migrations/migrations/1594645939219_change_onchain_tip_id_to_text/up.sql
Due: lint-front-end, lint-back-end, lint-chain-db-watcher

front-end
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

auth-server
  auth-server/package.json
  auth-server/yarn.lock
Due: lint-back-end

node-watcher
  node-watcher/package.json
  node-watcher/yarn.lock
Due: none

Bum polkadot api 1.24 (#961)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

add reset every 6h
  chain-db-watcher/src/index.ts
Due: lint-chain-db-watcher

add reset every 6h (#962)
  chain-db-watcher/src/index.ts
Due: lint-chain-db-watcher

added external links
  front-end/src/components/Post/ExternalLinks.tsx
Due: lint-front-end

added external link
  front-end/src/components/Post/ExternalLinks.tsx
  front-end/src/components/Post/Post.tsx
Due: lint-front-end
