Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-chain-db-watcher:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd chain-db-watcher
  - yarn install
  - yarn lint
  tags:
  - linux-docker

Show electorate instead of ayes and nays
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
Due: lint-front-end

hide passing threshold when 0
  front-end/src/ui-components/VoteProgress.tsx
Due: lint-front-end

failling threshold
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/utils/getPassingThreshold.ts
  front-end/src/components/Post/GovernanceSideBar/Referenda/utils/getThresholds.ts
  front-end/src/components/Post/GovernanceSideBar/Referenda/utils/index.ts
  front-end/src/components/Post/GovernanceSideBar/Referenda/utils/isPassing.ts
  front-end/src/components/Post/GovernanceSideBar/Referenda/utils/types.ts
  front-end/src/ui-components/PassingInfo.tsx
  front-end/src/ui-components/VoteProgress.tsx
Due: lint-front-end

Sidebar glitch fix (#792)
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

Setting address as default if it is the first address to be linked
  auth-server/src/services/auth.ts
Due: lint-back-end

test
  auth-server/test/resolvers/mutation/addressLinkConfirm.spec.ts
Due: lint-back-end

deleting address after test
  auth-server/test/resolvers/mutation/addressLinkConfirm.spec.ts
Due: lint-back-end

deleting address after test
  auth-server/test/resolvers/mutation/addressLinkStart.spec.ts
Due: lint-back-end

adding turnout percentage
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/ui-components/PassingInfo.tsx
Due: lint-front-end

any interface
  chain-db-watcher/src/index.ts
Due: lint-chain-db-watcher

any interface (#798)
  chain-db-watcher/src/index.ts
Due: lint-chain-db-watcher

Using context
  front-end/src/App.tsx
  front-end/src/components/Head.tsx
  front-end/src/types.ts
Due: lint-front-end

Using context
  front-end/src/context/MetaContext.tsx
Due: lint-front-end

with comments
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
Due: lint-front-end

setting description and title
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

combine conditions
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

Update front-end/src/util/blockToTime.ts
  front-end/src/util/blockToTime.ts
Due: lint-front-end

Util unit tests (#774)
  front-end/jest.config.js
  front-end/package.json
  front-end/src/test/__snapshots__/storyshots.test.ts.snap
  front-end/src/util/__tests__/blockToTime.test.ts
  front-end/src/util/__tests__/formatBnBalance.test.ts
  front-end/src/util/__tests__/getEncodedAddress.test.ts
  front-end/src/util/__tests__/validation.test.ts
  front-end/src/util/blockToTime.ts
  front-end/src/util/formatBnBalance.ts
  front-end/yarn.lock
Due: lint-front-end

add linked address condition
  front-end/src/screens/Home/index.tsx
Due: lint-front-end

test for getPassingThreshold
  util/CHANGELOG.md
  util/jest.config.js
  util/package.json
  util/src/__test__/getThreshold.test.ts
  util/src/getPassingThreshold.ts
  util/src/getThresholds.ts
  util/src/types.ts
  util/yarn.lock
Due: none

test for getFailingThreshold
  util/CHANGELOG.md
  util/src/__test__/getThreshold.test.ts
  util/src/getThresholds.ts
  util/src/types.ts
Due: none

cleanup
  util/package.json
  util/src/getThresholds.ts
  util/yarn.lock
Due: none

typo
  util/CHANGELOG.md
Due: none

stray logs
  util/src/getThresholds.ts
Due: none

use @polkassembly/util@0.2.0
  front-end/package.json
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/utils/getThresholds.ts
  front-end/src/components/Post/GovernanceSideBar/Referenda/utils/index.ts
  front-end/src/components/Post/GovernanceSideBar/Referenda/utils/newton-raphson.ts
  front-end/src/components/Post/GovernanceSideBar/Referenda/utils/solveQuadraticEquation.ts
  front-end/src/components/Post/GovernanceSideBar/Referenda/utils/types.ts
  front-end/src/ui-components/PassingInfo.tsx
  front-end/src/ui-components/VoteProgress.tsx
  front-end/yarn.lock
Due: lint-front-end

clean-up
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/tsconfig.json
  util/src/getPassingThreshold.ts
Due: lint-front-end

add comments
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/ui-components/VoteProgress.tsx
Due: lint-front-end

Added check for unique address (#778)
  auth-server/src/resolvers/mutation/addressLinkStart.ts
  auth-server/src/utils/messages.ts
  auth-server/test/resolvers/mutation/addressLinkConfirm.spec.ts
  auth-server/test/resolvers/mutation/addressLinkStart.spec.ts
Due: lint-back-end

verify addresses
  auth-server/src/utils/getNetworkUserAddressInfoFromUserId.ts
Due: lint-back-end

Setting first address as default (#797)
  auth-server/src/services/auth.ts
  auth-server/test/resolvers/mutation/addressLinkConfirm.spec.ts
Due: lint-back-end

verify addresses (#800)
  auth-server/src/utils/getNetworkUserAddressInfoFromUserId.ts
Due: lint-back-end

DefaultAddressInfoBox
  front-end/src/components/DefaultAddressInfoBox.tsx
  front-end/src/screens/Discussions/index.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/ui-components/InfoBox.tsx
Due: lint-front-end

condition back to home and discussion
  front-end/src/components/DefaultAddressInfoBox.tsx
  front-end/src/screens/Discussions/index.tsx
  front-end/src/screens/Home/index.tsx
Due: lint-front-end

InfoBox sryling update
  front-end/src/themes/theme.ts
  front-end/src/ui-components/InfoBox.tsx
Due: lint-front-end

removed invalid test
  auth-server/test/resolvers/mutation/login.spec.ts
  auth-server/test/resolvers/mutation/signup.spec.ts
Due: lint-back-end

using -1 instead of 0
  auth-server/test/resolvers/mutation/addressLinkConfirm.spec.ts
  auth-server/test/resolvers/mutation/addressLinkStart.spec.ts
  auth-server/test/resolvers/mutation/addressLogin.spec.ts
  auth-server/test/resolvers/mutation/addressUnlink.spec.ts
  auth-server/test/resolvers/mutation/changeEmail.spec.ts
  auth-server/test/resolvers/mutation/changeName.spec.ts
  auth-server/test/resolvers/mutation/changeNotificationPreference.spec.ts
  auth-server/test/resolvers/mutation/changePassword.spec.ts
  auth-server/test/resolvers/mutation/changeUsername.spec.ts
  auth-server/test/resolvers/mutation/login.spec.ts
  auth-server/test/resolvers/mutation/logout.spec.ts
  auth-server/test/resolvers/mutation/postSubscribe.spec.ts
  auth-server/test/resolvers/mutation/postUnsubscribe.spec.ts
  auth-server/test/resolvers/mutation/resendVerifyEmailToken.spec.ts
  auth-server/test/resolvers/mutation/resetPassword.spec.ts
  auth-server/test/resolvers/mutation/undoEmailChange.spec.ts
  auth-server/test/resolvers/mutation/verifyEmail.spec.ts
  auth-server/test/resolvers/query/subscription.spec.ts
Due: lint-back-end

Update util/src/getThresholds.ts
  util/src/getThresholds.ts
Due: none

Add info box for user with no default address (#793)
  front-end/src/components/DefaultAddressInfoBox.tsx
  front-end/src/screens/Discussions/index.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/themes/theme.ts
  front-end/src/ui-components/GlobalStyle.tsx
  front-end/src/ui-components/InfoBox.tsx
Due: lint-front-end

fix tests
  auth-server/test/resolvers/mutation/changeEmail.spec.ts
  auth-server/test/resolvers/mutation/resendVerifyEmailToken.spec.ts
Due: lint-back-end

bump
  auth-server/yarn.lock
  chain-db-watcher/yarn.lock
  front-end/yarn.lock
  health-monitor/yarn.lock
Due: lint-front-end, lint-back-end, lint-chain-db-watcher

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*
