Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*

add default address
  auth-server/src/resolvers/query/user.ts
  auth-server/src/schema/type/user.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
Due: lint-back-end

delete users query and tests
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/query/users.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/query/users.ts
  auth-server/src/types.ts
  auth-server/test/resolvers/query/users.spec.ts
Due: lint-back-end

network address
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
Due: lint-back-end

Delete unused `users` query from auth-server (#758)
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/query/user.ts
  auth-server/src/resolvers/query/users.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/query/users.ts
  auth-server/src/schema/type/user.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  auth-server/test/resolvers/query/users.spec.ts
Due: lint-back-end

fix network
  front-end/src/services/auth.service.tsx
Due: lint-front-end

missing ;
  auth-server/src/services/auth.ts
Due: lint-back-end

Token as single source of truth (#748)
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  front-end/src/components/Apollo.tsx
  front-end/src/components/Login/Web2Login.tsx
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/components/Signup/Web2Signup.tsx
  front-end/src/components/Signup/Web3Signup.tsx
  front-end/src/context/UserDetailsContext.tsx
  front-end/src/screens/NotificationSettings/index.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/Settings/fullname.tsx
  front-end/src/screens/Settings/setCredentials.tsx
  front-end/src/screens/Settings/username.tsx
  front-end/src/screens/UndoEmailChange/index.tsx
  front-end/src/screens/VerifyEmail/index.tsx
  front-end/src/services/auth.service.tsx
  front-end/src/types.ts
Due: lint-front-end, lint-back-end

Update auth-server/src/utils/messages.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end

Update auth-server/test/resolvers/mutation/addressSignup.spec.ts
  auth-server/test/resolvers/mutation/addressSignup.spec.ts
Due: lint-back-end

Update front-end/src/components/Signup/Web2Signup.tsx
  front-end/src/components/Signup/Web2Signup.tsx
Due: lint-front-end

Update front-end/src/components/Signup/Web3Signup.tsx
  front-end/src/components/Signup/Web3Signup.tsx
Due: lint-front-end

Update front-end/src/screens/Settings/setCredentials.tsx
  front-end/src/screens/Settings/setCredentials.tsx
Due: lint-front-end

calling uuid after error
  auth-server/src/services/auth.ts
Due: lint-back-end

fix
  auth-server/src/services/auth.ts
Due: lint-back-end

Code duplicate
  auth-server/src/services/auth.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end

code reuse
  auth-server/src/services/auth.ts
Due: lint-back-end

moved uuid
  auth-server/src/services/auth.ts
Due: lint-back-end

deleting setCredentials check
  auth-server/src/services/auth.ts
Due: lint-back-end

redisSignMessage
  auth-server/test/resolvers/mutation/addressSignup.spec.ts
Due: lint-back-end

Address in Menubar
  front-end/src/components/MenuBar/index.tsx
Due: lint-front-end

indentation fix
  auth-server/test/resolvers/mutation/addressSignup.spec.ts
Due: lint-back-end

Test fix
  auth-server/test/resolvers/mutation/addressSignup.spec.ts
Due: lint-back-end

remove warn
  front-end/src/components/Balance.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/ui-components/Address.tsx
Due: lint-front-end

Update front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
Due: lint-front-end

Show endblock while loading api
  front-end/src/components/BlockCountdown.tsx
Due: lint-front-end

adding input_border_radius
  front-end/src/themes/theme.ts
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/Input.tsx
Due: lint-front-end

fix conflicts
  auth-server/src/resolvers/query/user.ts
  auth-server/src/services/auth.ts
Due: lint-back-end

centralised validation
  front-end/src/components/Login/Web2Login.tsx
  front-end/src/components/Signup/Web2Signup.tsx
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/Settings/setCredentials.tsx
  front-end/src/util/validation.ts
Due: lint-front-end

fix JWT and optimize
  auth-server/src/resolvers/query/user.ts
  auth-server/src/schema/type/user.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  auth-server/src/utils/getAllAddressesFromUserId.ts
  auth-server/src/utils/getDefaultAddressFromAddressArray.ts
  auth-server/src/utils/getNetworkUserAddressInfoFromUserId.ts
  auth-server/src/utils/getVerifiedNetworkAddressesFromUserId.ts
Due: lint-back-end

Not locading account
  front-end/src/screens/Settings/setCredentials.tsx
Due: lint-front-end

setting web3 from source
  front-end/src/screens/Settings/setCredentials.tsx
Due: lint-front-end

Wider comment thread (#737)
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/themes/theme.ts
  front-end/src/ui-components/AddressDropdown.tsx
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/Input.tsx
Due: lint-front-end

fix nits
  front-end/src/components/BlockCountdown.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
Due: lint-front-end

Countdown component (#683)
  front-end/src/components/BlockCountdown.tsx
  front-end/src/components/BlocksToTime.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/global/networkConstants.ts
  front-end/src/screens/ReferendumPost/query.ts
  front-end/src/types.ts
  front-end/src/util/blockToTime.ts
Due: lint-front-end

with blocktotime
  front-end/src/components/BlockCountdown.tsx
  front-end/src/components/BlocksToTime.tsx
  front-end/src/context/ApiContext.tsx
Due: lint-front-end
