Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end, lint-chain-db-watcher

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  - yarn build
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  - yarn tsc
  tags:
  - linux-docker

lint-chain-db-watcher:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd chain-db-watcher
  - yarn install
  - yarn lint
  - yarn tsc
  tags:
  - linux-docker

removed unused
  node-watcher/src/nodeWatcher.ts
Due: none

removed timeout (#1072)
  node-watcher/src/nodeWatcher.ts
Due: none

api bump 2.8.1
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

api bump 2.10.1
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

fix
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

api bump 2.10.1 (#1080)
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

make use of docker:git (latest)
  .gitlab-ci.yml
Due: none

make use of docker:git (latest) (#1081)
  .gitlab-ci.yml
Due: none

quick fix: pin dockerversion
  .gitlab-ci.yml
Due: none

quick fix: pin dockerversion (#1082)
  .gitlab-ci.yml
Due: none

test PR
  auth-server/src/index.ts
Due: lint-back-end

using buildah instead of docker:dind now
  .gitlab-ci.yml
Due: none

add "docker.io" regestry exlicitly
  .gitlab-ci.yml
Due: none

removed STORAGE_DRIVER
  .gitlab-ci.yml
Due: none

using buildah instead of docker:dind now (#1084)
  .gitlab-ci.yml
Due: none

Added google site verification for accessing google webmaster tools for SEO
  front-end/public/googledc863757e8d3b723.html
Due: lint-front-end

Added google site verification for accessing google webmaster tools for SEO (#1085)
  front-end/public/googledc863757e8d3b723.html
Due: lint-front-end

fix docker repository image
  kubernetes/node-watcher/values.yaml
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values-polkadot-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

fix docker repository image (#1086)
  kubernetes/node-watcher/values.yaml
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values-polkadot-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

CI: update manifest version
  .gitlab-ci.yml
Due: none

CI: update manifest version (#1087)
  .gitlab-ci.yml
Due: none

api bump v-3.2.1
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

CI: remove squash and fix buildah push
  .gitlab-ci.yml
Due: none

CI: remove squash and fix buildah push (#1090)
  .gitlab-ci.yml
Due: none

bump polkadot deps
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

fix lint
  front-end/.eslintcache
  front-end/src/components/Post/GovernanceSideBar/EndorseTip.tsx
  front-end/src/components/Post/GovernanceSideBar/Motions/VoteMotion.tsx
Due: lint-front-end

fix
  auth-server/package.json
Due: lint-back-end

removed --resolveJsonModule
  .gitlab-ci.yml
Due: none

fix
  chain-db-open-server/package.json
  chain-db-watcher/package.json
  health-monitor/package.json
  node-watcher/yarn.lock
Due: lint-chain-db-watcher

react-scripts-rewired
  front-end/.eslintcache
  front-end/package.json
Due: lint-front-end

fix tips
  node-watcher/package.json
  node-watcher/src/tasks/createTip.ts
  node-watcher/src/test.ts
Due: none

+.eslintcache
  front-end/.gitignore
Due: lint-front-end

fix infinte loop issue
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/src/App.tsx
  front-end/src/components/Balance.tsx
  front-end/src/components/Post/GovernanceSideBar/EndorseTip.tsx
  front-end/src/components/Post/GovernanceSideBar/Motions/MotionVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Motions/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/index.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/context/ApiContext.tsx
  front-end/src/hooks/useBlockTime.ts
  front-end/src/hooks/useCurrentBlock.ts
  front-end/src/screens/UserProfile/index.tsx
  front-end/src/ui-components/Address.tsx
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end

api bump v-3.2.1 (#1089)
  .gitlab-ci.yml
  auth-server/package.json
  auth-server/yarn.lock
  chain-db-open-server/package.json
  chain-db-watcher/package.json
  front-end/.eslintrc.json
  front-end/.gitignore
  front-end/config-overrides.js
  front-end/package.json
  front-end/src/App.tsx
  front-end/src/components/Balance.tsx
  front-end/src/components/Post/GovernanceSideBar/EndorseTip.tsx
  front-end/src/components/Post/GovernanceSideBar/Motions/MotionVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Motions/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/index.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/context/ApiContext.tsx
  front-end/src/hooks/useBlockTime.ts
  front-end/src/hooks/useCurrentBlock.ts
  front-end/src/screens/BountyPost/index.tsx
  front-end/src/screens/DiscussionPost/index.tsx
  front-end/src/screens/MotionPost/index.tsx
  front-end/src/screens/ProposalPost/index.tsx
  front-end/src/screens/ReferendumPost/index.tsx
  front-end/src/screens/TipPost/index.tsx
  front-end/src/screens/TreasuryPost/index.tsx
  front-end/src/screens/UserProfile/index.tsx
  front-end/src/ui-components/Address.tsx
  front-end/tsconfig.json
  front-end/yarn.lock
  health-monitor/package.json
  health-monitor/yarn.lock
  node-watcher/package.json
  node-watcher/src/tasks/createTip.ts
  node-watcher/src/test.ts
  node-watcher/yarn.lock
Due: lint-front-end, lint-back-end, lint-chain-db-watcher

Redirecting to homepage on login if already loggedin
  front-end/src/screens/LoginForm/index.tsx
  front-end/tsconfig.json
Due: lint-front-end

fix
  front-end/tsconfig.json
Due: lint-front-end

Fix lint bug and removed storybook
  front-end/.eslintrc.json
  front-end/.storybook/addons.ts
  front-end/.storybook/config.ts
  front-end/.storybook/webpack.config.ts
  front-end/header.js
  front-end/package.json
  front-end/src/ui-components/stories/Button.stories.tsx
  front-end/src/ui-components/stories/customDecorators/withTheme.tsx
  front-end/yarn.lock
Due: lint-front-end

Misc Fixes (#1092)
  front-end/.eslintrc.json
  front-end/.storybook/addons.ts
  front-end/.storybook/config.ts
  front-end/.storybook/webpack.config.ts
  front-end/header.js
  front-end/package.json
  front-end/src/screens/LoginForm/index.tsx
  front-end/src/ui-components/stories/Button.stories.tsx
  front-end/src/ui-components/stories/customDecorators/withTheme.tsx
  front-end/yarn.lock
Due: lint-front-end

fixd
  health-monitor/package.json
Due: none

fixd (#1093)
  health-monitor/package.json
Due: none

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
  lint-chain-db-watcher: any of: chain-db-watcher/**/*
